# Resource planning --- full

In [18]:
%%html
<style>
table {float:left}
</style>

| Document info | |
| --- | --- | 
| Area of interest: | Cape Town |
| Planning type: | All REL type producers |
| Prepared by: | Waste Labs (wastelabs.co) |
| Prepared for: | Johan W. Joubert |
| Contact: | elias@wastelabs.co |

In [19]:
%load_ext autoreload
%autoreload 2
%config Completer.use_jedi = False

# Show all code cells outputs
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

import logging

logging.basicConfig(level=logging.INFO)

import pickle

import chart_studio.plotly as py
import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot

init_notebook_mode(connected=True)

import cufflinks as cf

cf.go_offline(connected=True)
cf.set_config_file(colorscale="plotly", world_readable=True)

import os
import sys

import geopandas as gpd
import ipywidgets as widgets
import numpy as np
import pandas as pd
import plotly.graph_objects as go
from GPSOdyssey import Kepler
from IPython.display import clear_output
from ipywidgets import fixed, interact, interact_manual, interactive
from keplergl import KeplerGl
from shapely import wkt

# sys.path.insert(0, '../../../mcarptif/')
# sys.path.insert(0, os.path.abspath('../../collection_diagnostics/'))
# sys.path.insert(0, os.path.abspath('../../OSM_processing/'))
import utils.process_gdf as process_gdf

# Extra options
pd.options.display.max_rows = 1000
pd.options.display.max_columns = 1000

from mcarptif.osmnx_network_extract.extract_grptif import NetworkExtract
from mcarptif.osmnx_network_extract.network_code import create_gdf, required_arc_plot
from mcarptif.solver.solve import solve_store_instance
from mcarptif.visualise.route_tables import RouteSummary
from utils.gdf_helpers import create_gdf


def df_style(df):
    if df[0] == "Total":
        return ["font-weight: bold"] * len(df)
    else:
        return [""] * len(df)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Load network data

In [20]:
networkh5_file = "../data/05_model_input/sp_files/road_network_simplified_24645.h"
test_network = catalog.load("road_network_simplified_24645_edges")
test_network = test_network.drop(columns=["Unnamed: 0"], errors="ignore")
test_network_directed = catalog.load("road_network_simplified_24645_edges_directed")
nodes = catalog.load("road_network_simplified_24645_nodes")

2022-05-30 23:29:17,088 - kedro.io.data_catalog - INFO - Loading data from `road_network_simplified_24645_edges` (GeoJSONDataSet)...
2022-05-30 23:29:18,737 - kedro.io.data_catalog - INFO - Loading data from `road_network_simplified_24645_edges_directed` (GeoJSONDataSet)...
2022-05-30 23:29:19,716 - kedro.io.data_catalog - INFO - Loading data from `road_network_simplified_24645_nodes` (GeoJSONDataSet)...

In [21]:
test_network.shape

(22189, 19)

In [22]:
%%time
test_network = process_gdf.process_edges(test_network)
test_network.drop_duplicates(["geom_id"], inplace=True)
nodes.sp_index = nodes.index
test_network["arc_index"] = test_network.index
nodes["sp_index"] = nodes.index

CPU times: user 824 ms, sys: 20.2 ms, total: 844 ms
Wall time: 856 ms

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/geopandas/geodataframe.py:199: UserWarning:

Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

## Run scenarios

In [26]:
%reload_kedro

df_lat_lon_match = catalog.load("lat_lon_key_network_match")
df_producer_geo_all = catalog.load("syn_pop_scenarios_local")
keys_all = list(df_producer_geo_all)

for keys in keys_all:
    if keys[0] == ".": continue
    print(f"\n\n RUNNING SCENARIO {keys}")

    df_producer_geo = df_producer_geo_all[keys]()
    df_producer_geo["lat_lon_id"] = (
        df_producer_geo[["parcelLat", "parcelLon"]]
        .round(8)
        .astype(str)
        .agg("-".join, axis=1)
    )
    df_producer_geo = df_producer_geo.merge(df_lat_lon_match, left_on="lat_lon_id", right_on="lat_lon_id")

    df_producer_geo = df_producer_geo.merge(
        test_network[["arc_id", "geom_id", "geom_id_inv", "geom_id_order", "arc_index"]],
        validate="m:1",
    )
    df_producer_geo["land_use"] = df_producer_geo["mainDwellingType"].fillna("nan")


    df_producer_geo_waste = catalog.load("waste_gen_scenarios_local")[keys]()
    df_producer_geo_waste = df_producer_geo_waste.loc[df_producer_geo_waste["id"] != 0.01]
    df_producer_geo_waste = df_producer_geo_waste.loc[df_producer_geo_waste["id"].isin(df_producer_geo["id"])]

    routing_parameters = catalog.load(
        "routing_parameters"
    )  # pd.read_excel('../routing_parameters/refuse_parameters.xlsx', sheet_name = 'Refuse_P1')
    routing_parameters.fillna(0, inplace=True)

    calculate = ["bin_service_cost"]
    df_producer_geo.drop(columns=calculate, inplace=True, errors="ignore")
    df_producer_geo["Domestic"] = 1
    df_producer_geo["Non Domestic"] = 0
    df_producer_geo["H/M"] = 0
    df_producer_geo["category"] = "Landed"
    df_producer_geo["land_use"] = "Landed"
    df_producer_geo["total units"] = 1
    df_producer_geo["total_people"] = 1
    df_producer_geo["Postal Code"] = df_producer_geo["id"]

    df_producer_geo = df_producer_geo.merge(routing_parameters)
    df_producer_geo = df_producer_geo.merge(
        df_producer_geo_waste, how="left", validate="1:1"
    )
    df_producer_geo["demand"] = df_producer_geo["waste"]
    print("\n# offloads (12t)")
    df_producer_geo.groupby("land_use")["demand"].sum() / 12000  # number of offloads
    print("\n# units")
    df_producer_geo.groupby("land_use")["total units"].sum()
    print("\n# shifts (bin service cost)")
    df_producer_geo.groupby("land_use")["bin_service_cost"].sum() / (
        3600 * 8
    )  # number of shifts

    infrastructure = catalog.load("infrastructure_sample_network_match")
    key_pois = infrastructure
    key_pois["Postal Code"] = key_pois["id"]

    key_pois["u"] = key_pois["arc_u"]
    key_pois["v"] = key_pois["arc_v"]
    key_pois["key"] = 0
    key_pois["geometry_point"] = key_pois["geometry"]
    key_pois["geometry"] = key_pois["geometry_arc"]
    key_pois = process_gdf.process_edges(key_pois)
    key_pois["geometry"] = key_pois["geometry_point"]
    key_pois = key_pois.merge(test_network[["arc_id", "arc_index"]], validate="1:1")

    offload = key_pois.loc[(key_pois["type"] != "depot")]
    offload[["description", "type", "arc_index"]]

    key_depos = key_pois.loc[key_pois["type"] == "depot"]
    key_depos[["description", "type", "arc_index"]]
    key_pois_list = list(key_depos["description"].unique())

    description = "Depot 2"

    key_depot_select = key_depos.copy()
    key_depot_select = key_depot_select.loc[key_depot_select["description"] == description]
    depot_arc_index = key_depot_select.iloc[0]["arc_index"]
    display(key_depot_select[["description", "type"]])

    offload = key_pois.loc[key_pois["type"] != "depot"]

    descriptions = ["Offload 2", "Offload 3"]

    key_if_select = offload.copy()
    key_if_select = key_if_select.loc[key_if_select["description"].isin(descriptions)]
    if_arc_index = key_if_select["arc_index"].values
    display(key_if_select[["description", "type"]])

    key_list = list(df_producer_geo["category"].unique())

    descriptions = ["Landed"]

    bad_arcs = [
        "[(18.4571747, -33.9584372), (18.457166, -33.9585368), (18.457156, -33.9585885), (18.4571405, -33.9586324), (18.4571204, -33.9586875), (18.4570842, -33.9587648), (18.4568647, -33.9591331), (18.4568633, -33.9591415), (18.4568634, -33.9591465), (18.4568651, -33.9591518), (18.4568693, -33.9591571), (18.4568826, -33.9591636), (18.4570165, -33.9592207), (18.4570237, -33.9592212), (18.4570302, -33.9592194), (18.4570376, -33.9592149), (18.4570447, -33.9592066), (18.4570542, -33.9591921), (18.457325, -33.958752), (18.4573407, -33.9587173), (18.4573555, -33.9586744), (18.4573665, -33.9586219), (18.4573672, -33.9585957), (18.4573652, -33.958564), (18.4573568, -33.9585404), (18.4573451, -33.9585162), (18.457334, -33.9585017), (18.4573196, -33.9584906), (18.4573008, -33.9584812), (18.457278, -33.9584717), (18.4571747, -33.9584372)]"
    ]

    prod_select = df_producer_geo.copy()
    prod_select = prod_select.loc[~prod_select["geom_id_order"].isin(bad_arcs)]
    prod_select = prod_select.loc[prod_select["category"].isin(descriptions)]

    logging.info("Preparing road network.......\n")
    nodes["u"] = nodes["osmid"]
    network_info = NetworkExtract(
        test_network,
        test_network_directed,
        nodes,
        networkh5_file,
        round_cost=True,
        key_pois=key_pois,
    )
    
    depot = depot_arc_index
    ifs = if_arc_index
    req_arcs = network_info.arc_consolidation_standard(prod_select)
    network_info.load_required_arcs(req_arcs, merge_network=True)
    network_info.set_depot_arc(depot)
    network_info.set_if_arcs(ifs)
    network_info.loc_in_required_arcs()

    network_info.extend_required_inverse_arcs()

    network_info.check_main_list()
    network_info.load_distance_matrix()
    network_info.offload_calculations3D()

    network_info.network_gdf(prod_select)

    logging.info("Done!")

    cut_off = 100000
    bad_arcs = []
    for i in range(len(network_info.d)):
        if network_info.d[i, 0] > cut_off:
            bad_arc = network_info.reqArcList[i]
            bad_links = test_network.loc[test_network["arc_index"] == bad_arc]
            bad_arcs += bad_links["geom_id_order"].tolist()
    assert len(bad_arcs) == 0
    

    cut_off = 100000
    bad_arcs = []
    for i in range(len(network_info.d)):
        if network_info.d[0, i] > cut_off:
            bad_arc = network_info.reqArcList[i]
            bad_links = test_network.loc[test_network["arc_index"] == bad_arc]
            bad_arcs += bad_links["geom_id_order"].tolist()
    assert len(bad_arcs) == 0
    

    d_max = network_info.d.max()
    if d_max == np.inf:
        d_i = network_info.d.argmax(axis=0)[0]
        bad_arc = network_info.reqArcList[d_i]
        print(network_info.d[d_i, :])
        print(network_info.d[:, d_i])
        d_i2 = network_info.d[d_i, :].argmax()
        bad_arc2 = network_info.reqArcList[d_i2]
        print(network_info.d[d_i2, :])
        print(network_info.d[:, d_i2])
        test_network.loc[test_network["arc_index"] == bad_arc]
        test_network.loc[test_network["arc_index"] == bad_arc2]

    scenario_name = "Landed refuse"
    schedule_select = "weekly"
    offload_time = 15 * 60
    max_duration = 10.5 * 3600
    capacity = 10.5 * 1000
    travel_speed = 45 / 3.6
    service_speed = 30 / 3.6

    demand_increase_factor = {"daily": 1, "weekly": 1, "two_one": 1}
    increase_factor = demand_increase_factor[schedule_select]

    logging.info("Uploading scenario inputs...")
    prod_select_update = prod_select.copy()
    prod_arc_update = prod_select_update.copy()

    network_info.producer_demand = prod_arc_update
    prod_arc_update = network_info.add_demand_service_cost_to_ars(
        prod_select_update, service_speed
    )
    _ = pd.DataFrame(
        prod_arc_update.drop(columns=["arc_index"]).sum(numeric_only=True)
    ).astype(int)

    network_info.set_travel_speed(travel_speed)
    network_info.set_service_cost_and_demand(prod_arc_update)
    network_info.set_offload_time(offload_time)
    network_info.check_shapes()

    network_info.update_cost_matrix()
    network_info.update_offload_cost()

    network_info.set_vechile_capacity_constraint(capacity)
    network_info.set_vehicle_duration_constraint(max_duration)
    logging.info("Done")

    solution_df = solve_store_instance(
        "",
        improve=None,
        write_results=False,
        info=network_info,
        overwrite=True,
        test_solution=True,
        full_output=False,
        tollerance=60,
        nnFracLS=1,
        nnFracTS=0.25,
    )
    logging.info("Done generating routes")
    n_route = solution_df["route"].max() + 1
    print(f"Number of routes: {n_route}")

    logging.info("Preparing scenario outputs...")

    network_info.extend_prop_info()
    network_info.add_solution(solution_df, order=False)
    network_info.deconstruct_solution()

    network_info.vehicle_collection_schedule(schedule=schedule_select)
    network_info.extract_wide_offload_totals()

    network_info.add_traversal_time()
    network_info.add_time_formatted()
    network_info.add_constant_duration_time()

    _ = network_info.full_producer_report()

    route_summary = RouteSummary(network_info)
    route_sum_table = route_summary.route_summary()
    logging.info("Done preparing output")

    catalog.save("resource_summary_table", {keys: route_sum_table})
    #route_sum_table.to_csv("temp/results_summary.csv", index=False)

2022-05-30 23:31:22,505 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2022-05-30 23:31:22,592 - root - INFO - ** Kedro project Demand estimation and waste collection routing optimisation for the City of Cape Town
2022-05-30 23:31:22,594 - root - INFO - Defined global variable `context`, `session` and `catalog`
2022-05-30 23:31:22,604 - root - INFO - Registered line magic `run_viz`
2022-05-30 23:31:22,606 - kedro.io.data_catalog - INFO - Loading data from `lat_lon_key_network_match` (CSVDataSet)...
2022-05-30 23:31:22,634 - kedro.io.data_catalog - INFO - Loading data from `syn_pop_scenarios_local` (PartitionedDataSet)...


 RUNNING SCENARIO households_001

(355, 42)

(355, 47)

2022-05-30 23:31:23,138 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
15    609746   11.9
149  1157514   13.0
296  1158231   14.1
455  1158813   36.1
626  1158988    5.7

(355, 2)

2022-05-30 23:31:23,180 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.297008
Name: demand, dtype: float64

# units

land_use
Landed    355
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.073958
Name: bin_service_cost, dtype: float64

(355, 61)

2022-05-30 23:31:23,310 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 355'

2022-05-30 23:31:23,425 - root - INFO - Preparing road network.......

2022-05-30 23:31:23,553 - root - INFO - Load required arcs
2022-05-30 23:31:23,554 - root - INFO - Merging with the network
2022-05-30 23:31:23,577 - root - INFO - Set depot
2022-05-30 23:31:23,582 - root - INFO - Set offload facilities
2022-05-30 23:31:23,589 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:31:23,648 - root - INFO - Checking master list
2022-05-30 23:31:23,653 - root - INFO - Load distance matrix: 530 x 530

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:31:24,667 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:31:24,679 - root - INFO - Calculate offloads: 530 x 530 x 2
2022-05-30 23:31:24,746 - root - INFO - Done!

[]

[]

2022-05-30 23:31:24,765 - root - INFO - Uploading scenario inputs...
2022-05-30 23:31:24,778 - root - INFO - Setting service cost for network
2022-05-30 23:31:24,791 - root - INFO - Setting demand for network
2022-05-30 23:31:24,808 - root - INFO - Update travel durations.
2022-05-30 23:31:24,812 - root - INFO - Update offload durations.
2022-05-30 23:31:24,817 - root - INFO - Done
2022-05-30 23:31:24,818 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:31:25,211 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:31:25,212 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:31:26,553 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,355,355,3.56,1.59,1.93,0.25,3.73,85.14,29.91,115.05,167.33,3.56
1,Total,1,1,,1,355,355,3.56,1.59,1.93,0.25,3.73,85.14,29.91,115.05,167.33,3.56

2022-05-30 23:31:26,564 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_002

(365, 42)

(365, 47)

2022-05-30 23:31:27,055 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
104  1157254   21.7
185  1157647   15.6
242  1157869   11.3
296  1158150   13.6
430  1158802   14.8

(365, 2)

2022-05-30 23:31:27,094 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.301092
Name: demand, dtype: float64

# units

land_use
Landed    365
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.076042
Name: bin_service_cost, dtype: float64

(365, 61)

2022-05-30 23:31:27,156 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 365'

2022-05-30 23:31:27,242 - root - INFO - Preparing road network.......

2022-05-30 23:31:27,304 - root - INFO - Load required arcs
2022-05-30 23:31:27,305 - root - INFO - Merging with the network
2022-05-30 23:31:27,325 - root - INFO - Set depot
2022-05-30 23:31:27,328 - root - INFO - Set offload facilities
2022-05-30 23:31:27,335 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:31:27,380 - root - INFO - Checking master list
2022-05-30 23:31:27,386 - root - INFO - Load distance matrix: 544 x 544

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:31:28,272 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:31:28,285 - root - INFO - Calculate offloads: 544 x 544 x 2
2022-05-30 23:31:28,350 - root - INFO - Done!

[]

[]

2022-05-30 23:31:28,369 - root - INFO - Uploading scenario inputs...
2022-05-30 23:31:28,385 - root - INFO - Setting service cost for network
2022-05-30 23:31:28,394 - root - INFO - Setting demand for network
2022-05-30 23:31:28,402 - root - INFO - Update travel durations.
2022-05-30 23:31:28,404 - root - INFO - Update offload durations.
2022-05-30 23:31:28,407 - root - INFO - Done
2022-05-30 23:31:28,407 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:31:28,618 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:31:28,621 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:31:29,756 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,365,365,3.61,1.72,1.85,0.25,3.81,82.84,33.26,116.1,171.35,3.61
1,Total,1,1,,1,365,365,3.61,1.72,1.85,0.25,3.81,82.84,33.26,116.1,171.35,3.61

2022-05-30 23:31:29,765 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_003

(331, 42)

(331, 47)

2022-05-30 23:31:30,251 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
107  1157314    5.7
182  1157740    5.7
185  1157751   13.0
254  1158084    8.2
656  1159061    5.7

(331, 2)

2022-05-30 23:31:30,287 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.277608
Name: demand, dtype: float64

# units

land_use
Landed    331
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.068958
Name: bin_service_cost, dtype: float64

(331, 61)

2022-05-30 23:31:30,345 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 331'

2022-05-30 23:31:30,439 - root - INFO - Preparing road network.......

2022-05-30 23:31:30,513 - root - INFO - Load required arcs
2022-05-30 23:31:30,516 - root - INFO - Merging with the network
2022-05-30 23:31:30,541 - root - INFO - Set depot
2022-05-30 23:31:30,547 - root - INFO - Set offload facilities
2022-05-30 23:31:30,558 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:31:30,622 - root - INFO - Checking master list
2022-05-30 23:31:30,630 - root - INFO - Load distance matrix: 493 x 493

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:31:31,397 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:31:31,407 - root - INFO - Calculate offloads: 493 x 493 x 2
2022-05-30 23:31:31,469 - root - INFO - Done!

[]

[]

2022-05-30 23:31:31,486 - root - INFO - Uploading scenario inputs...
2022-05-30 23:31:31,501 - root - INFO - Setting service cost for network
2022-05-30 23:31:31,509 - root - INFO - Setting demand for network
2022-05-30 23:31:31,520 - root - INFO - Update travel durations.
2022-05-30 23:31:31,521 - root - INFO - Update offload durations.
2022-05-30 23:31:31,524 - root - INFO - Done
2022-05-30 23:31:31,525 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:31:31,701 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:31:31,703 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:31:32,973 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,331,331,3.33,1.57,2.09,0.25,3.87,92.4,30.5,122.9,176.88,3.33
1,Total,1,1,,1,331,331,3.33,1.57,2.09,0.25,3.87,92.4,30.5,122.9,176.88,3.33

2022-05-30 23:31:32,987 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_004

(349, 42)

(349, 47)

2022-05-30 23:31:33,458 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
53   1156988    5.7
164  1157509    5.7
194  1157655   21.7
200  1157705   13.2
245  1157943   13.0

(349, 2)

2022-05-30 23:31:33,497 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.290142
Name: demand, dtype: float64

# units

land_use
Landed    349
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.072708
Name: bin_service_cost, dtype: float64

(349, 61)

2022-05-30 23:31:33,560 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 349'

2022-05-30 23:31:33,769 - root - INFO - Preparing road network.......

2022-05-30 23:31:33,828 - root - INFO - Load required arcs
2022-05-30 23:31:33,829 - root - INFO - Merging with the network
2022-05-30 23:31:33,852 - root - INFO - Set depot
2022-05-30 23:31:33,856 - root - INFO - Set offload facilities
2022-05-30 23:31:33,863 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:31:33,918 - root - INFO - Checking master list
2022-05-30 23:31:33,923 - root - INFO - Load distance matrix: 521 x 521

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:31:34,680 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:31:34,691 - root - INFO - Calculate offloads: 521 x 521 x 2
2022-05-30 23:31:34,751 - root - INFO - Done!

[]

[]

2022-05-30 23:31:34,770 - root - INFO - Uploading scenario inputs...
2022-05-30 23:31:34,784 - root - INFO - Setting service cost for network
2022-05-30 23:31:34,794 - root - INFO - Setting demand for network
2022-05-30 23:31:34,802 - root - INFO - Update travel durations.
2022-05-30 23:31:34,804 - root - INFO - Update offload durations.
2022-05-30 23:31:34,806 - root - INFO - Done
2022-05-30 23:31:34,806 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:31:34,985 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:31:34,986 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:31:36,245 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,349,349,3.48,1.62,1.69,0.25,3.55,75.46,31.11,106.56,157.99,3.48
1,Total,1,1,,1,349,349,3.48,1.62,1.69,0.25,3.55,75.46,31.11,106.56,157.99,3.48

2022-05-30 23:31:36,256 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_005

(348, 42)

(348, 47)

2022-05-30 23:31:36,728 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
234  1157923    5.7
242  1157983    5.7
254  1158050   15.6
290  1158225    9.1
560  1158957    8.2

(348, 2)

2022-05-30 23:31:36,770 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.283692
Name: demand, dtype: float64

# units

land_use
Landed    348
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.0725
Name: bin_service_cost, dtype: float64

(348, 61)

2022-05-30 23:31:36,839 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 348'

2022-05-30 23:31:36,926 - root - INFO - Preparing road network.......

2022-05-30 23:31:36,997 - root - INFO - Load required arcs
2022-05-30 23:31:36,999 - root - INFO - Merging with the network
2022-05-30 23:31:37,023 - root - INFO - Set depot
2022-05-30 23:31:37,027 - root - INFO - Set offload facilities
2022-05-30 23:31:37,037 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:31:37,096 - root - INFO - Checking master list
2022-05-30 23:31:37,101 - root - INFO - Load distance matrix: 524 x 524

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:31:37,936 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:31:37,948 - root - INFO - Calculate offloads: 524 x 524 x 2
2022-05-30 23:31:38,015 - root - INFO - Done!

[]

[]

2022-05-30 23:31:38,036 - root - INFO - Uploading scenario inputs...
2022-05-30 23:31:38,049 - root - INFO - Setting service cost for network
2022-05-30 23:31:38,059 - root - INFO - Setting demand for network
2022-05-30 23:31:38,069 - root - INFO - Update travel durations.
2022-05-30 23:31:38,073 - root - INFO - Update offload durations.
2022-05-30 23:31:38,076 - root - INFO - Done
2022-05-30 23:31:38,078 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:31:38,283 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:31:38,285 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:31:39,502 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,348,348,3.4,1.61,1.76,0.25,3.58,77.48,30.79,108.27,159.67,3.4
1,Total,1,1,,1,348,348,3.4,1.61,1.76,0.25,3.58,77.48,30.79,108.27,159.67,3.4

2022-05-30 23:31:39,518 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_006

(324, 42)

(324, 47)

2022-05-30 23:31:39,998 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
104  1157298    5.7
290  1158266    9.1
430  1158817   15.6
585  1158978    5.7
917  1159325    9.1

(324, 2)

2022-05-30 23:31:40,037 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.253908
Name: demand, dtype: float64

# units

land_use
Landed    324
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.0675
Name: bin_service_cost, dtype: float64

(324, 61)

2022-05-30 23:31:40,100 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 324'

2022-05-30 23:31:40,182 - root - INFO - Preparing road network.......

2022-05-30 23:31:40,253 - root - INFO - Load required arcs
2022-05-30 23:31:40,254 - root - INFO - Merging with the network
2022-05-30 23:31:40,280 - root - INFO - Set depot
2022-05-30 23:31:40,284 - root - INFO - Set offload facilities
2022-05-30 23:31:40,293 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:31:40,348 - root - INFO - Checking master list
2022-05-30 23:31:40,354 - root - INFO - Load distance matrix: 487 x 487

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:31:41,126 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:31:41,136 - root - INFO - Calculate offloads: 487 x 487 x 2
2022-05-30 23:31:41,193 - root - INFO - Done!

[]

[]

2022-05-30 23:31:41,212 - root - INFO - Uploading scenario inputs...
2022-05-30 23:31:41,227 - root - INFO - Setting service cost for network
2022-05-30 23:31:41,237 - root - INFO - Setting demand for network
2022-05-30 23:31:41,246 - root - INFO - Update travel durations.
2022-05-30 23:31:41,247 - root - INFO - Update offload durations.
2022-05-30 23:31:41,249 - root - INFO - Done
2022-05-30 23:31:41,250 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:31:41,419 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:31:41,421 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:31:42,489 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,324,324,3.05,1.53,2.09,0.25,3.81,91.39,29.79,121.18,173.82,3.05
1,Total,1,1,,1,324,324,3.05,1.53,2.09,0.25,3.81,91.39,29.79,121.18,173.82,3.05

2022-05-30 23:31:42,500 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_007

(332, 42)

(332, 47)

2022-05-30 23:31:42,975 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
194  1157752   13.2
303  1158317    5.7
455  1158852    5.1
533  1158932    5.7
933  1159347   17.8

(332, 2)

2022-05-30 23:31:43,016 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.2709
Name: demand, dtype: float64

# units

land_use
Landed    332
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.069167
Name: bin_service_cost, dtype: float64

(332, 61)

2022-05-30 23:31:43,085 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 332'

2022-05-30 23:31:43,170 - root - INFO - Preparing road network.......

2022-05-30 23:31:43,240 - root - INFO - Load required arcs
2022-05-30 23:31:43,242 - root - INFO - Merging with the network
2022-05-30 23:31:43,266 - root - INFO - Set depot
2022-05-30 23:31:43,270 - root - INFO - Set offload facilities
2022-05-30 23:31:43,280 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:31:43,332 - root - INFO - Checking master list
2022-05-30 23:31:43,336 - root - INFO - Load distance matrix: 517 x 517

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:31:44,098 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:31:44,110 - root - INFO - Calculate offloads: 517 x 517 x 2
2022-05-30 23:31:44,163 - root - INFO - Done!

[]

[]

2022-05-30 23:31:44,182 - root - INFO - Uploading scenario inputs...
2022-05-30 23:31:44,197 - root - INFO - Setting service cost for network
2022-05-30 23:31:44,205 - root - INFO - Setting demand for network
2022-05-30 23:31:44,216 - root - INFO - Update travel durations.
2022-05-30 23:31:44,220 - root - INFO - Update offload durations.
2022-05-30 23:31:44,223 - root - INFO - Done
2022-05-30 23:31:44,224 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:31:44,409 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:31:44,410 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:31:45,533 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,332,332,3.25,1.67,1.8,0.25,3.69,79.69,33.62,113.31,167.74,3.25
1,Total,1,1,,1,332,332,3.25,1.67,1.8,0.25,3.69,79.69,33.62,113.31,167.74,3.25

2022-05-30 23:31:45,544 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_008

(359, 42)

(359, 47)

2022-05-30 23:31:46,007 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
194  1157664   11.3
234  1157853   17.8
242  1157917    5.7
278  1158098    9.1
430  1158803    5.7

(359, 2)

2022-05-30 23:31:46,044 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.323692
Name: demand, dtype: float64

# units

land_use
Landed    359
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.074792
Name: bin_service_cost, dtype: float64

(359, 61)

2022-05-30 23:31:46,103 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 359'

2022-05-30 23:31:46,182 - root - INFO - Preparing road network.......

2022-05-30 23:31:46,245 - root - INFO - Load required arcs
2022-05-30 23:31:46,246 - root - INFO - Merging with the network
2022-05-30 23:31:46,267 - root - INFO - Set depot
2022-05-30 23:31:46,270 - root - INFO - Set offload facilities
2022-05-30 23:31:46,279 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:31:46,337 - root - INFO - Checking master list
2022-05-30 23:31:46,342 - root - INFO - Load distance matrix: 548 x 548

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:31:47,075 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:31:47,087 - root - INFO - Calculate offloads: 548 x 548 x 2
2022-05-30 23:31:47,150 - root - INFO - Done!

[]

[]

2022-05-30 23:31:47,169 - root - INFO - Uploading scenario inputs...
2022-05-30 23:31:47,186 - root - INFO - Setting service cost for network
2022-05-30 23:31:47,197 - root - INFO - Setting demand for network
2022-05-30 23:31:47,206 - root - INFO - Update travel durations.
2022-05-30 23:31:47,208 - root - INFO - Update offload durations.
2022-05-30 23:31:47,212 - root - INFO - Done
2022-05-30 23:31:47,213 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:31:47,411 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:31:47,413 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:31:48,583 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,359,359,3.88,1.78,1.83,0.25,3.85,81.94,35.41,117.35,174.98,3.88
1,Total,1,1,,1,359,359,3.88,1.78,1.83,0.25,3.85,81.94,35.41,117.35,174.98,3.88

2022-05-30 23:31:48,594 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_009

(362, 42)

(362, 47)

2022-05-30 23:31:49,069 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
27    610983   13.6
182  1157557    5.7
200  1157625   17.8
290  1158050    8.2
296  1158076   15.6

(362, 2)

2022-05-30 23:31:49,108 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.302058
Name: demand, dtype: float64

# units

land_use
Landed    362
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.075417
Name: bin_service_cost, dtype: float64

(362, 61)

2022-05-30 23:31:49,171 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 362'

2022-05-30 23:31:49,250 - root - INFO - Preparing road network.......

2022-05-30 23:31:49,311 - root - INFO - Load required arcs
2022-05-30 23:31:49,314 - root - INFO - Merging with the network
2022-05-30 23:31:49,339 - root - INFO - Set depot
2022-05-30 23:31:49,343 - root - INFO - Set offload facilities
2022-05-30 23:31:49,350 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:31:49,394 - root - INFO - Checking master list
2022-05-30 23:31:49,398 - root - INFO - Load distance matrix: 557 x 557

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:31:50,168 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:31:50,180 - root - INFO - Calculate offloads: 557 x 557 x 2
2022-05-30 23:31:50,239 - root - INFO - Done!

[]

[]

2022-05-30 23:31:50,259 - root - INFO - Uploading scenario inputs...
2022-05-30 23:31:50,276 - root - INFO - Setting service cost for network
2022-05-30 23:31:50,285 - root - INFO - Setting demand for network
2022-05-30 23:31:50,294 - root - INFO - Update travel durations.
2022-05-30 23:31:50,297 - root - INFO - Update offload durations.
2022-05-30 23:31:50,299 - root - INFO - Done
2022-05-30 23:31:50,300 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:31:50,523 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:31:50,524 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:31:51,839 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 2
0,,1,1,Mon,1,362,362,3.62,1.74,1.97,0.25,3.93,87.25,34.09,121.34,178.32,3.62
1,Total,1,1,,1,362,362,3.62,1.74,1.97,0.25,3.93,87.25,34.09,121.34,178.32,3.62

2022-05-30 23:31:51,850 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_010

(340, 42)

(340, 47)

2022-05-30 23:31:52,459 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609342   16.0
176  1157546    8.2
185  1157591   21.7
194  1157621    5.7
278  1157994    9.1

(340, 2)

2022-05-30 23:31:52,494 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.293758
Name: demand, dtype: float64

# units

land_use
Landed    340
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.070833
Name: bin_service_cost, dtype: float64

(340, 61)

2022-05-30 23:31:52,556 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 340'

2022-05-30 23:31:52,643 - root - INFO - Preparing road network.......

2022-05-30 23:31:52,709 - root - INFO - Load required arcs
2022-05-30 23:31:52,711 - root - INFO - Merging with the network
2022-05-30 23:31:52,733 - root - INFO - Set depot
2022-05-30 23:31:52,736 - root - INFO - Set offload facilities
2022-05-30 23:31:52,744 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:31:52,798 - root - INFO - Checking master list
2022-05-30 23:31:52,803 - root - INFO - Load distance matrix: 544 x 544

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:31:53,557 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:31:53,568 - root - INFO - Calculate offloads: 544 x 544 x 2
2022-05-30 23:31:53,622 - root - INFO - Done!

[]

[]

2022-05-30 23:31:53,639 - root - INFO - Uploading scenario inputs...
2022-05-30 23:31:53,652 - root - INFO - Setting service cost for network
2022-05-30 23:31:53,660 - root - INFO - Setting demand for network
2022-05-30 23:31:53,668 - root - INFO - Update travel durations.
2022-05-30 23:31:53,670 - root - INFO - Update offload durations.
2022-05-30 23:31:53,675 - root - INFO - Done
2022-05-30 23:31:53,676 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:31:53,895 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:31:53,897 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:31:55,116 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,340,340,3.53,1.7,1.76,0.25,3.69,78.17,34.13,112.3,167.34,3.53
1,Total,1,1,,1,340,340,3.53,1.7,1.76,0.25,3.69,78.17,34.13,112.3,167.34,3.53

2022-05-30 23:31:55,126 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_011

(352, 42)

(352, 47)

2022-05-30 23:31:55,649 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609361   19.7
104  1157261   28.9
164  1157539    9.4
185  1157628    5.7
242  1157885    5.7

(352, 2)

2022-05-30 23:31:55,687 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.294867
Name: demand, dtype: float64

# units

land_use
Landed    352
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.073333
Name: bin_service_cost, dtype: float64

(352, 61)

2022-05-30 23:31:55,747 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 352'

2022-05-30 23:31:55,825 - root - INFO - Preparing road network.......

2022-05-30 23:31:55,888 - root - INFO - Load required arcs
2022-05-30 23:31:55,889 - root - INFO - Merging with the network
2022-05-30 23:31:55,909 - root - INFO - Set depot
2022-05-30 23:31:55,914 - root - INFO - Set offload facilities
2022-05-30 23:31:55,922 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:31:55,969 - root - INFO - Checking master list
2022-05-30 23:31:55,974 - root - INFO - Load distance matrix: 515 x 515

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:31:56,756 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:31:56,770 - root - INFO - Calculate offloads: 515 x 515 x 2
2022-05-30 23:31:56,821 - root - INFO - Done!

[]

[]

2022-05-30 23:31:56,839 - root - INFO - Uploading scenario inputs...
2022-05-30 23:31:56,851 - root - INFO - Setting service cost for network
2022-05-30 23:31:56,859 - root - INFO - Setting demand for network
2022-05-30 23:31:56,868 - root - INFO - Update travel durations.
2022-05-30 23:31:56,870 - root - INFO - Update offload durations.
2022-05-30 23:31:56,873 - root - INFO - Done
2022-05-30 23:31:56,874 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:31:57,054 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:31:57,056 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:31:58,222 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,352,352,3.54,1.68,1.67,0.25,3.57,73.84,32.82,106.66,159.56,3.54
1,Total,1,1,,1,352,352,3.54,1.68,1.67,0.25,3.57,73.84,32.82,106.66,159.56,3.54

2022-05-30 23:31:58,234 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_012

(343, 42)

(343, 47)

2022-05-30 23:31:58,711 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
53   1157019    5.7
107  1157303   16.4
182  1157613   11.9
200  1157693   21.7
437  1158823   21.7

(343, 2)

2022-05-30 23:31:58,748 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.300808
Name: demand, dtype: float64

# units

land_use
Landed    343
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071458
Name: bin_service_cost, dtype: float64

(343, 61)

2022-05-30 23:31:58,805 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 343'

2022-05-30 23:31:58,888 - root - INFO - Preparing road network.......

2022-05-30 23:31:58,949 - root - INFO - Load required arcs
2022-05-30 23:31:58,951 - root - INFO - Merging with the network
2022-05-30 23:31:58,971 - root - INFO - Set depot
2022-05-30 23:31:58,975 - root - INFO - Set offload facilities
2022-05-30 23:31:58,982 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:31:59,032 - root - INFO - Checking master list
2022-05-30 23:31:59,037 - root - INFO - Load distance matrix: 490 x 490

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:31:59,769 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:31:59,779 - root - INFO - Calculate offloads: 490 x 490 x 2
2022-05-30 23:31:59,839 - root - INFO - Done!

[]

[]

2022-05-30 23:31:59,858 - root - INFO - Uploading scenario inputs...
2022-05-30 23:31:59,871 - root - INFO - Setting service cost for network
2022-05-30 23:31:59,879 - root - INFO - Setting demand for network
2022-05-30 23:31:59,886 - root - INFO - Update travel durations.
2022-05-30 23:31:59,887 - root - INFO - Update offload durations.
2022-05-30 23:31:59,889 - root - INFO - Done
2022-05-30 23:31:59,891 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:00,064 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:00,066 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:01,370 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,343,343,3.61,1.67,1.89,0.25,3.79,83.99,33.06,117.05,172.32,3.61
1,Total,1,1,,1,343,343,3.61,1.67,1.89,0.25,3.79,83.99,33.06,117.05,172.32,3.61

2022-05-30 23:32:01,380 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_013

(364, 42)

(364, 47)

2022-05-30 23:32:01,994 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
107  1157181    5.7
194  1157576    9.1
296  1158061    9.1
437  1158750    5.7
569  1158923    5.7

(364, 2)

2022-05-30 23:32:02,032 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.306908
Name: demand, dtype: float64

# units

land_use
Landed    364
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.075833
Name: bin_service_cost, dtype: float64

(364, 61)

2022-05-30 23:32:02,092 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 364'

2022-05-30 23:32:02,172 - root - INFO - Preparing road network.......

2022-05-30 23:32:02,231 - root - INFO - Load required arcs
2022-05-30 23:32:02,232 - root - INFO - Merging with the network
2022-05-30 23:32:02,256 - root - INFO - Set depot
2022-05-30 23:32:02,260 - root - INFO - Set offload facilities
2022-05-30 23:32:02,267 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:02,323 - root - INFO - Checking master list
2022-05-30 23:32:02,327 - root - INFO - Load distance matrix: 543 x 543

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:03,117 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:03,129 - root - INFO - Calculate offloads: 543 x 543 x 2
2022-05-30 23:32:03,194 - root - INFO - Done!

[]

[]

2022-05-30 23:32:03,211 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:03,225 - root - INFO - Setting service cost for network
2022-05-30 23:32:03,232 - root - INFO - Setting demand for network
2022-05-30 23:32:03,240 - root - INFO - Update travel durations.
2022-05-30 23:32:03,241 - root - INFO - Update offload durations.
2022-05-30 23:32:03,245 - root - INFO - Done
2022-05-30 23:32:03,246 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:03,452 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:03,455 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:04,651 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,364,364,3.68,1.71,1.88,0.25,3.8,82.94,32.95,115.9,170.96,3.68
1,Total,1,1,,1,364,364,3.68,1.71,1.88,0.25,3.8,82.94,32.95,115.9,170.96,3.68

2022-05-30 23:32:04,663 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_014

(341, 42)

(341, 47)

2022-05-30 23:32:05,142 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609400   13.0
15    609987    5.7
27   1156901    5.7
200  1157767    5.7
254  1158081    9.1

(341, 2)

2022-05-30 23:32:05,187 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.27765
Name: demand, dtype: float64

# units

land_use
Landed    341
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071042
Name: bin_service_cost, dtype: float64

(341, 61)

2022-05-30 23:32:05,255 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 341'

2022-05-30 23:32:05,341 - root - INFO - Preparing road network.......

2022-05-30 23:32:05,411 - root - INFO - Load required arcs
2022-05-30 23:32:05,415 - root - INFO - Merging with the network
2022-05-30 23:32:05,437 - root - INFO - Set depot
2022-05-30 23:32:05,441 - root - INFO - Set offload facilities
2022-05-30 23:32:05,448 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:05,505 - root - INFO - Checking master list
2022-05-30 23:32:05,511 - root - INFO - Load distance matrix: 518 x 518

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:06,255 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:06,267 - root - INFO - Calculate offloads: 518 x 518 x 2
2022-05-30 23:32:06,325 - root - INFO - Done!

[]

[]

2022-05-30 23:32:06,466 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:06,481 - root - INFO - Setting service cost for network
2022-05-30 23:32:06,490 - root - INFO - Setting demand for network
2022-05-30 23:32:06,498 - root - INFO - Update travel durations.
2022-05-30 23:32:06,500 - root - INFO - Update offload durations.
2022-05-30 23:32:06,504 - root - INFO - Done
2022-05-30 23:32:06,505 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:06,693 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:06,695 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:07,777 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,341,341,3.33,1.63,2.04,0.25,3.88,89.95,31.79,121.74,176.51,3.33
1,Total,1,1,,1,341,341,3.33,1.63,2.04,0.25,3.88,89.95,31.79,121.74,176.51,3.33

2022-05-30 23:32:07,791 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_015

(350, 42)

(350, 47)

2022-05-30 23:32:08,295 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
107  1157260   17.8
164  1157509    5.7
194  1157669    5.7
430  1158805    7.1
626  1159008   26.0

(350, 2)

2022-05-30 23:32:08,334 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.291692
Name: demand, dtype: float64

# units

land_use
Landed    350
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.072917
Name: bin_service_cost, dtype: float64

(350, 61)

2022-05-30 23:32:08,394 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 350'

2022-05-30 23:32:08,471 - root - INFO - Preparing road network.......

2022-05-30 23:32:08,529 - root - INFO - Load required arcs
2022-05-30 23:32:08,530 - root - INFO - Merging with the network
2022-05-30 23:32:08,553 - root - INFO - Set depot
2022-05-30 23:32:08,556 - root - INFO - Set offload facilities
2022-05-30 23:32:08,563 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:08,608 - root - INFO - Checking master list
2022-05-30 23:32:08,613 - root - INFO - Load distance matrix: 521 x 521

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:09,349 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:09,360 - root - INFO - Calculate offloads: 521 x 521 x 2
2022-05-30 23:32:09,421 - root - INFO - Done!

[]

[]

2022-05-30 23:32:09,439 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:09,453 - root - INFO - Setting service cost for network
2022-05-30 23:32:09,462 - root - INFO - Setting demand for network
2022-05-30 23:32:09,471 - root - INFO - Update travel durations.
2022-05-30 23:32:09,473 - root - INFO - Update offload durations.
2022-05-30 23:32:09,475 - root - INFO - Done
2022-05-30 23:32:09,476 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:09,665 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:09,666 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:10,790 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,350,350,3.5,1.57,1.65,0.25,3.45,73.29,29.49,102.78,152.18,3.5
1,Total,1,1,,1,350,350,3.5,1.57,1.65,0.25,3.45,73.29,29.49,102.78,152.18,3.5

2022-05-30 23:32:10,802 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_016

(358, 42)

(358, 47)

2022-05-30 23:32:11,416 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
104  1157185    8.2
149  1157390    9.1
234  1157793    5.7
548  1158907   17.8
629  1158992   32.5

(358, 2)

2022-05-30 23:32:11,452 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.297692
Name: demand, dtype: float64

# units

land_use
Landed    358
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.074583
Name: bin_service_cost, dtype: float64

(358, 61)

2022-05-30 23:32:11,509 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 358'

2022-05-30 23:32:11,588 - root - INFO - Preparing road network.......

2022-05-30 23:32:11,651 - root - INFO - Load required arcs
2022-05-30 23:32:11,653 - root - INFO - Merging with the network
2022-05-30 23:32:11,674 - root - INFO - Set depot
2022-05-30 23:32:11,677 - root - INFO - Set offload facilities
2022-05-30 23:32:11,684 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:11,729 - root - INFO - Checking master list
2022-05-30 23:32:11,734 - root - INFO - Load distance matrix: 553 x 553

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:12,578 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:12,591 - root - INFO - Calculate offloads: 553 x 553 x 2
2022-05-30 23:32:12,644 - root - INFO - Done!

[]

[]

2022-05-30 23:32:12,662 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:12,676 - root - INFO - Setting service cost for network
2022-05-30 23:32:12,683 - root - INFO - Setting demand for network
2022-05-30 23:32:12,690 - root - INFO - Update travel durations.
2022-05-30 23:32:12,691 - root - INFO - Update offload durations.
2022-05-30 23:32:12,694 - root - INFO - Done
2022-05-30 23:32:12,695 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:12,892 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:12,894 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:13,967 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,358,358,3.57,1.7,1.93,0.25,3.85,85.72,33.01,118.73,174.24,3.57
1,Total,1,1,,1,358,358,3.57,1.7,1.93,0.25,3.85,85.72,33.01,118.73,174.24,3.57

2022-05-30 23:32:13,976 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_017

(336, 42)

(336, 47)

2022-05-30 23:32:14,444 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
15    610066   19.7
185  1157629   15.6
194  1157674   13.6
296  1158108   10.4
656  1159024   13.0

(336, 2)

2022-05-30 23:32:14,479 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.284925
Name: demand, dtype: float64

# units

land_use
Landed    336
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.07
Name: bin_service_cost, dtype: float64

(336, 61)

2022-05-30 23:32:14,539 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 336'

2022-05-30 23:32:14,612 - root - INFO - Preparing road network.......

2022-05-30 23:32:14,666 - root - INFO - Load required arcs
2022-05-30 23:32:14,668 - root - INFO - Merging with the network
2022-05-30 23:32:14,689 - root - INFO - Set depot
2022-05-30 23:32:14,693 - root - INFO - Set offload facilities
2022-05-30 23:32:14,700 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:14,745 - root - INFO - Checking master list
2022-05-30 23:32:14,749 - root - INFO - Load distance matrix: 498 x 498

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:15,441 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:15,451 - root - INFO - Calculate offloads: 498 x 498 x 2
2022-05-30 23:32:15,503 - root - INFO - Done!

[]

[]

2022-05-30 23:32:15,521 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:15,534 - root - INFO - Setting service cost for network
2022-05-30 23:32:15,542 - root - INFO - Setting demand for network
2022-05-30 23:32:15,549 - root - INFO - Update travel durations.
2022-05-30 23:32:15,551 - root - INFO - Update offload durations.
2022-05-30 23:32:15,552 - root - INFO - Done
2022-05-30 23:32:15,553 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:15,720 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:15,721 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:16,752 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,336,336,3.42,1.6,1.97,0.25,3.79,87.3,31.07,118.37,172.02,3.42
1,Total,1,1,,1,336,336,3.42,1.6,1.97,0.25,3.79,87.3,31.07,118.37,172.02,3.42

2022-05-30 23:32:16,763 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_018

(354, 42)

(354, 47)

2022-05-30 23:32:17,240 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609395    5.7
107  1157276   16.0
164  1157522    5.1
200  1157711    5.7
212  1157780    5.7

(354, 2)

2022-05-30 23:32:17,281 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.296392
Name: demand, dtype: float64

# units

land_use
Landed    354
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.07375
Name: bin_service_cost, dtype: float64

(354, 61)

2022-05-30 23:32:17,339 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 354'

2022-05-30 23:32:17,420 - root - INFO - Preparing road network.......

2022-05-30 23:32:17,480 - root - INFO - Load required arcs
2022-05-30 23:32:17,481 - root - INFO - Merging with the network
2022-05-30 23:32:17,503 - root - INFO - Set depot
2022-05-30 23:32:17,505 - root - INFO - Set offload facilities
2022-05-30 23:32:17,515 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:17,565 - root - INFO - Checking master list
2022-05-30 23:32:17,570 - root - INFO - Load distance matrix: 528 x 528

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:18,295 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:18,305 - root - INFO - Calculate offloads: 528 x 528 x 2
2022-05-30 23:32:18,362 - root - INFO - Done!

[]

[]

2022-05-30 23:32:18,380 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:18,395 - root - INFO - Setting service cost for network
2022-05-30 23:32:18,404 - root - INFO - Setting demand for network
2022-05-30 23:32:18,411 - root - INFO - Update travel durations.
2022-05-30 23:32:18,413 - root - INFO - Update offload durations.
2022-05-30 23:32:18,416 - root - INFO - Done
2022-05-30 23:32:18,417 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:18,617 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:18,619 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:19,724 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,354,354,3.56,1.61,1.95,0.25,3.78,86.09,30.66,116.75,169.96,3.56
1,Total,1,1,,1,354,354,3.56,1.61,1.95,0.25,3.78,86.09,30.66,116.75,169.96,3.56

2022-05-30 23:32:19,735 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_019

(340, 42)

(340, 47)

2022-05-30 23:32:20,365 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
53   1156950    5.7
104  1157194   11.3
149  1157386    9.1
197  1157626   13.6
455  1158810   17.8

(340, 2)

2022-05-30 23:32:20,407 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.274175
Name: demand, dtype: float64

# units

land_use
Landed    340
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.070833
Name: bin_service_cost, dtype: float64

(340, 61)

2022-05-30 23:32:20,473 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 340'

2022-05-30 23:32:20,563 - root - INFO - Preparing road network.......

2022-05-30 23:32:20,631 - root - INFO - Load required arcs
2022-05-30 23:32:20,632 - root - INFO - Merging with the network
2022-05-30 23:32:20,655 - root - INFO - Set depot
2022-05-30 23:32:20,659 - root - INFO - Set offload facilities
2022-05-30 23:32:20,667 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:20,721 - root - INFO - Checking master list
2022-05-30 23:32:20,726 - root - INFO - Load distance matrix: 528 x 528

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:21,496 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:21,507 - root - INFO - Calculate offloads: 528 x 528 x 2
2022-05-30 23:32:21,569 - root - INFO - Done!

[]

[]

2022-05-30 23:32:21,588 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:21,602 - root - INFO - Setting service cost for network
2022-05-30 23:32:21,612 - root - INFO - Setting demand for network
2022-05-30 23:32:21,621 - root - INFO - Update travel durations.
2022-05-30 23:32:21,622 - root - INFO - Update offload durations.
2022-05-30 23:32:21,625 - root - INFO - Done
2022-05-30 23:32:21,626 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:21,815 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:21,817 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:22,880 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,340,340,3.29,1.66,1.92,0.25,3.81,85.53,32.66,118.18,172.88,3.29
1,Total,1,1,,1,340,340,3.29,1.66,1.92,0.25,3.81,85.53,32.66,118.18,172.88,3.29

2022-05-30 23:32:22,892 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_020

(340, 42)

(340, 47)

2022-05-30 23:32:23,351 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609301   11.8
200  1157763   25.3
430  1158843   17.8
644  1159068    5.7
666  1159090   25.3

(340, 2)

2022-05-30 23:32:23,388 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.27855
Name: demand, dtype: float64

# units

land_use
Landed    340
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.070833
Name: bin_service_cost, dtype: float64

(340, 61)

2022-05-30 23:32:23,448 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 340'

2022-05-30 23:32:23,523 - root - INFO - Preparing road network.......

2022-05-30 23:32:23,585 - root - INFO - Load required arcs
2022-05-30 23:32:23,587 - root - INFO - Merging with the network
2022-05-30 23:32:23,607 - root - INFO - Set depot
2022-05-30 23:32:23,611 - root - INFO - Set offload facilities
2022-05-30 23:32:23,621 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:23,674 - root - INFO - Checking master list
2022-05-30 23:32:23,677 - root - INFO - Load distance matrix: 527 x 527

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:24,385 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:24,398 - root - INFO - Calculate offloads: 527 x 527 x 2
2022-05-30 23:32:24,453 - root - INFO - Done!

[]

[]

2022-05-30 23:32:24,471 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:24,485 - root - INFO - Setting service cost for network
2022-05-30 23:32:24,492 - root - INFO - Setting demand for network
2022-05-30 23:32:24,501 - root - INFO - Update travel durations.
2022-05-30 23:32:24,503 - root - INFO - Update offload durations.
2022-05-30 23:32:24,504 - root - INFO - Done
2022-05-30 23:32:24,505 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:24,693 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:24,695 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:25,856 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,340,340,3.34,1.6,1.79,0.25,3.63,79.74,31.12,110.86,162.95,3.34
1,Total,1,1,,1,340,340,3.34,1.6,1.79,0.25,3.63,79.74,31.12,110.86,162.95,3.34

2022-05-30 23:32:25,867 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_021

(363, 42)

(363, 47)

2022-05-30 23:32:26,345 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609337   15.6
182  1157773    5.7
200  1157863   15.6
234  1157995    9.1
430  1158855   21.7

(363, 2)

2022-05-30 23:32:26,379 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.304008
Name: demand, dtype: float64

# units

land_use
Landed    363
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.075625
Name: bin_service_cost, dtype: float64

(363, 61)

2022-05-30 23:32:26,440 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 363'

2022-05-30 23:32:26,514 - root - INFO - Preparing road network.......

2022-05-30 23:32:26,572 - root - INFO - Load required arcs
2022-05-30 23:32:26,574 - root - INFO - Merging with the network
2022-05-30 23:32:26,592 - root - INFO - Set depot
2022-05-30 23:32:26,595 - root - INFO - Set offload facilities
2022-05-30 23:32:26,603 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:26,652 - root - INFO - Checking master list
2022-05-30 23:32:26,658 - root - INFO - Load distance matrix: 567 x 567

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:27,496 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:27,510 - root - INFO - Calculate offloads: 567 x 567 x 2
2022-05-30 23:32:27,569 - root - INFO - Done!

[]

[]

2022-05-30 23:32:27,587 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:27,600 - root - INFO - Setting service cost for network
2022-05-30 23:32:27,608 - root - INFO - Setting demand for network
2022-05-30 23:32:27,616 - root - INFO - Update travel durations.
2022-05-30 23:32:27,618 - root - INFO - Update offload durations.
2022-05-30 23:32:27,621 - root - INFO - Done
2022-05-30 23:32:27,621 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:27,840 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:27,842 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:29,122 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,363,363,3.65,1.77,1.93,0.25,3.92,85.66,34.94,120.6,178.14,3.65
1,Total,1,1,,1,363,363,3.65,1.77,1.93,0.25,3.92,85.66,34.94,120.6,178.14,3.65

2022-05-30 23:32:29,132 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_022

(366, 42)

(366, 47)

2022-05-30 23:32:29,726 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
149  1157541   11.8
303  1158328    5.7
330  1158460   15.6
437  1158834   19.7
626  1159029   15.6

(366, 2)

2022-05-30 23:32:29,769 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.308883
Name: demand, dtype: float64

# units

land_use
Landed    366
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.07625
Name: bin_service_cost, dtype: float64

(366, 61)

2022-05-30 23:32:29,834 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 366'

2022-05-30 23:32:29,911 - root - INFO - Preparing road network.......

2022-05-30 23:32:29,975 - root - INFO - Load required arcs
2022-05-30 23:32:29,977 - root - INFO - Merging with the network
2022-05-30 23:32:29,999 - root - INFO - Set depot
2022-05-30 23:32:30,003 - root - INFO - Set offload facilities
2022-05-30 23:32:30,013 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:30,085 - root - INFO - Checking master list
2022-05-30 23:32:30,093 - root - INFO - Load distance matrix: 545 x 545

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:30,891 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:30,904 - root - INFO - Calculate offloads: 545 x 545 x 2
2022-05-30 23:32:30,964 - root - INFO - Done!

[]

[]

2022-05-30 23:32:30,983 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:30,994 - root - INFO - Setting service cost for network
2022-05-30 23:32:31,002 - root - INFO - Setting demand for network
2022-05-30 23:32:31,009 - root - INFO - Update travel durations.
2022-05-30 23:32:31,010 - root - INFO - Update offload durations.
2022-05-30 23:32:31,013 - root - INFO - Done
2022-05-30 23:32:31,014 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:31,230 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:31,232 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:32,453 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,366,366,3.71,1.72,1.7,0.25,3.63,74.97,33.22,108.2,161.97,3.71
1,Total,1,1,,1,366,366,3.71,1.72,1.7,0.25,3.63,74.97,33.22,108.2,161.97,3.71

2022-05-30 23:32:32,464 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_023

(344, 42)

(344, 47)

2022-05-30 23:32:32,935 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
234  1157834    5.7
242  1157859   21.7
290  1158161    5.7
582  1158956   17.8
678  1159054   25.3

(344, 2)

2022-05-30 23:32:32,971 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.287742
Name: demand, dtype: float64

# units

land_use
Landed    344
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071667
Name: bin_service_cost, dtype: float64

(344, 61)

2022-05-30 23:32:33,034 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 344'

2022-05-30 23:32:33,117 - root - INFO - Preparing road network.......

2022-05-30 23:32:33,176 - root - INFO - Load required arcs
2022-05-30 23:32:33,178 - root - INFO - Merging with the network
2022-05-30 23:32:33,199 - root - INFO - Set depot
2022-05-30 23:32:33,202 - root - INFO - Set offload facilities
2022-05-30 23:32:33,209 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:33,255 - root - INFO - Checking master list
2022-05-30 23:32:33,260 - root - INFO - Load distance matrix: 510 x 510

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:33,971 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:33,982 - root - INFO - Calculate offloads: 510 x 510 x 2
2022-05-30 23:32:34,041 - root - INFO - Done!

[]

[]

2022-05-30 23:32:34,059 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:34,072 - root - INFO - Setting service cost for network
2022-05-30 23:32:34,080 - root - INFO - Setting demand for network
2022-05-30 23:32:34,087 - root - INFO - Update travel durations.
2022-05-30 23:32:34,089 - root - INFO - Update offload durations.
2022-05-30 23:32:34,091 - root - INFO - Done
2022-05-30 23:32:34,092 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:34,265 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:34,267 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:35,590 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 2
0,,1,1,Mon,1,344,344,3.45,1.56,1.81,0.25,3.59,80.35,29.5,109.85,160.61,3.45
1,Total,1,1,,1,344,344,3.45,1.56,1.81,0.25,3.59,80.35,29.5,109.85,160.61,3.45

2022-05-30 23:32:35,608 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_024

(382, 42)

(382, 47)

2022-05-30 23:32:36,107 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
182  1157670    5.7
194  1157732    5.7
212  1157824   19.7
437  1158792   10.4
455  1158812    5.7

(382, 2)

2022-05-30 23:32:36,149 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.319158
Name: demand, dtype: float64

# units

land_use
Landed    382
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.079583
Name: bin_service_cost, dtype: float64

(382, 61)

2022-05-30 23:32:36,210 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 382'

2022-05-30 23:32:36,287 - root - INFO - Preparing road network.......

2022-05-30 23:32:36,349 - root - INFO - Load required arcs
2022-05-30 23:32:36,351 - root - INFO - Merging with the network
2022-05-30 23:32:36,374 - root - INFO - Set depot
2022-05-30 23:32:36,377 - root - INFO - Set offload facilities
2022-05-30 23:32:36,384 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:36,431 - root - INFO - Checking master list
2022-05-30 23:32:36,435 - root - INFO - Load distance matrix: 564 x 564

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:37,225 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:37,238 - root - INFO - Calculate offloads: 564 x 564 x 2
2022-05-30 23:32:37,300 - root - INFO - Done!

[]

[]

2022-05-30 23:32:37,320 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:37,335 - root - INFO - Setting service cost for network
2022-05-30 23:32:37,342 - root - INFO - Setting demand for network
2022-05-30 23:32:37,350 - root - INFO - Update travel durations.
2022-05-30 23:32:37,351 - root - INFO - Update offload durations.
2022-05-30 23:32:37,353 - root - INFO - Done
2022-05-30 23:32:37,354 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:37,559 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:37,562 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:38,757 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,382,382,3.83,1.77,1.96,0.25,3.96,87.32,34.02,121.34,178.57,3.83
1,Total,1,1,,1,382,382,3.83,1.77,1.96,0.25,3.96,87.32,34.02,121.34,178.57,3.83

2022-05-30 23:32:38,769 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_025

(340, 42)

(340, 47)

2022-05-30 23:32:39,262 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

           id  waste
234   1157979    5.7
569   1158967   21.7
1120  1159541   24.1
1142  1159563   17.8
1446  1159876    5.1

(340, 2)

2022-05-30 23:32:39,304 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.2699
Name: demand, dtype: float64

# units

land_use
Landed    340
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.070833
Name: bin_service_cost, dtype: float64

(340, 61)

2022-05-30 23:32:39,366 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 340'

2022-05-30 23:32:39,439 - root - INFO - Preparing road network.......

2022-05-30 23:32:39,500 - root - INFO - Load required arcs
2022-05-30 23:32:39,502 - root - INFO - Merging with the network
2022-05-30 23:32:39,525 - root - INFO - Set depot
2022-05-30 23:32:39,528 - root - INFO - Set offload facilities
2022-05-30 23:32:39,536 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:39,585 - root - INFO - Checking master list
2022-05-30 23:32:39,590 - root - INFO - Load distance matrix: 498 x 498

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:40,299 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:40,310 - root - INFO - Calculate offloads: 498 x 498 x 2
2022-05-30 23:32:40,361 - root - INFO - Done!

[]

[]

2022-05-30 23:32:40,379 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:40,393 - root - INFO - Setting service cost for network
2022-05-30 23:32:40,401 - root - INFO - Setting demand for network
2022-05-30 23:32:40,408 - root - INFO - Update travel durations.
2022-05-30 23:32:40,410 - root - INFO - Update offload durations.
2022-05-30 23:32:40,411 - root - INFO - Done
2022-05-30 23:32:40,413 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:40,593 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:40,595 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:41,710 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,340,340,3.24,1.63,1.75,0.25,3.6,77.4,31.9,109.31,161.55,3.24
1,Total,1,1,,1,340,340,3.24,1.63,1.75,0.25,3.6,77.4,31.9,109.31,161.55,3.24

2022-05-30 23:32:41,722 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_026

(341, 42)

(341, 47)

2022-05-30 23:32:42,204 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
164  1157592    5.7
212  1157835   10.4
234  1157936    5.7
330  1158378   14.8
618  1158989    5.7

(341, 2)

2022-05-30 23:32:42,242 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.281433
Name: demand, dtype: float64

# units

land_use
Landed    341
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071042
Name: bin_service_cost, dtype: float64

(341, 61)

2022-05-30 23:32:42,301 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 341'

2022-05-30 23:32:42,380 - root - INFO - Preparing road network.......

2022-05-30 23:32:42,446 - root - INFO - Load required arcs
2022-05-30 23:32:42,448 - root - INFO - Merging with the network
2022-05-30 23:32:42,469 - root - INFO - Set depot
2022-05-30 23:32:42,472 - root - INFO - Set offload facilities
2022-05-30 23:32:42,481 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:42,537 - root - INFO - Checking master list
2022-05-30 23:32:42,541 - root - INFO - Load distance matrix: 526 x 526

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:43,316 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:43,329 - root - INFO - Calculate offloads: 526 x 526 x 2
2022-05-30 23:32:43,387 - root - INFO - Done!

[]

[]

2022-05-30 23:32:43,407 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:43,424 - root - INFO - Setting service cost for network
2022-05-30 23:32:43,432 - root - INFO - Setting demand for network
2022-05-30 23:32:43,444 - root - INFO - Update travel durations.
2022-05-30 23:32:43,446 - root - INFO - Update offload durations.
2022-05-30 23:32:43,448 - root - INFO - Done
2022-05-30 23:32:43,449 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:43,660 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:43,661 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:44,871 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 2
0,,1,1,Mon,1,341,341,3.38,1.58,1.92,0.25,3.74,85.79,30.41,116.2,168.83,3.38
1,Total,1,1,,1,341,341,3.38,1.58,1.92,0.25,3.74,85.79,30.41,116.2,168.83,3.38

2022-05-30 23:32:44,883 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_027

(321, 42)

(321, 47)

2022-05-30 23:32:45,375 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

           id  waste
53    1156971    5.7
666   1159065   21.7
692   1159092   15.6
933   1159334   17.8
1116  1159520   11.3

(321, 2)

2022-05-30 23:32:45,409 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.2559
Name: demand, dtype: float64

# units

land_use
Landed    321
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.066875
Name: bin_service_cost, dtype: float64

(321, 61)

2022-05-30 23:32:45,468 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 321'

2022-05-30 23:32:45,552 - root - INFO - Preparing road network.......

2022-05-30 23:32:45,612 - root - INFO - Load required arcs
2022-05-30 23:32:45,613 - root - INFO - Merging with the network
2022-05-30 23:32:45,635 - root - INFO - Set depot
2022-05-30 23:32:45,638 - root - INFO - Set offload facilities
2022-05-30 23:32:45,646 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:45,690 - root - INFO - Checking master list
2022-05-30 23:32:45,695 - root - INFO - Load distance matrix: 504 x 504

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:46,415 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:46,425 - root - INFO - Calculate offloads: 504 x 504 x 2
2022-05-30 23:32:46,474 - root - INFO - Done!

[]

[]

2022-05-30 23:32:46,491 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:46,506 - root - INFO - Setting service cost for network
2022-05-30 23:32:46,518 - root - INFO - Setting demand for network
2022-05-30 23:32:46,526 - root - INFO - Update travel durations.
2022-05-30 23:32:46,528 - root - INFO - Update offload durations.
2022-05-30 23:32:46,530 - root - INFO - Done
2022-05-30 23:32:46,531 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:46,710 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:46,712 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:47,791 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,321,321,3.07,1.52,1.94,0.25,3.68,85.74,29.59,115.32,166.66,3.07
1,Total,1,1,,1,321,321,3.07,1.52,1.94,0.25,3.68,85.74,29.59,115.32,166.66,3.07

2022-05-30 23:32:47,801 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_028

(337, 42)

(337, 47)

2022-05-30 23:32:48,290 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
107  1157225   11.3
182  1157532   14.8
200  1157619    5.7
245  1157787   17.8
278  1157942    8.2

(337, 2)

2022-05-30 23:32:48,328 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.278267
Name: demand, dtype: float64

# units

land_use
Landed    337
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.070208
Name: bin_service_cost, dtype: float64

(337, 61)

2022-05-30 23:32:48,386 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 337'

2022-05-30 23:32:48,461 - root - INFO - Preparing road network.......

2022-05-30 23:32:48,524 - root - INFO - Load required arcs
2022-05-30 23:32:48,525 - root - INFO - Merging with the network
2022-05-30 23:32:48,546 - root - INFO - Set depot
2022-05-30 23:32:48,550 - root - INFO - Set offload facilities
2022-05-30 23:32:48,560 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:48,607 - root - INFO - Checking master list
2022-05-30 23:32:48,612 - root - INFO - Load distance matrix: 535 x 535

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:49,361 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:49,372 - root - INFO - Calculate offloads: 535 x 535 x 2
2022-05-30 23:32:49,422 - root - INFO - Done!

[]

[]

2022-05-30 23:32:49,442 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:49,455 - root - INFO - Setting service cost for network
2022-05-30 23:32:49,463 - root - INFO - Setting demand for network
2022-05-30 23:32:49,470 - root - INFO - Update travel durations.
2022-05-30 23:32:49,472 - root - INFO - Update offload durations.
2022-05-30 23:32:49,474 - root - INFO - Done
2022-05-30 23:32:49,475 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:49,671 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:49,674 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:50,967 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,337,337,3.34,1.64,1.68,0.25,3.55,74.78,32.39,107.16,159.51,3.34
1,Total,1,1,,1,337,337,3.34,1.64,1.68,0.25,3.55,74.78,32.39,107.16,159.51,3.34

2022-05-30 23:32:50,979 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_029

(324, 42)

(324, 47)

2022-05-30 23:32:51,478 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
149  1157405   15.6
303  1158107    8.2
548  1158903    5.7
585  1158943    5.7
629  1158988   15.6

(324, 2)

2022-05-30 23:32:51,522 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.2755
Name: demand, dtype: float64

# units

land_use
Landed    324
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.0675
Name: bin_service_cost, dtype: float64

(324, 61)

2022-05-30 23:32:51,584 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 324'

2022-05-30 23:32:51,689 - root - INFO - Preparing road network.......

2022-05-30 23:32:51,877 - root - INFO - Load required arcs
2022-05-30 23:32:51,880 - root - INFO - Merging with the network
2022-05-30 23:32:51,912 - root - INFO - Set depot
2022-05-30 23:32:51,916 - root - INFO - Set offload facilities
2022-05-30 23:32:51,925 - root - INFO - Extend required arcs with inverse edge arcs

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:52,013 - root - INFO - Checking master list
2022-05-30 23:32:52,018 - root - INFO - Load distance matrix: 526 x 526

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:52,746 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:52,757 - root - INFO - Calculate offloads: 526 x 526 x 2
2022-05-30 23:32:52,812 - root - INFO - Done!

[]

[]

2022-05-30 23:32:52,833 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:52,845 - root - INFO - Setting service cost for network
2022-05-30 23:32:52,854 - root - INFO - Setting demand for network
2022-05-30 23:32:52,861 - root - INFO - Update travel durations.
2022-05-30 23:32:52,863 - root - INFO - Update offload durations.
2022-05-30 23:32:52,865 - root - INFO - Done
2022-05-30 23:32:52,866 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:53,053 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:53,055 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:54,094 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,324,324,3.31,1.55,1.73,0.25,3.49,76.18,30.16,106.34,156.69,3.31
1,Total,1,1,,1,324,324,3.31,1.55,1.73,0.25,3.49,76.18,30.16,106.34,156.69,3.31

2022-05-30 23:32:54,104 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_030

(372, 42)

(372, 47)

2022-05-30 23:32:54,568 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
27    611021    5.7
164  1157493    5.7
194  1157623   14.8
200  1157669   21.7
212  1157753    5.7

(372, 2)

2022-05-30 23:32:54,607 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.303475
Name: demand, dtype: float64

# units

land_use
Landed    372
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.0775
Name: bin_service_cost, dtype: float64

(372, 61)

2022-05-30 23:32:54,666 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 372'

2022-05-30 23:32:54,741 - root - INFO - Preparing road network.......

2022-05-30 23:32:54,801 - root - INFO - Load required arcs
2022-05-30 23:32:54,803 - root - INFO - Merging with the network
2022-05-30 23:32:54,825 - root - INFO - Set depot
2022-05-30 23:32:54,829 - root - INFO - Set offload facilities
2022-05-30 23:32:54,836 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:54,888 - root - INFO - Checking master list
2022-05-30 23:32:54,894 - root - INFO - Load distance matrix: 555 x 555

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:55,757 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:55,770 - root - INFO - Calculate offloads: 555 x 555 x 2
2022-05-30 23:32:55,832 - root - INFO - Done!

[]

[]

2022-05-30 23:32:55,849 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:55,863 - root - INFO - Setting service cost for network
2022-05-30 23:32:55,870 - root - INFO - Setting demand for network
2022-05-30 23:32:55,878 - root - INFO - Update travel durations.
2022-05-30 23:32:55,879 - root - INFO - Update offload durations.
2022-05-30 23:32:55,882 - root - INFO - Done
2022-05-30 23:32:55,883 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:56,086 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:56,087 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:32:57,312 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,372,372,3.64,1.82,1.86,0.25,3.9,82.52,36.0,118.53,176.5,3.64
1,Total,1,1,,1,372,372,3.64,1.82,1.86,0.25,3.9,82.52,36.0,118.53,176.5,3.64

2022-05-30 23:32:57,324 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_031

(371, 42)

(371, 47)

2022-05-30 23:32:57,824 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
303  1158347    5.7
330  1158472   32.5
437  1158825   10.4
618  1159012   32.5
692  1159089   17.8

(371, 2)

2022-05-30 23:32:57,864 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.313508
Name: demand, dtype: float64

# units

land_use
Landed    371
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.077292
Name: bin_service_cost, dtype: float64

(371, 61)

2022-05-30 23:32:57,924 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 371'

2022-05-30 23:32:58,007 - root - INFO - Preparing road network.......

2022-05-30 23:32:58,068 - root - INFO - Load required arcs
2022-05-30 23:32:58,070 - root - INFO - Merging with the network
2022-05-30 23:32:58,091 - root - INFO - Set depot
2022-05-30 23:32:58,095 - root - INFO - Set offload facilities
2022-05-30 23:32:58,102 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:32:58,147 - root - INFO - Checking master list
2022-05-30 23:32:58,153 - root - INFO - Load distance matrix: 578 x 578

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:32:59,045 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:32:59,060 - root - INFO - Calculate offloads: 578 x 578 x 2
2022-05-30 23:32:59,129 - root - INFO - Done!

[]

[]

2022-05-30 23:32:59,148 - root - INFO - Uploading scenario inputs...
2022-05-30 23:32:59,163 - root - INFO - Setting service cost for network
2022-05-30 23:32:59,173 - root - INFO - Setting demand for network
2022-05-30 23:32:59,181 - root - INFO - Update travel durations.
2022-05-30 23:32:59,183 - root - INFO - Update offload durations.
2022-05-30 23:32:59,186 - root - INFO - Done
2022-05-30 23:32:59,187 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:32:59,426 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:32:59,427 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:00,603 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,371,371,3.76,1.81,2.03,0.25,4.07,90.18,35.78,125.96,185.43,3.76
1,Total,1,1,,1,371,371,3.76,1.81,2.03,0.25,4.07,90.18,35.78,125.96,185.43,3.76

2022-05-30 23:33:00,615 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_032

(376, 42)

(376, 47)

2022-05-30 23:33:01,105 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609360   15.6
15    609642    5.7
176  1157525    5.7
212  1157691   19.5
455  1158839   26.0

(376, 2)

2022-05-30 23:33:01,157 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.306775
Name: demand, dtype: float64

# units

land_use
Landed    376
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.078333
Name: bin_service_cost, dtype: float64

(376, 61)

2022-05-30 23:33:01,252 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 376'

2022-05-30 23:33:01,330 - root - INFO - Preparing road network.......

2022-05-30 23:33:01,386 - root - INFO - Load required arcs
2022-05-30 23:33:01,388 - root - INFO - Merging with the network
2022-05-30 23:33:01,410 - root - INFO - Set depot
2022-05-30 23:33:01,414 - root - INFO - Set offload facilities
2022-05-30 23:33:01,421 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:01,472 - root - INFO - Checking master list
2022-05-30 23:33:01,476 - root - INFO - Load distance matrix: 563 x 563

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:02,324 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:02,338 - root - INFO - Calculate offloads: 563 x 563 x 2
2022-05-30 23:33:02,397 - root - INFO - Done!

[]

[]

2022-05-30 23:33:02,415 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:02,428 - root - INFO - Setting service cost for network
2022-05-30 23:33:02,437 - root - INFO - Setting demand for network
2022-05-30 23:33:02,444 - root - INFO - Update travel durations.
2022-05-30 23:33:02,446 - root - INFO - Update offload durations.
2022-05-30 23:33:02,449 - root - INFO - Done
2022-05-30 23:33:02,450 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:02,660 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:02,678 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:03,941 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 2
0,,1,1,Mon,1,376,376,3.68,1.87,1.98,0.25,4.06,87.38,37.37,124.74,185.11,3.68
1,Total,1,1,,1,376,376,3.68,1.87,1.98,0.25,4.06,87.38,37.37,124.74,185.11,3.68

2022-05-30 23:33:03,950 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_033

(325, 42)

(325, 47)

2022-05-30 23:33:04,469 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
245  1157907    9.1
330  1158398    5.7
548  1158930   36.1
656  1159040   32.5
692  1159078    9.1

(325, 2)

2022-05-30 23:33:04,506 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.280767
Name: demand, dtype: float64

# units

land_use
Landed    325
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.067708
Name: bin_service_cost, dtype: float64

(325, 61)

2022-05-30 23:33:04,565 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 325'

2022-05-30 23:33:04,646 - root - INFO - Preparing road network.......

2022-05-30 23:33:04,714 - root - INFO - Load required arcs
2022-05-30 23:33:04,716 - root - INFO - Merging with the network
2022-05-30 23:33:04,742 - root - INFO - Set depot
2022-05-30 23:33:04,745 - root - INFO - Set offload facilities
2022-05-30 23:33:04,755 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:04,806 - root - INFO - Checking master list
2022-05-30 23:33:04,811 - root - INFO - Load distance matrix: 498 x 498

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:05,521 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:05,531 - root - INFO - Calculate offloads: 498 x 498 x 2
2022-05-30 23:33:05,580 - root - INFO - Done!

[]

[]

2022-05-30 23:33:05,597 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:05,611 - root - INFO - Setting service cost for network
2022-05-30 23:33:05,620 - root - INFO - Setting demand for network
2022-05-30 23:33:05,628 - root - INFO - Update travel durations.
2022-05-30 23:33:05,629 - root - INFO - Update offload durations.
2022-05-30 23:33:05,632 - root - INFO - Done
2022-05-30 23:33:05,632 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:05,812 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:05,814 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:07,011 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,325,325,3.37,1.58,1.88,0.25,3.68,83.1,31.24,114.33,167.24,3.37
1,Total,1,1,,1,325,325,3.37,1.58,1.88,0.25,3.68,83.1,31.24,114.33,167.24,3.37

2022-05-30 23:33:07,023 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_034

(360, 42)

(360, 47)

2022-05-30 23:33:07,516 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
104  1157265   17.8
194  1157720   21.7
290  1158136    9.1
303  1158206   13.6
455  1158832   14.8

(360, 2)

2022-05-30 23:33:07,555 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.303192
Name: demand, dtype: float64

# units

land_use
Landed    360
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.075
Name: bin_service_cost, dtype: float64

(360, 61)

2022-05-30 23:33:07,614 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 360'

2022-05-30 23:33:07,697 - root - INFO - Preparing road network.......

2022-05-30 23:33:07,757 - root - INFO - Load required arcs
2022-05-30 23:33:07,763 - root - INFO - Merging with the network
2022-05-30 23:33:07,782 - root - INFO - Set depot
2022-05-30 23:33:07,785 - root - INFO - Set offload facilities
2022-05-30 23:33:07,792 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:07,846 - root - INFO - Checking master list
2022-05-30 23:33:07,852 - root - INFO - Load distance matrix: 556 x 556

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:08,821 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:08,834 - root - INFO - Calculate offloads: 556 x 556 x 2
2022-05-30 23:33:08,901 - root - INFO - Done!

[]

[]

2022-05-30 23:33:08,920 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:08,932 - root - INFO - Setting service cost for network
2022-05-30 23:33:08,940 - root - INFO - Setting demand for network
2022-05-30 23:33:08,948 - root - INFO - Update travel durations.
2022-05-30 23:33:08,950 - root - INFO - Update offload durations.
2022-05-30 23:33:08,953 - root - INFO - Done
2022-05-30 23:33:08,954 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:09,167 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:09,169 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:10,317 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 2
0,,1,1,Mon,1,360,360,3.64,1.81,2.25,0.25,4.28,99.66,36.37,136.03,197.79,3.64
1,Total,1,1,,1,360,360,3.64,1.81,2.25,0.25,4.28,99.66,36.37,136.03,197.79,3.64

2022-05-30 23:33:10,327 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_035

(355, 42)

(355, 47)

2022-05-30 23:33:10,871 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
27    611604   17.8
149  1157471   13.6
182  1157695   13.6
185  1157706    9.1
200  1157780    5.7

(355, 2)

2022-05-30 23:33:10,912 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.294858
Name: demand, dtype: float64

# units

land_use
Landed    355
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.073958
Name: bin_service_cost, dtype: float64

(355, 61)

2022-05-30 23:33:10,973 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 355'

2022-05-30 23:33:11,051 - root - INFO - Preparing road network.......

2022-05-30 23:33:11,109 - root - INFO - Load required arcs
2022-05-30 23:33:11,111 - root - INFO - Merging with the network
2022-05-30 23:33:11,131 - root - INFO - Set depot
2022-05-30 23:33:11,135 - root - INFO - Set offload facilities
2022-05-30 23:33:11,141 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:11,195 - root - INFO - Checking master list
2022-05-30 23:33:11,200 - root - INFO - Load distance matrix: 560 x 560

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:11,995 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:12,008 - root - INFO - Calculate offloads: 560 x 560 x 2
2022-05-30 23:33:12,061 - root - INFO - Done!

[]

[]

2022-05-30 23:33:12,078 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:12,092 - root - INFO - Setting service cost for network
2022-05-30 23:33:12,100 - root - INFO - Setting demand for network
2022-05-30 23:33:12,107 - root - INFO - Update travel durations.
2022-05-30 23:33:12,109 - root - INFO - Update offload durations.
2022-05-30 23:33:12,112 - root - INFO - Done
2022-05-30 23:33:12,113 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:12,311 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:12,313 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:13,446 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,355,355,3.54,1.72,1.85,0.25,3.79,82.13,33.7,115.84,171.27,3.54
1,Total,1,1,,1,355,355,3.54,1.72,1.85,0.25,3.79,82.13,33.7,115.84,171.27,3.54

2022-05-30 23:33:13,457 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_036

(339, 42)

(339, 47)

2022-05-30 23:33:13,933 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

           id  waste
27     612495   17.8
234   1158003   11.9
1062  1159484   21.7
1263  1159697   19.7
1401  1159836   17.8

(339, 2)

2022-05-30 23:33:13,974 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.274883
Name: demand, dtype: float64

# units

land_use
Landed    339
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.070625
Name: bin_service_cost, dtype: float64

(339, 61)

2022-05-30 23:33:14,034 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 339'

2022-05-30 23:33:14,111 - root - INFO - Preparing road network.......

2022-05-30 23:33:14,175 - root - INFO - Load required arcs
2022-05-30 23:33:14,176 - root - INFO - Merging with the network
2022-05-30 23:33:14,197 - root - INFO - Set depot
2022-05-30 23:33:14,200 - root - INFO - Set offload facilities
2022-05-30 23:33:14,208 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:14,255 - root - INFO - Checking master list
2022-05-30 23:33:14,260 - root - INFO - Load distance matrix: 491 x 491

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:15,028 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:15,038 - root - INFO - Calculate offloads: 491 x 491 x 2
2022-05-30 23:33:15,086 - root - INFO - Done!

[]

[]

2022-05-30 23:33:15,103 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:15,116 - root - INFO - Setting service cost for network
2022-05-30 23:33:15,123 - root - INFO - Setting demand for network
2022-05-30 23:33:15,130 - root - INFO - Update travel durations.
2022-05-30 23:33:15,132 - root - INFO - Update offload durations.
2022-05-30 23:33:15,136 - root - INFO - Done
2022-05-30 23:33:15,137 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:15,311 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:15,312 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:16,348 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,339,339,3.3,1.56,1.83,0.25,3.62,81.6,29.78,111.38,162.44,3.3
1,Total,1,1,,1,339,339,3.3,1.56,1.83,0.25,3.62,81.6,29.78,111.38,162.44,3.3

2022-05-30 23:33:16,360 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_037

(319, 42)

(319, 47)

2022-05-30 23:33:16,818 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
164  1157519   16.0
533  1158915   19.7
548  1158930    9.1
626  1159009    5.7
714  1159099   17.8

(319, 2)

2022-05-30 23:33:16,855 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.2621
Name: demand, dtype: float64

# units

land_use
Landed    319
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.066458
Name: bin_service_cost, dtype: float64

(319, 61)

2022-05-30 23:33:16,913 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 319'

2022-05-30 23:33:16,987 - root - INFO - Preparing road network.......

2022-05-30 23:33:17,049 - root - INFO - Load required arcs
2022-05-30 23:33:17,052 - root - INFO - Merging with the network
2022-05-30 23:33:17,073 - root - INFO - Set depot
2022-05-30 23:33:17,077 - root - INFO - Set offload facilities
2022-05-30 23:33:17,085 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:17,132 - root - INFO - Checking master list
2022-05-30 23:33:17,137 - root - INFO - Load distance matrix: 492 x 492

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:17,827 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:17,837 - root - INFO - Calculate offloads: 492 x 492 x 2
2022-05-30 23:33:17,893 - root - INFO - Done!

[]

[]

2022-05-30 23:33:17,911 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:17,927 - root - INFO - Setting service cost for network
2022-05-30 23:33:17,937 - root - INFO - Setting demand for network
2022-05-30 23:33:17,945 - root - INFO - Update travel durations.
2022-05-30 23:33:17,947 - root - INFO - Update offload durations.
2022-05-30 23:33:17,950 - root - INFO - Done
2022-05-30 23:33:17,950 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:18,121 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:18,122 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:19,168 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,319,319,3.15,1.55,1.96,0.25,3.73,86.49,30.66,117.15,169.83,3.15
1,Total,1,1,,1,319,319,3.15,1.55,1.96,0.25,3.73,86.49,30.66,117.15,169.83,3.15

2022-05-30 23:33:19,179 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_038

(369, 42)

(369, 47)

2022-05-30 23:33:19,670 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
15    609757   16.0
234  1157898    9.1
278  1158136   11.9
296  1158208   13.6
656  1159042    9.1

(369, 2)

2022-05-30 23:33:19,706 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.310792
Name: demand, dtype: float64

# units

land_use
Landed    369
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.076875
Name: bin_service_cost, dtype: float64

(369, 61)

2022-05-30 23:33:19,766 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 369'

2022-05-30 23:33:19,847 - root - INFO - Preparing road network.......

2022-05-30 23:33:19,907 - root - INFO - Load required arcs
2022-05-30 23:33:19,908 - root - INFO - Merging with the network
2022-05-30 23:33:19,928 - root - INFO - Set depot
2022-05-30 23:33:19,932 - root - INFO - Set offload facilities
2022-05-30 23:33:19,939 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:19,986 - root - INFO - Checking master list
2022-05-30 23:33:19,990 - root - INFO - Load distance matrix: 563 x 563

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:20,752 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:20,766 - root - INFO - Calculate offloads: 563 x 563 x 2
2022-05-30 23:33:20,830 - root - INFO - Done!

[]

[]

2022-05-30 23:33:20,847 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:20,866 - root - INFO - Setting service cost for network
2022-05-30 23:33:20,875 - root - INFO - Setting demand for network
2022-05-30 23:33:20,882 - root - INFO - Update travel durations.
2022-05-30 23:33:20,884 - root - INFO - Update offload durations.
2022-05-30 23:33:20,886 - root - INFO - Done
2022-05-30 23:33:20,887 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:21,092 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:21,094 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:22,463 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,369,369,3.73,1.78,1.93,0.25,3.94,85.85,34.92,120.77,178.46,3.73
1,Total,1,1,,1,369,369,3.73,1.78,1.93,0.25,3.94,85.85,34.92,120.77,178.46,3.73

2022-05-30 23:33:22,474 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_039

(329, 42)

(329, 47)

2022-05-30 23:33:22,952 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
278  1158072   21.7
430  1158795    5.7
626  1158995   17.8
954  1159330   25.3
957  1159333    5.1

(329, 2)

2022-05-30 23:33:23,101 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.288083
Name: demand, dtype: float64

# units

land_use
Landed    329
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.068542
Name: bin_service_cost, dtype: float64

(329, 61)

2022-05-30 23:33:23,159 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 329'

2022-05-30 23:33:23,234 - root - INFO - Preparing road network.......

2022-05-30 23:33:23,287 - root - INFO - Load required arcs
2022-05-30 23:33:23,290 - root - INFO - Merging with the network
2022-05-30 23:33:23,308 - root - INFO - Set depot
2022-05-30 23:33:23,312 - root - INFO - Set offload facilities
2022-05-30 23:33:23,321 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:23,367 - root - INFO - Checking master list
2022-05-30 23:33:23,371 - root - INFO - Load distance matrix: 498 x 498

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:24,070 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:24,080 - root - INFO - Calculate offloads: 498 x 498 x 2
2022-05-30 23:33:24,131 - root - INFO - Done!

[]

[]

2022-05-30 23:33:24,149 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:24,165 - root - INFO - Setting service cost for network
2022-05-30 23:33:24,175 - root - INFO - Setting demand for network
2022-05-30 23:33:24,183 - root - INFO - Update travel durations.
2022-05-30 23:33:24,185 - root - INFO - Update offload durations.
2022-05-30 23:33:24,186 - root - INFO - Done
2022-05-30 23:33:24,187 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:24,366 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:24,368 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:25,447 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,329,329,3.46,1.54,1.91,0.25,3.66,84.04,29.83,113.87,165.69,3.46
1,Total,1,1,,1,329,329,3.46,1.54,1.91,0.25,3.66,84.04,29.83,113.87,165.69,3.46

2022-05-30 23:33:25,458 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_040

(341, 42)

(341, 47)

2022-05-30 23:33:25,941 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
149  1157498   10.4
164  1157565    5.7
182  1157658   19.7
185  1157676    9.1
234  1157864   21.7

(341, 2)

2022-05-30 23:33:25,975 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.272067
Name: demand, dtype: float64

# units

land_use
Landed    341
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071042
Name: bin_service_cost, dtype: float64

(341, 61)

2022-05-30 23:33:26,035 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 341'

2022-05-30 23:33:26,113 - root - INFO - Preparing road network.......

2022-05-30 23:33:26,169 - root - INFO - Load required arcs
2022-05-30 23:33:26,171 - root - INFO - Merging with the network
2022-05-30 23:33:26,190 - root - INFO - Set depot
2022-05-30 23:33:26,194 - root - INFO - Set offload facilities
2022-05-30 23:33:26,200 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:26,242 - root - INFO - Checking master list
2022-05-30 23:33:26,247 - root - INFO - Load distance matrix: 502 x 502

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:26,941 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:26,952 - root - INFO - Calculate offloads: 502 x 502 x 2
2022-05-30 23:33:27,005 - root - INFO - Done!

[]

[]

2022-05-30 23:33:27,023 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:27,036 - root - INFO - Setting service cost for network
2022-05-30 23:33:27,043 - root - INFO - Setting demand for network
2022-05-30 23:33:27,050 - root - INFO - Update travel durations.
2022-05-30 23:33:27,052 - root - INFO - Update offload durations.
2022-05-30 23:33:27,054 - root - INFO - Done
2022-05-30 23:33:27,055 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:27,270 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:27,272 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:28,441 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,341,341,3.26,1.59,1.86,0.25,3.66,81.86,30.6,112.46,164.33,3.26
1,Total,1,1,,1,341,341,3.26,1.59,1.86,0.25,3.66,81.86,30.6,112.46,164.33,3.26

2022-05-30 23:33:28,451 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_041

(362, 42)

(362, 47)

2022-05-30 23:33:28,969 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
27    611560    5.1
53   1156938   19.7
176  1157497   10.4
560  1158925    9.1
582  1158947    5.7

(362, 2)

2022-05-30 23:33:29,008 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.301325
Name: demand, dtype: float64

# units

land_use
Landed    362
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.075417
Name: bin_service_cost, dtype: float64

(362, 61)

2022-05-30 23:33:29,068 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 362'

2022-05-30 23:33:29,147 - root - INFO - Preparing road network.......

2022-05-30 23:33:29,206 - root - INFO - Load required arcs
2022-05-30 23:33:29,208 - root - INFO - Merging with the network
2022-05-30 23:33:29,230 - root - INFO - Set depot
2022-05-30 23:33:29,233 - root - INFO - Set offload facilities
2022-05-30 23:33:29,242 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:29,292 - root - INFO - Checking master list
2022-05-30 23:33:29,297 - root - INFO - Load distance matrix: 538 x 538

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:30,078 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:30,091 - root - INFO - Calculate offloads: 538 x 538 x 2
2022-05-30 23:33:30,162 - root - INFO - Done!

[]

[]

2022-05-30 23:33:30,178 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:30,190 - root - INFO - Setting service cost for network
2022-05-30 23:33:30,198 - root - INFO - Setting demand for network
2022-05-30 23:33:30,208 - root - INFO - Update travel durations.
2022-05-30 23:33:30,210 - root - INFO - Update offload durations.
2022-05-30 23:33:30,213 - root - INFO - Done
2022-05-30 23:33:30,214 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:30,417 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:30,419 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:31,534 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,362,362,3.62,1.69,1.83,0.25,3.75,81.49,32.7,114.18,168.6,3.62
1,Total,1,1,,1,362,362,3.62,1.69,1.83,0.25,3.75,81.49,32.7,114.18,168.6,3.62

2022-05-30 23:33:31,544 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_042

(369, 42)

(369, 47)

2022-05-30 23:33:32,021 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
15    610379    5.7
278  1158149    5.7
629  1159007    9.1
692  1159074    5.7
714  1159100    5.7

(369, 2)

2022-05-30 23:33:32,062 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.30935
Name: demand, dtype: float64

# units

land_use
Landed    369
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.076875
Name: bin_service_cost, dtype: float64

(369, 61)

2022-05-30 23:33:32,127 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 369'

2022-05-30 23:33:32,211 - root - INFO - Preparing road network.......

2022-05-30 23:33:32,276 - root - INFO - Load required arcs
2022-05-30 23:33:32,277 - root - INFO - Merging with the network
2022-05-30 23:33:32,300 - root - INFO - Set depot
2022-05-30 23:33:32,303 - root - INFO - Set offload facilities
2022-05-30 23:33:32,310 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:32,357 - root - INFO - Checking master list
2022-05-30 23:33:32,361 - root - INFO - Load distance matrix: 524 x 524

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:33,114 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:33,125 - root - INFO - Calculate offloads: 524 x 524 x 2
2022-05-30 23:33:33,182 - root - INFO - Done!

[]

[]

2022-05-30 23:33:33,200 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:33,214 - root - INFO - Setting service cost for network
2022-05-30 23:33:33,222 - root - INFO - Setting demand for network
2022-05-30 23:33:33,229 - root - INFO - Update travel durations.
2022-05-30 23:33:33,230 - root - INFO - Update offload durations.
2022-05-30 23:33:33,232 - root - INFO - Done
2022-05-30 23:33:33,233 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:33,426 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:33,428 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:34,579 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,369,369,3.71,1.74,1.89,0.25,3.86,84.22,33.86,118.07,174.34,3.71
1,Total,1,1,,1,369,369,3.71,1.74,1.89,0.25,3.86,84.22,33.86,118.07,174.34,3.71

2022-05-30 23:33:34,590 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_043

(349, 42)

(349, 47)

2022-05-30 23:33:35,080 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
15    609676    5.7
53   1156943   19.7
200  1157668    5.1
430  1158797    9.1
455  1158822   24.1

(349, 2)

2022-05-30 23:33:35,116 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.293717
Name: demand, dtype: float64

# units

land_use
Landed    349
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.072708
Name: bin_service_cost, dtype: float64

(349, 61)

2022-05-30 23:33:35,177 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 349'

2022-05-30 23:33:35,251 - root - INFO - Preparing road network.......

2022-05-30 23:33:35,313 - root - INFO - Load required arcs
2022-05-30 23:33:35,315 - root - INFO - Merging with the network
2022-05-30 23:33:35,338 - root - INFO - Set depot
2022-05-30 23:33:35,341 - root - INFO - Set offload facilities
2022-05-30 23:33:35,349 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:35,401 - root - INFO - Checking master list
2022-05-30 23:33:35,407 - root - INFO - Load distance matrix: 537 x 537

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:36,146 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:36,158 - root - INFO - Calculate offloads: 537 x 537 x 2
2022-05-30 23:33:36,217 - root - INFO - Done!

[]

[]

2022-05-30 23:33:36,238 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:36,255 - root - INFO - Setting service cost for network
2022-05-30 23:33:36,263 - root - INFO - Setting demand for network
2022-05-30 23:33:36,271 - root - INFO - Update travel durations.
2022-05-30 23:33:36,272 - root - INFO - Update offload durations.
2022-05-30 23:33:36,274 - root - INFO - Done
2022-05-30 23:33:36,275 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:36,476 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:36,478 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:37,748 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,349,349,3.52,1.63,1.86,0.25,3.71,82.06,31.5,113.56,166.77,3.52
1,Total,1,1,,1,349,349,3.52,1.63,1.86,0.25,3.71,82.06,31.5,113.56,166.77,3.52

2022-05-30 23:33:37,759 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_044

(368, 42)

(368, 47)

2022-05-30 23:33:38,234 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
15    609791   19.7
104  1157203   11.3
194  1157709    5.7
242  1157920    5.7
430  1158796   12.2

(368, 2)

2022-05-30 23:33:38,271 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.307117
Name: demand, dtype: float64

# units

land_use
Landed    368
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.076667
Name: bin_service_cost, dtype: float64

(368, 61)

2022-05-30 23:33:38,333 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 368'

2022-05-30 23:33:38,413 - root - INFO - Preparing road network.......

2022-05-30 23:33:38,473 - root - INFO - Load required arcs
2022-05-30 23:33:38,475 - root - INFO - Merging with the network
2022-05-30 23:33:38,496 - root - INFO - Set depot
2022-05-30 23:33:38,500 - root - INFO - Set offload facilities
2022-05-30 23:33:38,507 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:38,554 - root - INFO - Checking master list
2022-05-30 23:33:38,559 - root - INFO - Load distance matrix: 536 x 536

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:39,313 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:39,326 - root - INFO - Calculate offloads: 536 x 536 x 2
2022-05-30 23:33:39,388 - root - INFO - Done!

[]

[]

2022-05-30 23:33:39,408 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:39,422 - root - INFO - Setting service cost for network
2022-05-30 23:33:39,429 - root - INFO - Setting demand for network
2022-05-30 23:33:39,438 - root - INFO - Update travel durations.
2022-05-30 23:33:39,439 - root - INFO - Update offload durations.
2022-05-30 23:33:39,442 - root - INFO - Done
2022-05-30 23:33:39,443 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:39,647 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:39,649 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:40,821 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,368,368,3.69,1.67,1.72,0.25,3.61,76.06,31.65,107.71,160.1,3.69
1,Total,1,1,,1,368,368,3.69,1.67,1.72,0.25,3.61,76.06,31.65,107.71,160.1,3.69

2022-05-30 23:33:40,834 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_045

(344, 42)

(344, 47)

2022-05-30 23:33:41,318 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
27    611335   21.7
107  1157202    5.7
149  1157451    5.7
164  1157510    5.7
254  1157847    9.1

(344, 2)

2022-05-30 23:33:41,358 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.308083
Name: demand, dtype: float64

# units

land_use
Landed    344
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071667
Name: bin_service_cost, dtype: float64

(344, 61)

2022-05-30 23:33:41,415 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 344'

2022-05-30 23:33:41,495 - root - INFO - Preparing road network.......

2022-05-30 23:33:41,556 - root - INFO - Load required arcs
2022-05-30 23:33:41,558 - root - INFO - Merging with the network
2022-05-30 23:33:41,577 - root - INFO - Set depot
2022-05-30 23:33:41,581 - root - INFO - Set offload facilities
2022-05-30 23:33:41,589 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:41,638 - root - INFO - Checking master list
2022-05-30 23:33:41,646 - root - INFO - Load distance matrix: 533 x 533

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:42,379 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:42,391 - root - INFO - Calculate offloads: 533 x 533 x 2
2022-05-30 23:33:42,447 - root - INFO - Done!

[]

[]

2022-05-30 23:33:42,465 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:42,480 - root - INFO - Setting service cost for network
2022-05-30 23:33:42,486 - root - INFO - Setting demand for network
2022-05-30 23:33:42,495 - root - INFO - Update travel durations.
2022-05-30 23:33:42,496 - root - INFO - Update offload durations.
2022-05-30 23:33:42,499 - root - INFO - Done
2022-05-30 23:33:42,499 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:42,699 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:42,701 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:43,783 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,344,344,3.7,1.68,1.84,0.25,3.74,81.44,33.22,114.66,169.72,3.7
1,Total,1,1,,1,344,344,3.7,1.68,1.84,0.25,3.74,81.44,33.22,114.66,169.72,3.7

2022-05-30 23:33:43,793 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_046

(341, 42)

(341, 47)

2022-05-30 23:33:44,297 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
15    609799    5.7
149  1157474   21.7
200  1157680    5.7
212  1157722    9.1
245  1157906    5.7

(341, 2)

2022-05-30 23:33:44,337 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.278625
Name: demand, dtype: float64

# units

land_use
Landed    341
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071042
Name: bin_service_cost, dtype: float64

(341, 61)

2022-05-30 23:33:44,397 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 341'

2022-05-30 23:33:44,477 - root - INFO - Preparing road network.......

2022-05-30 23:33:44,535 - root - INFO - Load required arcs
2022-05-30 23:33:44,537 - root - INFO - Merging with the network
2022-05-30 23:33:44,557 - root - INFO - Set depot
2022-05-30 23:33:44,561 - root - INFO - Set offload facilities
2022-05-30 23:33:44,568 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:44,618 - root - INFO - Checking master list
2022-05-30 23:33:44,622 - root - INFO - Load distance matrix: 516 x 516

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:45,373 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:45,384 - root - INFO - Calculate offloads: 516 x 516 x 2
2022-05-30 23:33:45,446 - root - INFO - Done!

[]

[]

2022-05-30 23:33:45,464 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:45,477 - root - INFO - Setting service cost for network
2022-05-30 23:33:45,485 - root - INFO - Setting demand for network
2022-05-30 23:33:45,493 - root - INFO - Update travel durations.
2022-05-30 23:33:45,495 - root - INFO - Update offload durations.
2022-05-30 23:33:45,496 - root - INFO - Done
2022-05-30 23:33:45,497 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:45,677 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:45,679 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:46,737 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,341,341,3.34,1.6,2.06,0.25,3.87,91.11,30.8,121.91,175.95,3.34
1,Total,1,1,,1,341,341,3.34,1.6,2.06,0.25,3.87,91.11,30.8,121.91,175.95,3.34

2022-05-30 23:33:46,750 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_047

(375, 42)

(375, 47)

2022-05-30 23:33:47,232 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
53   1157016    5.7
104  1157228   36.1
176  1157567   17.8
303  1158183   11.3
430  1158793   22.8

(375, 2)

2022-05-30 23:33:47,272 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.313133
Name: demand, dtype: float64

# units

land_use
Landed    375
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.078125
Name: bin_service_cost, dtype: float64

(375, 61)

2022-05-30 23:33:47,335 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 375'

2022-05-30 23:33:47,410 - root - INFO - Preparing road network.......

2022-05-30 23:33:47,470 - root - INFO - Load required arcs
2022-05-30 23:33:47,472 - root - INFO - Merging with the network
2022-05-30 23:33:47,497 - root - INFO - Set depot
2022-05-30 23:33:47,500 - root - INFO - Set offload facilities
2022-05-30 23:33:47,509 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:47,563 - root - INFO - Checking master list
2022-05-30 23:33:47,568 - root - INFO - Load distance matrix: 572 x 572

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:48,478 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:48,492 - root - INFO - Calculate offloads: 572 x 572 x 2
2022-05-30 23:33:48,550 - root - INFO - Done!

[]

[]

2022-05-30 23:33:48,569 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:48,585 - root - INFO - Setting service cost for network
2022-05-30 23:33:48,594 - root - INFO - Setting demand for network
2022-05-30 23:33:48,602 - root - INFO - Update travel durations.
2022-05-30 23:33:48,603 - root - INFO - Update offload durations.
2022-05-30 23:33:48,606 - root - INFO - Done
2022-05-30 23:33:48,607 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:48,828 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:48,829 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:50,046 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 2
0,,1,1,Mon,1,375,375,3.76,1.87,2.02,0.25,4.1,89.13,37.4,126.53,187.4,3.76
1,Total,1,1,,1,375,375,3.76,1.87,2.02,0.25,4.1,89.13,37.4,126.53,187.4,3.76

2022-05-30 23:33:50,056 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_048

(376, 42)

(376, 47)

2022-05-30 23:33:50,707 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609290   15.6
104  1157193   21.7
107  1157211    5.7
200  1157647   15.6
212  1157732    9.1

(376, 2)

2022-05-30 23:33:50,744 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.311992
Name: demand, dtype: float64

# units

land_use
Landed    376
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.078333
Name: bin_service_cost, dtype: float64

(376, 61)

2022-05-30 23:33:50,807 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 376'

2022-05-30 23:33:50,891 - root - INFO - Preparing road network.......

2022-05-30 23:33:50,953 - root - INFO - Load required arcs
2022-05-30 23:33:50,955 - root - INFO - Merging with the network
2022-05-30 23:33:50,979 - root - INFO - Set depot
2022-05-30 23:33:50,982 - root - INFO - Set offload facilities
2022-05-30 23:33:50,990 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:51,045 - root - INFO - Checking master list
2022-05-30 23:33:51,049 - root - INFO - Load distance matrix: 570 x 570

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:51,836 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:51,851 - root - INFO - Calculate offloads: 570 x 570 x 2
2022-05-30 23:33:51,907 - root - INFO - Done!

[]

[]

2022-05-30 23:33:51,925 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:51,941 - root - INFO - Setting service cost for network
2022-05-30 23:33:51,949 - root - INFO - Setting demand for network
2022-05-30 23:33:51,957 - root - INFO - Update travel durations.
2022-05-30 23:33:51,958 - root - INFO - Update offload durations.
2022-05-30 23:33:51,960 - root - INFO - Done
2022-05-30 23:33:51,961 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:52,181 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:52,182 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:53,438 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,376,376,3.74,1.76,2.02,0.25,3.98,88.67,34.1,122.77,180.22,3.74
1,Total,1,1,,1,376,376,3.74,1.76,2.02,0.25,3.98,88.67,34.1,122.77,180.22,3.74

2022-05-30 23:33:53,449 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_049

(360, 42)

(360, 47)

2022-05-30 23:33:53,925 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
212  1157753   11.3
234  1157833   17.8
245  1157883   15.6
548  1158902   25.3
678  1159034   21.7

(360, 2)

2022-05-30 23:33:53,962 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.302292
Name: demand, dtype: float64

# units

land_use
Landed    360
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.075
Name: bin_service_cost, dtype: float64

(360, 61)

2022-05-30 23:33:54,027 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 360'

2022-05-30 23:33:54,109 - root - INFO - Preparing road network.......

2022-05-30 23:33:54,179 - root - INFO - Load required arcs
2022-05-30 23:33:54,180 - root - INFO - Merging with the network
2022-05-30 23:33:54,206 - root - INFO - Set depot
2022-05-30 23:33:54,210 - root - INFO - Set offload facilities
2022-05-30 23:33:54,220 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:54,271 - root - INFO - Checking master list
2022-05-30 23:33:54,277 - root - INFO - Load distance matrix: 543 x 543

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:55,038 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:55,050 - root - INFO - Calculate offloads: 543 x 543 x 2
2022-05-30 23:33:55,103 - root - INFO - Done!

[]

[]

2022-05-30 23:33:55,123 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:55,136 - root - INFO - Setting service cost for network
2022-05-30 23:33:55,144 - root - INFO - Setting demand for network
2022-05-30 23:33:55,151 - root - INFO - Update travel durations.
2022-05-30 23:33:55,153 - root - INFO - Update offload durations.
2022-05-30 23:33:55,156 - root - INFO - Done
2022-05-30 23:33:55,157 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:55,356 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:55,359 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:56,537 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,360,360,3.63,1.69,1.76,0.25,3.68,78.29,32.56,110.85,164.51,3.63
1,Total,1,1,,1,360,360,3.63,1.69,1.76,0.25,3.68,78.29,32.56,110.85,164.51,3.63

2022-05-30 23:33:56,546 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_050

(346, 42)

(346, 47)

2022-05-30 23:33:57,030 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
176  1157548   15.6
234  1157824    5.7
278  1158048   13.2
569  1158928   17.8
644  1159006    5.7

(346, 2)

2022-05-30 23:33:57,069 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.2765
Name: demand, dtype: float64

# units

land_use
Landed    346
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.072083
Name: bin_service_cost, dtype: float64

(346, 61)

2022-05-30 23:33:57,130 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 346'

2022-05-30 23:33:57,215 - root - INFO - Preparing road network.......

2022-05-30 23:33:57,278 - root - INFO - Load required arcs
2022-05-30 23:33:57,280 - root - INFO - Merging with the network
2022-05-30 23:33:57,301 - root - INFO - Set depot
2022-05-30 23:33:57,304 - root - INFO - Set offload facilities
2022-05-30 23:33:57,312 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:33:57,360 - root - INFO - Checking master list
2022-05-30 23:33:57,366 - root - INFO - Load distance matrix: 519 x 519

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:33:58,152 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:33:58,163 - root - INFO - Calculate offloads: 519 x 519 x 2
2022-05-30 23:33:58,223 - root - INFO - Done!

[]

[]

2022-05-30 23:33:58,244 - root - INFO - Uploading scenario inputs...
2022-05-30 23:33:58,260 - root - INFO - Setting service cost for network
2022-05-30 23:33:58,269 - root - INFO - Setting demand for network
2022-05-30 23:33:58,279 - root - INFO - Update travel durations.
2022-05-30 23:33:58,280 - root - INFO - Update offload durations.
2022-05-30 23:33:58,284 - root - INFO - Done
2022-05-30 23:33:58,285 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:33:58,484 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:33:58,486 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:33:59,606 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,346,346,3.32,1.56,2.08,0.25,3.85,91.81,29.35,121.16,173.85,3.32
1,Total,1,1,,1,346,346,3.32,1.56,2.08,0.25,3.85,91.81,29.35,121.16,173.85,3.32

2022-05-30 23:33:59,615 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_051

(364, 42)

(364, 47)

2022-05-30 23:34:00,077 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609287   11.3
164  1157659    5.7
176  1157696    9.1
185  1157720    9.1
430  1158828    5.7

(364, 2)

2022-05-30 23:34:00,117 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.303167
Name: demand, dtype: float64

# units

land_use
Landed    364
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.075833
Name: bin_service_cost, dtype: float64

(364, 61)

2022-05-30 23:34:00,175 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 364'

2022-05-30 23:34:00,251 - root - INFO - Preparing road network.......

2022-05-30 23:34:00,317 - root - INFO - Load required arcs
2022-05-30 23:34:00,319 - root - INFO - Merging with the network
2022-05-30 23:34:00,340 - root - INFO - Set depot
2022-05-30 23:34:00,344 - root - INFO - Set offload facilities
2022-05-30 23:34:00,352 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:00,400 - root - INFO - Checking master list
2022-05-30 23:34:00,404 - root - INFO - Load distance matrix: 563 x 563

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:01,172 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:01,185 - root - INFO - Calculate offloads: 563 x 563 x 2
2022-05-30 23:34:01,247 - root - INFO - Done!

[]

[]

2022-05-30 23:34:01,264 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:01,276 - root - INFO - Setting service cost for network
2022-05-30 23:34:01,284 - root - INFO - Setting demand for network
2022-05-30 23:34:01,293 - root - INFO - Update travel durations.
2022-05-30 23:34:01,294 - root - INFO - Update offload durations.
2022-05-30 23:34:01,296 - root - INFO - Done
2022-05-30 23:34:01,297 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:01,499 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:01,501 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:02,587 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,364,364,3.64,1.7,1.89,0.25,3.78,82.52,32.75,115.27,169.98,3.64
1,Total,1,1,,1,364,364,3.64,1.7,1.89,0.25,3.78,82.52,32.75,115.27,169.98,3.64

2022-05-30 23:34:02,599 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_052

(351, 42)

(351, 47)

2022-05-30 23:34:03,072 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
290  1158183   13.6
330  1158408    9.1
430  1158805   10.4
548  1158928    5.7
582  1158963   19.7

(351, 2)

2022-05-30 23:34:03,108 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.299292
Name: demand, dtype: float64

# units

land_use
Landed    351
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.073125
Name: bin_service_cost, dtype: float64

(351, 61)

2022-05-30 23:34:03,169 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 351'

2022-05-30 23:34:03,247 - root - INFO - Preparing road network.......

2022-05-30 23:34:03,305 - root - INFO - Load required arcs
2022-05-30 23:34:03,306 - root - INFO - Merging with the network
2022-05-30 23:34:03,328 - root - INFO - Set depot
2022-05-30 23:34:03,331 - root - INFO - Set offload facilities
2022-05-30 23:34:03,339 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:03,389 - root - INFO - Checking master list
2022-05-30 23:34:03,396 - root - INFO - Load distance matrix: 548 x 548

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:04,161 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:04,173 - root - INFO - Calculate offloads: 548 x 548 x 2
2022-05-30 23:34:04,230 - root - INFO - Done!

[]

[]

2022-05-30 23:34:04,250 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:04,263 - root - INFO - Setting service cost for network
2022-05-30 23:34:04,271 - root - INFO - Setting demand for network
2022-05-30 23:34:04,279 - root - INFO - Update travel durations.
2022-05-30 23:34:04,281 - root - INFO - Update offload durations.
2022-05-30 23:34:04,283 - root - INFO - Done
2022-05-30 23:34:04,284 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:04,505 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:04,506 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:05,718 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,351,351,3.59,1.68,1.97,0.25,3.87,87.25,32.88,120.13,175.84,3.59
1,Total,1,1,,1,351,351,3.59,1.68,1.97,0.25,3.87,87.25,32.88,120.13,175.84,3.59

2022-05-30 23:34:05,730 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_053

(365, 42)

(365, 47)

2022-05-30 23:34:06,194 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
104  1157332   11.7
149  1157497   17.8
164  1157574    5.1
182  1157666   19.7
200  1157778    5.7

(365, 2)

2022-05-30 23:34:06,231 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.308733
Name: demand, dtype: float64

# units

land_use
Landed    365
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.076042
Name: bin_service_cost, dtype: float64

(365, 61)

2022-05-30 23:34:06,291 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 365'

2022-05-30 23:34:06,369 - root - INFO - Preparing road network.......

2022-05-30 23:34:06,429 - root - INFO - Load required arcs
2022-05-30 23:34:06,431 - root - INFO - Merging with the network
2022-05-30 23:34:06,450 - root - INFO - Set depot
2022-05-30 23:34:06,454 - root - INFO - Set offload facilities
2022-05-30 23:34:06,461 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:06,509 - root - INFO - Checking master list
2022-05-30 23:34:06,514 - root - INFO - Load distance matrix: 570 x 570

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:07,248 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:07,261 - root - INFO - Calculate offloads: 570 x 570 x 2
2022-05-30 23:34:07,320 - root - INFO - Done!

[]

[]

2022-05-30 23:34:07,455 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:07,467 - root - INFO - Setting service cost for network
2022-05-30 23:34:07,475 - root - INFO - Setting demand for network
2022-05-30 23:34:07,482 - root - INFO - Update travel durations.
2022-05-30 23:34:07,484 - root - INFO - Update offload durations.
2022-05-30 23:34:07,486 - root - INFO - Done
2022-05-30 23:34:07,487 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:07,695 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:07,697 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:08,746 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,365,365,3.7,1.72,1.71,0.25,3.67,76.27,33.46,109.73,164.0,3.7
1,Total,1,1,,1,365,365,3.7,1.72,1.71,0.25,3.67,76.27,33.46,109.73,164.0,3.7

2022-05-30 23:34:08,757 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_054

(370, 42)

(370, 47)

2022-05-30 23:34:09,226 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609370    5.7
27    612068   13.0
303  1158241    9.1
330  1158404    8.2
430  1158804    9.1

(370, 2)

2022-05-30 23:34:09,260 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.295317
Name: demand, dtype: float64

# units

land_use
Landed    370
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.077083
Name: bin_service_cost, dtype: float64

(370, 61)

2022-05-30 23:34:09,322 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 370'

2022-05-30 23:34:09,402 - root - INFO - Preparing road network.......

2022-05-30 23:34:09,576 - root - INFO - Load required arcs
2022-05-30 23:34:09,579 - root - INFO - Merging with the network
2022-05-30 23:34:09,602 - root - INFO - Set depot
2022-05-30 23:34:09,610 - root - INFO - Set offload facilities

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:09,630 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:09,679 - root - INFO - Checking master list
2022-05-30 23:34:09,683 - root - INFO - Load distance matrix: 559 x 559

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:10,470 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:10,482 - root - INFO - Calculate offloads: 559 x 559 x 2
2022-05-30 23:34:10,544 - root - INFO - Done!

[]

[]

2022-05-30 23:34:10,562 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:10,575 - root - INFO - Setting service cost for network
2022-05-30 23:34:10,582 - root - INFO - Setting demand for network
2022-05-30 23:34:10,591 - root - INFO - Update travel durations.
2022-05-30 23:34:10,593 - root - INFO - Update offload durations.
2022-05-30 23:34:10,595 - root - INFO - Done
2022-05-30 23:34:10,595 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:10,817 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:10,819 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:12,000 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 2
0,,1,1,Mon,1,370,370,3.54,1.79,2.06,0.25,4.06,90.85,35.1,125.94,184.52,3.54
1,Total,1,1,,1,370,370,3.54,1.79,2.06,0.25,4.06,90.85,35.1,125.94,184.52,3.54

2022-05-30 23:34:12,011 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_055

(343, 42)

(343, 47)

2022-05-30 23:34:12,515 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
27   1156882    8.2
53   1157032   13.0
278  1158080    5.7
296  1158236    9.1
533  1158918   25.3

(343, 2)

2022-05-30 23:34:12,553 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.286942
Name: demand, dtype: float64

# units

land_use
Landed    343
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071458
Name: bin_service_cost, dtype: float64

(343, 61)

2022-05-30 23:34:12,611 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 343'

2022-05-30 23:34:12,694 - root - INFO - Preparing road network.......

2022-05-30 23:34:12,752 - root - INFO - Load required arcs
2022-05-30 23:34:12,754 - root - INFO - Merging with the network
2022-05-30 23:34:12,776 - root - INFO - Set depot
2022-05-30 23:34:12,780 - root - INFO - Set offload facilities
2022-05-30 23:34:12,788 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:12,841 - root - INFO - Checking master list
2022-05-30 23:34:12,845 - root - INFO - Load distance matrix: 520 x 520

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:13,629 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:13,641 - root - INFO - Calculate offloads: 520 x 520 x 2
2022-05-30 23:34:13,695 - root - INFO - Done!

[]

[]

2022-05-30 23:34:13,715 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:13,731 - root - INFO - Setting service cost for network
2022-05-30 23:34:13,743 - root - INFO - Setting demand for network
2022-05-30 23:34:13,750 - root - INFO - Update travel durations.
2022-05-30 23:34:13,752 - root - INFO - Update offload durations.
2022-05-30 23:34:13,756 - root - INFO - Done
2022-05-30 23:34:13,758 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:13,945 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:13,947 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:15,079 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,343,343,3.44,1.62,1.86,0.25,3.67,81.39,31.3,112.7,165.44,3.44
1,Total,1,1,,1,343,343,3.44,1.62,1.86,0.25,3.67,81.39,31.3,112.7,165.44,3.44

2022-05-30 23:34:15,089 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_056

(355, 42)

(355, 47)

2022-05-30 23:34:15,582 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
104  1157268   16.0
185  1157680   13.6
194  1157721    9.1
212  1157803    5.7
303  1158177   19.7

(355, 2)

2022-05-30 23:34:15,620 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.28955
Name: demand, dtype: float64

# units

land_use
Landed    355
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.073958
Name: bin_service_cost, dtype: float64

(355, 61)

2022-05-30 23:34:15,685 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 355'

2022-05-30 23:34:15,770 - root - INFO - Preparing road network.......

2022-05-30 23:34:15,830 - root - INFO - Load required arcs
2022-05-30 23:34:15,832 - root - INFO - Merging with the network
2022-05-30 23:34:15,854 - root - INFO - Set depot
2022-05-30 23:34:15,858 - root - INFO - Set offload facilities
2022-05-30 23:34:15,865 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:15,912 - root - INFO - Checking master list
2022-05-30 23:34:15,919 - root - INFO - Load distance matrix: 543 x 543

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:16,661 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:16,673 - root - INFO - Calculate offloads: 543 x 543 x 2
2022-05-30 23:34:16,739 - root - INFO - Done!

[]

[]

2022-05-30 23:34:16,756 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:16,768 - root - INFO - Setting service cost for network
2022-05-30 23:34:16,777 - root - INFO - Setting demand for network
2022-05-30 23:34:16,784 - root - INFO - Update travel durations.
2022-05-30 23:34:16,786 - root - INFO - Update offload durations.
2022-05-30 23:34:16,788 - root - INFO - Done
2022-05-30 23:34:16,789 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:16,996 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:16,998 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:18,056 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,355,355,3.47,1.63,1.96,0.25,3.81,86.71,31.24,117.95,171.74,3.47
1,Total,1,1,,1,355,355,3.47,1.63,1.96,0.25,3.81,86.71,31.24,117.95,171.74,3.47

2022-05-30 23:34:18,066 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_057

(329, 42)

(329, 47)

2022-05-30 23:34:18,532 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
53   1156956   17.8
149  1157399    5.7
197  1157596   17.8
200  1157609   14.1
254  1157864    5.7

(329, 2)

2022-05-30 23:34:18,568 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.267067
Name: demand, dtype: float64

# units

land_use
Landed    329
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.068542
Name: bin_service_cost, dtype: float64

(329, 61)

2022-05-30 23:34:18,624 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 329'

2022-05-30 23:34:18,700 - root - INFO - Preparing road network.......

2022-05-30 23:34:18,754 - root - INFO - Load required arcs
2022-05-30 23:34:18,756 - root - INFO - Merging with the network
2022-05-30 23:34:18,774 - root - INFO - Set depot
2022-05-30 23:34:18,778 - root - INFO - Set offload facilities
2022-05-30 23:34:18,784 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:18,832 - root - INFO - Checking master list
2022-05-30 23:34:18,837 - root - INFO - Load distance matrix: 506 x 506

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:19,545 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:19,555 - root - INFO - Calculate offloads: 506 x 506 x 2
2022-05-30 23:34:19,604 - root - INFO - Done!

[]

[]

2022-05-30 23:34:19,622 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:19,635 - root - INFO - Setting service cost for network
2022-05-30 23:34:19,641 - root - INFO - Setting demand for network
2022-05-30 23:34:19,648 - root - INFO - Update travel durations.
2022-05-30 23:34:19,650 - root - INFO - Update offload durations.
2022-05-30 23:34:19,653 - root - INFO - Done
2022-05-30 23:34:19,654 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:19,829 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:19,830 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:20,956 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,329,329,3.2,1.56,1.9,0.25,3.68,84.07,30.46,114.54,166.62,3.2
1,Total,1,1,,1,329,329,3.2,1.56,1.9,0.25,3.68,84.07,30.46,114.54,166.62,3.2

2022-05-30 23:34:20,965 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_058

(341, 42)

(341, 47)

2022-05-30 23:34:21,432 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
107  1157217    5.7
234  1157833   17.8
330  1158357    9.1
548  1158924   14.8
560  1158936    5.1

(341, 2)

2022-05-30 23:34:21,471 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.280717
Name: demand, dtype: float64

# units

land_use
Landed    341
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071042
Name: bin_service_cost, dtype: float64

(341, 61)

2022-05-30 23:34:21,527 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 341'

2022-05-30 23:34:21,602 - root - INFO - Preparing road network.......

2022-05-30 23:34:21,658 - root - INFO - Load required arcs
2022-05-30 23:34:21,660 - root - INFO - Merging with the network
2022-05-30 23:34:21,679 - root - INFO - Set depot
2022-05-30 23:34:21,683 - root - INFO - Set offload facilities
2022-05-30 23:34:21,689 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:21,733 - root - INFO - Checking master list
2022-05-30 23:34:21,737 - root - INFO - Load distance matrix: 533 x 533

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:22,442 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:22,453 - root - INFO - Calculate offloads: 533 x 533 x 2
2022-05-30 23:34:22,504 - root - INFO - Done!

[]

[]

2022-05-30 23:34:22,522 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:22,535 - root - INFO - Setting service cost for network
2022-05-30 23:34:22,542 - root - INFO - Setting demand for network
2022-05-30 23:34:22,549 - root - INFO - Update travel durations.
2022-05-30 23:34:22,551 - root - INFO - Update offload durations.
2022-05-30 23:34:22,552 - root - INFO - Done
2022-05-30 23:34:22,553 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:22,743 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:22,745 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:23,762 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,341,341,3.37,1.6,1.79,0.25,3.62,79.74,31.02,110.77,162.79,3.37
1,Total,1,1,,1,341,341,3.37,1.6,1.79,0.25,3.62,79.74,31.02,110.77,162.79,3.37

2022-05-30 23:34:23,773 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_059

(355, 42)

(355, 47)

2022-05-30 23:34:24,238 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
104  1157250    5.7
200  1157696    5.7
242  1157920   11.3
254  1157989   13.6
278  1158123   13.6

(355, 2)

2022-05-30 23:34:24,275 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.307008
Name: demand, dtype: float64

# units

land_use
Landed    355
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.073958
Name: bin_service_cost, dtype: float64

(355, 61)

2022-05-30 23:34:24,334 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 355'

2022-05-30 23:34:24,416 - root - INFO - Preparing road network.......

2022-05-30 23:34:24,470 - root - INFO - Load required arcs
2022-05-30 23:34:24,472 - root - INFO - Merging with the network
2022-05-30 23:34:24,490 - root - INFO - Set depot
2022-05-30 23:34:24,494 - root - INFO - Set offload facilities
2022-05-30 23:34:24,502 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:24,545 - root - INFO - Checking master list
2022-05-30 23:34:24,550 - root - INFO - Load distance matrix: 550 x 550

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:25,290 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:25,303 - root - INFO - Calculate offloads: 550 x 550 x 2
2022-05-30 23:34:25,358 - root - INFO - Done!

[]

[]

2022-05-30 23:34:25,376 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:25,388 - root - INFO - Setting service cost for network
2022-05-30 23:34:25,395 - root - INFO - Setting demand for network
2022-05-30 23:34:25,402 - root - INFO - Update travel durations.
2022-05-30 23:34:25,404 - root - INFO - Update offload durations.
2022-05-30 23:34:25,407 - root - INFO - Done
2022-05-30 23:34:25,408 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:25,614 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:25,615 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:26,659 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,355,355,3.68,1.69,1.92,0.25,3.84,85.24,32.99,118.24,173.8,3.68
1,Total,1,1,,1,355,355,3.68,1.69,1.92,0.25,3.84,85.24,32.99,118.24,173.8,3.68

2022-05-30 23:34:26,669 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_060

(330, 42)

(330, 47)

2022-05-30 23:34:27,120 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
176  1157593   16.4
242  1157939   10.7
455  1158832   10.4
569  1158950   13.4
618  1159002   14.8

(330, 2)

2022-05-30 23:34:27,154 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.273542
Name: demand, dtype: float64

# units

land_use
Landed    330
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.06875
Name: bin_service_cost, dtype: float64

(330, 61)

2022-05-30 23:34:27,217 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 330'

2022-05-30 23:34:27,290 - root - INFO - Preparing road network.......

2022-05-30 23:34:27,346 - root - INFO - Load required arcs
2022-05-30 23:34:27,348 - root - INFO - Merging with the network
2022-05-30 23:34:27,371 - root - INFO - Set depot
2022-05-30 23:34:27,374 - root - INFO - Set offload facilities
2022-05-30 23:34:27,381 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:27,425 - root - INFO - Checking master list
2022-05-30 23:34:27,430 - root - INFO - Load distance matrix: 509 x 509

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:28,095 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:28,106 - root - INFO - Calculate offloads: 509 x 509 x 2
2022-05-30 23:34:28,157 - root - INFO - Done!

[]

[]

2022-05-30 23:34:28,174 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:28,185 - root - INFO - Setting service cost for network
2022-05-30 23:34:28,193 - root - INFO - Setting demand for network
2022-05-30 23:34:28,201 - root - INFO - Update travel durations.
2022-05-30 23:34:28,202 - root - INFO - Update offload durations.
2022-05-30 23:34:28,204 - root - INFO - Done
2022-05-30 23:34:28,205 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:28,407 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:28,408 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:29,371 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,330,330,3.28,1.67,1.85,0.25,3.74,82.2,33.47,115.67,170.5,3.28
1,Total,1,1,,1,330,330,3.28,1.67,1.85,0.25,3.74,82.2,33.47,115.67,170.5,3.28

2022-05-30 23:34:29,380 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_061

(354, 42)

(354, 47)

2022-05-30 23:34:29,841 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
15    609586   25.3
107  1157199    5.7
437  1158822   21.7
569  1158960   22.8
861  1159263   13.0

(354, 2)

2022-05-30 23:34:29,876 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.2931
Name: demand, dtype: float64

# units

land_use
Landed    354
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.07375
Name: bin_service_cost, dtype: float64

(354, 61)

2022-05-30 23:34:29,936 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 354'

2022-05-30 23:34:30,011 - root - INFO - Preparing road network.......

2022-05-30 23:34:30,098 - root - INFO - Load required arcs
2022-05-30 23:34:30,106 - root - INFO - Merging with the network
2022-05-30 23:34:30,158 - root - INFO - Set depot
2022-05-30 23:34:30,166 - root - INFO - Set offload facilities
2022-05-30 23:34:30,182 - root - INFO - Extend required arcs with inverse edge arcs

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:30,256 - root - INFO - Checking master list
2022-05-30 23:34:30,279 - root - INFO - Load distance matrix: 560 x 560

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:31,019 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:31,033 - root - INFO - Calculate offloads: 560 x 560 x 2
2022-05-30 23:34:31,093 - root - INFO - Done!

[]

[]

2022-05-30 23:34:31,110 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:31,124 - root - INFO - Setting service cost for network
2022-05-30 23:34:31,132 - root - INFO - Setting demand for network
2022-05-30 23:34:31,139 - root - INFO - Update travel durations.
2022-05-30 23:34:31,141 - root - INFO - Update offload durations.
2022-05-30 23:34:31,143 - root - INFO - Done
2022-05-30 23:34:31,144 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:31,343 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:31,345 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:32,383 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,354,354,3.52,1.67,2.04,0.25,3.93,90.22,32.47,122.69,178.48,3.52
1,Total,1,1,,1,354,354,3.52,1.67,2.04,0.25,3.93,90.22,32.47,122.69,178.48,3.52

2022-05-30 23:34:32,394 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_062

(352, 42)

(352, 47)

2022-05-30 23:34:32,860 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
176  1157520    9.1
242  1157785   11.9
254  1157850   19.7
278  1157969   13.0
330  1158176    5.7

(352, 2)

2022-05-30 23:34:32,897 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.28575
Name: demand, dtype: float64

# units

land_use
Landed    352
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.073333
Name: bin_service_cost, dtype: float64

(352, 61)

2022-05-30 23:34:32,955 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 352'

2022-05-30 23:34:33,029 - root - INFO - Preparing road network.......

2022-05-30 23:34:33,086 - root - INFO - Load required arcs
2022-05-30 23:34:33,088 - root - INFO - Merging with the network
2022-05-30 23:34:33,107 - root - INFO - Set depot
2022-05-30 23:34:33,110 - root - INFO - Set offload facilities
2022-05-30 23:34:33,119 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:33,168 - root - INFO - Checking master list
2022-05-30 23:34:33,173 - root - INFO - Load distance matrix: 550 x 550

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:33,910 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:33,924 - root - INFO - Calculate offloads: 550 x 550 x 2
2022-05-30 23:34:33,985 - root - INFO - Done!

[]

[]

2022-05-30 23:34:34,006 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:34,019 - root - INFO - Setting service cost for network
2022-05-30 23:34:34,026 - root - INFO - Setting demand for network
2022-05-30 23:34:34,034 - root - INFO - Update travel durations.
2022-05-30 23:34:34,036 - root - INFO - Update offload durations.
2022-05-30 23:34:34,039 - root - INFO - Done
2022-05-30 23:34:34,040 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:34,242 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:34,243 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:35,391 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,352,352,3.43,1.7,1.87,0.25,3.79,82.96,33.27,116.23,171.23,3.43
1,Total,1,1,,1,352,352,3.43,1.7,1.87,0.25,3.79,82.96,33.27,116.23,171.23,3.43

2022-05-30 23:34:35,402 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_063

(345, 42)

(345, 47)

2022-05-30 23:34:35,873 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
182  1157675    9.1
234  1157946   19.7
278  1158154    9.1
330  1158412    5.7
430  1158821   10.2

(345, 2)

2022-05-30 23:34:35,911 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.291675
Name: demand, dtype: float64

# units

land_use
Landed    345
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071875
Name: bin_service_cost, dtype: float64

(345, 61)

2022-05-30 23:34:35,969 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 345'

2022-05-30 23:34:36,045 - root - INFO - Preparing road network.......

2022-05-30 23:34:36,106 - root - INFO - Load required arcs
2022-05-30 23:34:36,108 - root - INFO - Merging with the network
2022-05-30 23:34:36,129 - root - INFO - Set depot
2022-05-30 23:34:36,132 - root - INFO - Set offload facilities
2022-05-30 23:34:36,141 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:36,188 - root - INFO - Checking master list
2022-05-30 23:34:36,192 - root - INFO - Load distance matrix: 538 x 538

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:36,957 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:36,969 - root - INFO - Calculate offloads: 538 x 538 x 2
2022-05-30 23:34:37,021 - root - INFO - Done!

[]

[]

2022-05-30 23:34:37,039 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:37,051 - root - INFO - Setting service cost for network
2022-05-30 23:34:37,060 - root - INFO - Setting demand for network
2022-05-30 23:34:37,067 - root - INFO - Update travel durations.
2022-05-30 23:34:37,069 - root - INFO - Update offload durations.
2022-05-30 23:34:37,071 - root - INFO - Done
2022-05-30 23:34:37,072 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:37,276 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:37,277 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:38,356 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,345,345,3.5,1.66,1.87,0.25,3.75,82.8,32.65,115.45,169.9,3.5
1,Total,1,1,,1,345,345,3.5,1.66,1.87,0.25,3.75,82.8,32.65,115.45,169.9,3.5

2022-05-30 23:34:38,366 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_064

(349, 42)

(349, 47)

2022-05-30 23:34:38,830 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
15    609665   36.1
107  1157317   16.0
194  1157767   15.6
303  1158261   10.4
330  1158422    5.7

(349, 2)

2022-05-30 23:34:38,866 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.29135
Name: demand, dtype: float64

# units

land_use
Landed    349
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.072708
Name: bin_service_cost, dtype: float64

(349, 61)

2022-05-30 23:34:38,924 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 349'

2022-05-30 23:34:39,003 - root - INFO - Preparing road network.......

2022-05-30 23:34:39,062 - root - INFO - Load required arcs
2022-05-30 23:34:39,064 - root - INFO - Merging with the network
2022-05-30 23:34:39,083 - root - INFO - Set depot
2022-05-30 23:34:39,087 - root - INFO - Set offload facilities
2022-05-30 23:34:39,095 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:39,142 - root - INFO - Checking master list
2022-05-30 23:34:39,147 - root - INFO - Load distance matrix: 539 x 539

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:39,907 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:39,919 - root - INFO - Calculate offloads: 539 x 539 x 2
2022-05-30 23:34:39,970 - root - INFO - Done!

[]

[]

2022-05-30 23:34:39,987 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:40,000 - root - INFO - Setting service cost for network
2022-05-30 23:34:40,008 - root - INFO - Setting demand for network
2022-05-30 23:34:40,017 - root - INFO - Update travel durations.
2022-05-30 23:34:40,020 - root - INFO - Update offload durations.
2022-05-30 23:34:40,023 - root - INFO - Done
2022-05-30 23:34:40,023 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:40,225 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:40,227 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:41,272 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,349,349,3.5,1.69,1.82,0.25,3.74,81.26,33.13,114.39,169.02,3.5
1,Total,1,1,,1,349,349,3.5,1.69,1.82,0.25,3.74,81.26,33.13,114.39,169.02,3.5

2022-05-30 23:34:41,283 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_065

(375, 42)

(375, 47)

2022-05-30 23:34:41,744 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
104  1157208    5.7
107  1157231    5.7
278  1158123   13.0
582  1158979   13.2
585  1158982    5.7

(375, 2)

2022-05-30 23:34:41,781 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.304483
Name: demand, dtype: float64

# units

land_use
Landed    375
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.078125
Name: bin_service_cost, dtype: float64

(375, 61)

2022-05-30 23:34:41,839 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 375'

2022-05-30 23:34:41,912 - root - INFO - Preparing road network.......

2022-05-30 23:34:41,969 - root - INFO - Load required arcs
2022-05-30 23:34:41,971 - root - INFO - Merging with the network
2022-05-30 23:34:41,991 - root - INFO - Set depot
2022-05-30 23:34:41,995 - root - INFO - Set offload facilities
2022-05-30 23:34:42,003 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:42,047 - root - INFO - Checking master list
2022-05-30 23:34:42,052 - root - INFO - Load distance matrix: 563 x 563

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:42,818 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:42,831 - root - INFO - Calculate offloads: 563 x 563 x 2
2022-05-30 23:34:42,889 - root - INFO - Done!

[]

[]

2022-05-30 23:34:42,909 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:42,920 - root - INFO - Setting service cost for network
2022-05-30 23:34:42,928 - root - INFO - Setting demand for network
2022-05-30 23:34:42,935 - root - INFO - Update travel durations.
2022-05-30 23:34:42,937 - root - INFO - Update offload durations.
2022-05-30 23:34:42,939 - root - INFO - Done
2022-05-30 23:34:42,939 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:43,157 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:43,158 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:44,272 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,375,375,3.65,1.74,1.96,0.25,3.9,85.81,33.56,119.38,175.58,3.65
1,Total,1,1,,1,375,375,3.65,1.74,1.96,0.25,3.9,85.81,33.56,119.38,175.58,3.65

2022-05-30 23:34:44,283 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_066

(363, 42)

(363, 47)

2022-05-30 23:34:44,748 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609294   15.6
104  1157206    9.1
194  1157705    5.7
200  1157737    5.7
278  1158111    5.7

(363, 2)

2022-05-30 23:34:44,785 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.323017
Name: demand, dtype: float64

# units

land_use
Landed    363
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.075625
Name: bin_service_cost, dtype: float64

(363, 61)

2022-05-30 23:34:44,846 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 363'

2022-05-30 23:34:44,922 - root - INFO - Preparing road network.......

2022-05-30 23:34:44,976 - root - INFO - Load required arcs
2022-05-30 23:34:44,978 - root - INFO - Merging with the network
2022-05-30 23:34:44,997 - root - INFO - Set depot
2022-05-30 23:34:45,000 - root - INFO - Set offload facilities
2022-05-30 23:34:45,008 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:45,051 - root - INFO - Checking master list
2022-05-30 23:34:45,056 - root - INFO - Load distance matrix: 537 x 537

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:45,756 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:45,767 - root - INFO - Calculate offloads: 537 x 537 x 2
2022-05-30 23:34:45,820 - root - INFO - Done!

[]

[]

2022-05-30 23:34:45,837 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:45,849 - root - INFO - Setting service cost for network
2022-05-30 23:34:45,858 - root - INFO - Setting demand for network
2022-05-30 23:34:45,865 - root - INFO - Update travel durations.
2022-05-30 23:34:45,867 - root - INFO - Update offload durations.
2022-05-30 23:34:45,869 - root - INFO - Done
2022-05-30 23:34:45,870 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:46,065 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:46,067 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:47,055 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,363,363,3.88,1.71,1.82,0.25,3.76,81.15,33.04,114.18,169.26,3.88
1,Total,1,1,,1,363,363,3.88,1.71,1.82,0.25,3.76,81.15,33.04,114.18,169.26,3.88

2022-05-30 23:34:47,066 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_067

(356, 42)

(356, 47)

2022-05-30 23:34:47,529 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609332    5.7
164  1157561    5.7
278  1158166    9.1
303  1158299    5.7
548  1158939    5.7

(356, 2)

2022-05-30 23:34:47,566 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.28385
Name: demand, dtype: float64

# units

land_use
Landed    356
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.074167
Name: bin_service_cost, dtype: float64

(356, 61)

2022-05-30 23:34:47,625 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 356'

2022-05-30 23:34:47,696 - root - INFO - Preparing road network.......

2022-05-30 23:34:47,751 - root - INFO - Load required arcs
2022-05-30 23:34:47,753 - root - INFO - Merging with the network
2022-05-30 23:34:47,772 - root - INFO - Set depot
2022-05-30 23:34:47,775 - root - INFO - Set offload facilities
2022-05-30 23:34:47,782 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:47,825 - root - INFO - Checking master list
2022-05-30 23:34:47,828 - root - INFO - Load distance matrix: 549 x 549

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:48,546 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:48,560 - root - INFO - Calculate offloads: 549 x 549 x 2
2022-05-30 23:34:48,611 - root - INFO - Done!

[]

[]

2022-05-30 23:34:48,628 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:48,641 - root - INFO - Setting service cost for network
2022-05-30 23:34:48,647 - root - INFO - Setting demand for network
2022-05-30 23:34:48,655 - root - INFO - Update travel durations.
2022-05-30 23:34:48,657 - root - INFO - Update offload durations.
2022-05-30 23:34:48,660 - root - INFO - Done
2022-05-30 23:34:48,661 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:48,869 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:48,871 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:49,994 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,356,356,3.41,1.65,1.86,0.25,3.73,82.23,31.68,113.91,167.14,3.41
1,Total,1,1,,1,356,356,3.41,1.65,1.86,0.25,3.73,82.23,31.68,113.91,167.14,3.41

2022-05-30 23:34:50,004 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_068

(347, 42)

(347, 47)

2022-05-30 23:34:50,465 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
149  1157402    5.7
200  1157638    5.7
242  1157864   11.7
560  1158907   15.6
585  1158932   19.7

(347, 2)

2022-05-30 23:34:50,500 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.283658
Name: demand, dtype: float64

# units

land_use
Landed    347
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.072292
Name: bin_service_cost, dtype: float64

(347, 61)

2022-05-30 23:34:50,559 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 347'

2022-05-30 23:34:50,632 - root - INFO - Preparing road network.......

2022-05-30 23:34:50,691 - root - INFO - Load required arcs
2022-05-30 23:34:50,693 - root - INFO - Merging with the network
2022-05-30 23:34:50,713 - root - INFO - Set depot
2022-05-30 23:34:50,717 - root - INFO - Set offload facilities
2022-05-30 23:34:50,723 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:50,772 - root - INFO - Checking master list
2022-05-30 23:34:50,777 - root - INFO - Load distance matrix: 539 x 539

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:51,488 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:51,500 - root - INFO - Calculate offloads: 539 x 539 x 2
2022-05-30 23:34:51,554 - root - INFO - Done!

[]

[]

2022-05-30 23:34:51,571 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:51,584 - root - INFO - Setting service cost for network
2022-05-30 23:34:51,591 - root - INFO - Setting demand for network
2022-05-30 23:34:51,599 - root - INFO - Update travel durations.
2022-05-30 23:34:51,602 - root - INFO - Update offload durations.
2022-05-30 23:34:51,604 - root - INFO - Done
2022-05-30 23:34:51,605 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:51,810 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:51,811 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:52,848 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,347,347,3.4,1.64,1.93,0.25,3.77,84.78,31.78,116.56,170.4,3.4
1,Total,1,1,,1,347,347,3.4,1.64,1.93,0.25,3.77,84.78,31.78,116.56,170.4,3.4

2022-05-30 23:34:52,859 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_069

(351, 42)

(351, 47)

2022-05-30 23:34:53,322 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609326    5.7
197  1157688   17.8
200  1157694   13.0
430  1158789   21.7
455  1158817   19.7

(351, 2)

2022-05-30 23:34:53,360 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.299358
Name: demand, dtype: float64

# units

land_use
Landed    351
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.073125
Name: bin_service_cost, dtype: float64

(351, 61)

2022-05-30 23:34:53,418 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 351'

2022-05-30 23:34:53,490 - root - INFO - Preparing road network.......

2022-05-30 23:34:53,661 - root - INFO - Load required arcs
2022-05-30 23:34:53,663 - root - INFO - Merging with the network
2022-05-30 23:34:53,684 - root - INFO - Set depot
2022-05-30 23:34:53,688 - root - INFO - Set offload facilities
2022-05-30 23:34:53,709 - root - INFO - Extend required arcs with inverse edge arcs

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:53,767 - root - INFO - Checking master list
2022-05-30 23:34:53,773 - root - INFO - Load distance matrix: 556 x 556

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:54,507 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:54,520 - root - INFO - Calculate offloads: 556 x 556 x 2
2022-05-30 23:34:54,579 - root - INFO - Done!

[]

[]

2022-05-30 23:34:54,597 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:54,609 - root - INFO - Setting service cost for network
2022-05-30 23:34:54,618 - root - INFO - Setting demand for network
2022-05-30 23:34:54,628 - root - INFO - Update travel durations.
2022-05-30 23:34:54,630 - root - INFO - Update offload durations.
2022-05-30 23:34:54,632 - root - INFO - Done
2022-05-30 23:34:54,633 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:54,833 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:54,835 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:55,908 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,351,351,3.59,1.72,2.06,0.25,4.01,91.98,34.01,125.99,183.79,3.59
1,Total,1,1,,1,351,351,3.59,1.72,2.06,0.25,4.01,91.98,34.01,125.99,183.79,3.59

2022-05-30 23:34:55,922 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_070

(372, 42)

(372, 47)

2022-05-30 23:34:56,383 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
53   1156948   17.8
107  1157212   10.4
197  1157664    9.1
212  1157709   16.9
234  1157815    9.1

(372, 2)

2022-05-30 23:34:56,422 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.309725
Name: demand, dtype: float64

# units

land_use
Landed    372
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.0775
Name: bin_service_cost, dtype: float64

(372, 61)

2022-05-30 23:34:56,480 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 372'

2022-05-30 23:34:56,553 - root - INFO - Preparing road network.......

2022-05-30 23:34:56,606 - root - INFO - Load required arcs
2022-05-30 23:34:56,607 - root - INFO - Merging with the network
2022-05-30 23:34:56,626 - root - INFO - Set depot
2022-05-30 23:34:56,629 - root - INFO - Set offload facilities
2022-05-30 23:34:56,637 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:56,684 - root - INFO - Checking master list
2022-05-30 23:34:56,690 - root - INFO - Load distance matrix: 551 x 551

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:34:57,472 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:34:57,484 - root - INFO - Calculate offloads: 551 x 551 x 2
2022-05-30 23:34:57,548 - root - INFO - Done!

[]

[]

2022-05-30 23:34:57,566 - root - INFO - Uploading scenario inputs...
2022-05-30 23:34:57,582 - root - INFO - Setting service cost for network
2022-05-30 23:34:57,593 - root - INFO - Setting demand for network
2022-05-30 23:34:57,602 - root - INFO - Update travel durations.
2022-05-30 23:34:57,604 - root - INFO - Update offload durations.
2022-05-30 23:34:57,606 - root - INFO - Done
2022-05-30 23:34:57,607 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:34:57,822 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:34:57,824 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:34:58,978 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,372,372,3.72,1.77,2.02,0.25,4.0,88.92,34.64,123.56,181.56,3.72
1,Total,1,1,,1,372,372,3.72,1.77,2.02,0.25,4.0,88.92,34.64,123.56,181.56,3.72

2022-05-30 23:34:58,989 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_071

(373, 42)

(373, 47)

2022-05-30 23:34:59,513 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
53   1156952    5.7
104  1157268    9.1
194  1157768   11.3
245  1158095    9.1
430  1158848    5.7

(373, 2)

2022-05-30 23:34:59,550 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.310242
Name: demand, dtype: float64

# units

land_use
Landed    373
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.077708
Name: bin_service_cost, dtype: float64

(373, 61)

2022-05-30 23:34:59,610 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 373'

2022-05-30 23:34:59,685 - root - INFO - Preparing road network.......

2022-05-30 23:34:59,748 - root - INFO - Load required arcs
2022-05-30 23:34:59,750 - root - INFO - Merging with the network
2022-05-30 23:34:59,770 - root - INFO - Set depot
2022-05-30 23:34:59,774 - root - INFO - Set offload facilities
2022-05-30 23:34:59,785 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:34:59,836 - root - INFO - Checking master list
2022-05-30 23:34:59,843 - root - INFO - Load distance matrix: 562 x 562

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:00,641 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:00,653 - root - INFO - Calculate offloads: 562 x 562 x 2
2022-05-30 23:35:00,713 - root - INFO - Done!

[]

[]

2022-05-30 23:35:00,731 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:00,745 - root - INFO - Setting service cost for network
2022-05-30 23:35:00,756 - root - INFO - Setting demand for network
2022-05-30 23:35:00,766 - root - INFO - Update travel durations.
2022-05-30 23:35:00,767 - root - INFO - Update offload durations.
2022-05-30 23:35:00,770 - root - INFO - Done
2022-05-30 23:35:00,770 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:01,000 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:01,002 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:02,093 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,373,373,3.72,1.68,1.82,0.25,3.72,80.48,31.74,112.22,165.64,3.72
1,Total,1,1,,1,373,373,3.72,1.68,1.82,0.25,3.72,80.48,31.74,112.22,165.64,3.72

2022-05-30 23:35:02,103 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_072

(349, 42)

(349, 47)

2022-05-30 23:35:02,564 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
104  1157183   15.6
194  1157636   15.6
197  1157651   13.6
254  1157954    5.7
430  1158758    5.7

(349, 2)

2022-05-30 23:35:02,599 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.299208
Name: demand, dtype: float64

# units

land_use
Landed    349
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.072708
Name: bin_service_cost, dtype: float64

(349, 61)

2022-05-30 23:35:02,657 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 349'

2022-05-30 23:35:02,731 - root - INFO - Preparing road network.......

2022-05-30 23:35:02,783 - root - INFO - Load required arcs
2022-05-30 23:35:02,784 - root - INFO - Merging with the network
2022-05-30 23:35:02,805 - root - INFO - Set depot
2022-05-30 23:35:02,809 - root - INFO - Set offload facilities
2022-05-30 23:35:02,816 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:02,861 - root - INFO - Checking master list
2022-05-30 23:35:02,865 - root - INFO - Load distance matrix: 536 x 536

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:03,575 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:03,587 - root - INFO - Calculate offloads: 536 x 536 x 2
2022-05-30 23:35:03,643 - root - INFO - Done!

[]

[]

2022-05-30 23:35:03,661 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:03,673 - root - INFO - Setting service cost for network
2022-05-30 23:35:03,681 - root - INFO - Setting demand for network
2022-05-30 23:35:03,688 - root - INFO - Update travel durations.
2022-05-30 23:35:03,690 - root - INFO - Update offload durations.
2022-05-30 23:35:03,692 - root - INFO - Done
2022-05-30 23:35:03,693 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:03,880 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:03,882 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:04,990 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,349,349,3.59,1.69,1.94,0.25,3.86,86.2,33.26,119.46,175.35,3.59
1,Total,1,1,,1,349,349,3.59,1.69,1.94,0.25,3.86,86.2,33.26,119.46,175.35,3.59

2022-05-30 23:35:05,002 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_073

(343, 42)

(343, 47)

2022-05-30 23:35:05,465 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
176  1157646   14.8
245  1158011   17.8
278  1158141    8.2
296  1158247    5.7
569  1158958   15.6

(343, 2)

2022-05-30 23:35:05,505 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.281225
Name: demand, dtype: float64

# units

land_use
Landed    343
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071458
Name: bin_service_cost, dtype: float64

(343, 61)

2022-05-30 23:35:05,673 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 343'

2022-05-30 23:35:05,749 - root - INFO - Preparing road network.......

2022-05-30 23:35:05,809 - root - INFO - Load required arcs
2022-05-30 23:35:05,811 - root - INFO - Merging with the network
2022-05-30 23:35:05,833 - root - INFO - Set depot
2022-05-30 23:35:05,837 - root - INFO - Set offload facilities
2022-05-30 23:35:05,844 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:05,894 - root - INFO - Checking master list
2022-05-30 23:35:05,898 - root - INFO - Load distance matrix: 528 x 528

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:06,667 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:06,679 - root - INFO - Calculate offloads: 528 x 528 x 2
2022-05-30 23:35:06,735 - root - INFO - Done!

[]

[]

2022-05-30 23:35:06,752 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:06,764 - root - INFO - Setting service cost for network
2022-05-30 23:35:06,773 - root - INFO - Setting demand for network
2022-05-30 23:35:06,780 - root - INFO - Update travel durations.
2022-05-30 23:35:06,782 - root - INFO - Update offload durations.
2022-05-30 23:35:06,784 - root - INFO - Done
2022-05-30 23:35:06,785 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:06,957 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:06,958 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:07,978 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 2
0,,1,1,Mon,1,343,343,3.37,1.66,1.82,0.25,3.7,80.47,32.75,113.22,167.13,3.37
1,Total,1,1,,1,343,343,3.37,1.66,1.82,0.25,3.7,80.47,32.75,113.22,167.13,3.37

2022-05-30 23:35:07,988 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_074

(369, 42)

(369, 47)

2022-05-30 23:35:08,459 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
15    609791    9.1
27   1156880   17.8
245  1157963   19.7
278  1158111   21.7
437  1158813   25.3

(369, 2)

2022-05-30 23:35:08,492 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.307942
Name: demand, dtype: float64

# units

land_use
Landed    369
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.076875
Name: bin_service_cost, dtype: float64

(369, 61)

2022-05-30 23:35:08,556 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 369'

2022-05-30 23:35:08,628 - root - INFO - Preparing road network.......

2022-05-30 23:35:08,689 - root - INFO - Load required arcs
2022-05-30 23:35:08,691 - root - INFO - Merging with the network
2022-05-30 23:35:08,713 - root - INFO - Set depot
2022-05-30 23:35:08,717 - root - INFO - Set offload facilities
2022-05-30 23:35:08,725 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:08,771 - root - INFO - Checking master list
2022-05-30 23:35:08,776 - root - INFO - Load distance matrix: 547 x 547

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:09,512 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:09,524 - root - INFO - Calculate offloads: 547 x 547 x 2
2022-05-30 23:35:09,583 - root - INFO - Done!

[]

[]

2022-05-30 23:35:09,600 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:09,613 - root - INFO - Setting service cost for network
2022-05-30 23:35:09,620 - root - INFO - Setting demand for network
2022-05-30 23:35:09,628 - root - INFO - Update travel durations.
2022-05-30 23:35:09,630 - root - INFO - Update offload durations.
2022-05-30 23:35:09,632 - root - INFO - Done
2022-05-30 23:35:09,633 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:09,827 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:09,829 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:10,875 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,369,369,3.7,1.73,2.07,0.25,3.99,90.17,33.56,123.74,180.88,3.7
1,Total,1,1,,1,369,369,3.7,1.73,2.07,0.25,3.99,90.17,33.56,123.74,180.88,3.7

2022-05-30 23:35:10,885 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_075

(349, 42)

(349, 47)

2022-05-30 23:35:11,354 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
27    610738    5.7
185  1157612   13.0
560  1158920   36.1
626  1158988   15.6
692  1159057   14.8

(349, 2)

2022-05-30 23:35:11,395 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.289542
Name: demand, dtype: float64

# units

land_use
Landed    349
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.072708
Name: bin_service_cost, dtype: float64

(349, 61)

2022-05-30 23:35:11,451 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 349'

2022-05-30 23:35:11,526 - root - INFO - Preparing road network.......

2022-05-30 23:35:11,581 - root - INFO - Load required arcs
2022-05-30 23:35:11,582 - root - INFO - Merging with the network
2022-05-30 23:35:11,602 - root - INFO - Set depot
2022-05-30 23:35:11,606 - root - INFO - Set offload facilities
2022-05-30 23:35:11,613 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:11,660 - root - INFO - Checking master list
2022-05-30 23:35:11,665 - root - INFO - Load distance matrix: 526 x 526

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:12,387 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:12,399 - root - INFO - Calculate offloads: 526 x 526 x 2
2022-05-30 23:35:12,454 - root - INFO - Done!

[]

[]

2022-05-30 23:35:12,471 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:12,482 - root - INFO - Setting service cost for network
2022-05-30 23:35:12,489 - root - INFO - Setting demand for network
2022-05-30 23:35:12,498 - root - INFO - Update travel durations.
2022-05-30 23:35:12,500 - root - INFO - Update offload durations.
2022-05-30 23:35:12,501 - root - INFO - Done
2022-05-30 23:35:12,502 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:12,680 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:12,682 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:13,678 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,349,349,3.47,1.66,1.95,0.25,3.83,86.22,32.44,118.66,173.56,3.47
1,Total,1,1,,1,349,349,3.47,1.66,1.95,0.25,3.83,86.22,32.44,118.66,173.56,3.47

2022-05-30 23:35:13,688 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_076

(345, 42)

(345, 47)

2022-05-30 23:35:14,157 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609304    5.7
27    612458   15.6
104  1157163    9.1
107  1157170    5.7
164  1157480    9.1

(345, 2)

2022-05-30 23:35:14,199 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.2873
Name: demand, dtype: float64

# units

land_use
Landed    345
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071875
Name: bin_service_cost, dtype: float64

(345, 61)

2022-05-30 23:35:14,256 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 345'

2022-05-30 23:35:14,332 - root - INFO - Preparing road network.......

2022-05-30 23:35:14,389 - root - INFO - Load required arcs
2022-05-30 23:35:14,391 - root - INFO - Merging with the network
2022-05-30 23:35:14,410 - root - INFO - Set depot
2022-05-30 23:35:14,413 - root - INFO - Set offload facilities
2022-05-30 23:35:14,421 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:14,468 - root - INFO - Checking master list
2022-05-30 23:35:14,473 - root - INFO - Load distance matrix: 531 x 531

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:15,188 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:15,200 - root - INFO - Calculate offloads: 531 x 531 x 2
2022-05-30 23:35:15,254 - root - INFO - Done!

[]

[]

2022-05-30 23:35:15,271 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:15,283 - root - INFO - Setting service cost for network
2022-05-30 23:35:15,290 - root - INFO - Setting demand for network
2022-05-30 23:35:15,298 - root - INFO - Update travel durations.
2022-05-30 23:35:15,300 - root - INFO - Update offload durations.
2022-05-30 23:35:15,301 - root - INFO - Done
2022-05-30 23:35:15,302 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:15,512 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:15,513 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:16,671 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,345,345,3.45,1.61,1.83,0.25,3.65,80.53,31.13,111.66,164.08,3.45
1,Total,1,1,,1,345,345,3.45,1.61,1.83,0.25,3.65,80.53,31.13,111.66,164.08,3.45

2022-05-30 23:35:16,682 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_077

(326, 42)

(326, 47)

2022-05-30 23:35:17,148 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609371    5.7
53   1157048   10.2
176  1157657    5.7
212  1157826    5.1
242  1157980   10.4

(326, 2)

2022-05-30 23:35:17,187 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.255808
Name: demand, dtype: float64

# units

land_use
Landed    326
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.067917
Name: bin_service_cost, dtype: float64

(326, 61)

2022-05-30 23:35:17,244 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 326'

2022-05-30 23:35:17,317 - root - INFO - Preparing road network.......

2022-05-30 23:35:17,375 - root - INFO - Load required arcs
2022-05-30 23:35:17,376 - root - INFO - Merging with the network
2022-05-30 23:35:17,395 - root - INFO - Set depot
2022-05-30 23:35:17,398 - root - INFO - Set offload facilities
2022-05-30 23:35:17,404 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:17,447 - root - INFO - Checking master list
2022-05-30 23:35:17,451 - root - INFO - Load distance matrix: 493 x 493

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:18,120 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:18,130 - root - INFO - Calculate offloads: 493 x 493 x 2
2022-05-30 23:35:18,182 - root - INFO - Done!

[]

[]

2022-05-30 23:35:18,200 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:18,211 - root - INFO - Setting service cost for network
2022-05-30 23:35:18,219 - root - INFO - Setting demand for network
2022-05-30 23:35:18,226 - root - INFO - Update travel durations.
2022-05-30 23:35:18,228 - root - INFO - Update offload durations.
2022-05-30 23:35:18,229 - root - INFO - Done
2022-05-30 23:35:18,230 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:18,397 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:18,399 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:19,510 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,326,326,3.07,1.57,1.75,0.25,3.55,78.12,30.71,108.82,159.76,3.07
1,Total,1,1,,1,326,326,3.07,1.57,1.75,0.25,3.55,78.12,30.71,108.82,159.76,3.07

2022-05-30 23:35:19,520 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_078

(357, 42)

(357, 47)

2022-05-30 23:35:19,977 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
27    612424   13.0
185  1157668    5.7
197  1157710   13.0
296  1158162    5.7
430  1158815    5.7

(357, 2)

2022-05-30 23:35:20,012 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.301008
Name: demand, dtype: float64

# units

land_use
Landed    357
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.074375
Name: bin_service_cost, dtype: float64

(357, 61)

2022-05-30 23:35:20,072 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 357'

2022-05-30 23:35:20,146 - root - INFO - Preparing road network.......

2022-05-30 23:35:20,202 - root - INFO - Load required arcs
2022-05-30 23:35:20,204 - root - INFO - Merging with the network
2022-05-30 23:35:20,227 - root - INFO - Set depot
2022-05-30 23:35:20,229 - root - INFO - Set offload facilities
2022-05-30 23:35:20,237 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:20,280 - root - INFO - Checking master list
2022-05-30 23:35:20,285 - root - INFO - Load distance matrix: 563 x 563

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:21,065 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:21,077 - root - INFO - Calculate offloads: 563 x 563 x 2
2022-05-30 23:35:21,132 - root - INFO - Done!

[]

[]

2022-05-30 23:35:21,152 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:21,165 - root - INFO - Setting service cost for network
2022-05-30 23:35:21,172 - root - INFO - Setting demand for network
2022-05-30 23:35:21,180 - root - INFO - Update travel durations.
2022-05-30 23:35:21,181 - root - INFO - Update offload durations.
2022-05-30 23:35:21,184 - root - INFO - Done
2022-05-30 23:35:21,184 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:21,386 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:21,387 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:22,465 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,357,357,3.61,1.74,2.0,0.25,3.95,88.08,34.33,122.42,179.78,3.61
1,Total,1,1,,1,357,357,3.61,1.74,2.0,0.25,3.95,88.08,34.33,122.42,179.78,3.61

2022-05-30 23:35:22,475 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_079

(355, 42)

(355, 47)

2022-05-30 23:35:22,933 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609343    9.1
245  1157857   10.4
303  1158187    5.7
629  1158993   10.4
935  1159310    5.7

(355, 2)

2022-05-30 23:35:22,970 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.293658
Name: demand, dtype: float64

# units

land_use
Landed    355
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.073958
Name: bin_service_cost, dtype: float64

(355, 61)

2022-05-30 23:35:23,027 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 355'

2022-05-30 23:35:23,102 - root - INFO - Preparing road network.......

2022-05-30 23:35:23,159 - root - INFO - Load required arcs
2022-05-30 23:35:23,162 - root - INFO - Merging with the network
2022-05-30 23:35:23,180 - root - INFO - Set depot
2022-05-30 23:35:23,185 - root - INFO - Set offload facilities
2022-05-30 23:35:23,192 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:23,240 - root - INFO - Checking master list
2022-05-30 23:35:23,245 - root - INFO - Load distance matrix: 528 x 528

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:23,952 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:23,963 - root - INFO - Calculate offloads: 528 x 528 x 2
2022-05-30 23:35:24,014 - root - INFO - Done!

[]

[]

2022-05-30 23:35:24,035 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:24,046 - root - INFO - Setting service cost for network
2022-05-30 23:35:24,055 - root - INFO - Setting demand for network
2022-05-30 23:35:24,062 - root - INFO - Update travel durations.
2022-05-30 23:35:24,065 - root - INFO - Update offload durations.
2022-05-30 23:35:24,067 - root - INFO - Done
2022-05-30 23:35:24,067 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:24,253 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:24,255 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:25,289 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,355,355,3.52,1.62,1.97,0.25,3.8,86.68,30.9,117.58,171.1,3.52
1,Total,1,1,,1,355,355,3.52,1.62,1.97,0.25,3.8,86.68,30.9,117.58,171.1,3.52

2022-05-30 23:35:25,299 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_080

(345, 42)

(345, 47)

2022-05-30 23:35:25,767 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
182  1157622   13.6
212  1157758    5.7
234  1157877   16.4
242  1157912   19.7
245  1157926    5.7

(345, 2)

2022-05-30 23:35:25,803 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.294683
Name: demand, dtype: float64

# units

land_use
Landed    345
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071875
Name: bin_service_cost, dtype: float64

(345, 61)

2022-05-30 23:35:25,863 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 345'

2022-05-30 23:35:25,937 - root - INFO - Preparing road network.......

2022-05-30 23:35:25,994 - root - INFO - Load required arcs
2022-05-30 23:35:25,996 - root - INFO - Merging with the network
2022-05-30 23:35:26,019 - root - INFO - Set depot
2022-05-30 23:35:26,022 - root - INFO - Set offload facilities
2022-05-30 23:35:26,029 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:26,075 - root - INFO - Checking master list
2022-05-30 23:35:26,080 - root - INFO - Load distance matrix: 525 x 525

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:26,823 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:26,837 - root - INFO - Calculate offloads: 525 x 525 x 2
2022-05-30 23:35:26,894 - root - INFO - Done!

[]

[]

2022-05-30 23:35:26,911 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:26,927 - root - INFO - Setting service cost for network
2022-05-30 23:35:26,937 - root - INFO - Setting demand for network
2022-05-30 23:35:26,944 - root - INFO - Update travel durations.
2022-05-30 23:35:26,946 - root - INFO - Update offload durations.
2022-05-30 23:35:26,948 - root - INFO - Done
2022-05-30 23:35:26,948 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:27,132 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:27,134 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:28,254 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,345,345,3.54,1.67,2.07,0.25,3.95,91.35,32.79,124.14,180.5,3.54
1,Total,1,1,,1,345,345,3.54,1.67,2.07,0.25,3.95,91.35,32.79,124.14,180.5,3.54

2022-05-30 23:35:28,266 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_081

(346, 42)

(346, 47)

2022-05-30 23:35:28,726 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
15    610241    5.7
245  1158058    5.7
330  1158500    5.7
560  1158970   17.8
666  1159082   17.8

(346, 2)

2022-05-30 23:35:28,764 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.29605
Name: demand, dtype: float64

# units

land_use
Landed    346
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.072083
Name: bin_service_cost, dtype: float64

(346, 61)

2022-05-30 23:35:28,823 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 346'

2022-05-30 23:35:28,899 - root - INFO - Preparing road network.......

2022-05-30 23:35:28,967 - root - INFO - Load required arcs
2022-05-30 23:35:28,969 - root - INFO - Merging with the network
2022-05-30 23:35:28,987 - root - INFO - Set depot
2022-05-30 23:35:28,991 - root - INFO - Set offload facilities
2022-05-30 23:35:29,000 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:29,050 - root - INFO - Checking master list
2022-05-30 23:35:29,055 - root - INFO - Load distance matrix: 522 x 522

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:29,761 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:29,772 - root - INFO - Calculate offloads: 522 x 522 x 2
2022-05-30 23:35:29,825 - root - INFO - Done!

[]

[]

2022-05-30 23:35:29,842 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:29,857 - root - INFO - Setting service cost for network
2022-05-30 23:35:29,866 - root - INFO - Setting demand for network
2022-05-30 23:35:29,873 - root - INFO - Update travel durations.
2022-05-30 23:35:29,875 - root - INFO - Update offload durations.
2022-05-30 23:35:29,877 - root - INFO - Done
2022-05-30 23:35:29,877 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:30,053 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:30,054 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:31,059 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,346,346,3.55,1.62,1.69,0.25,3.54,75.25,31.17,106.42,157.96,3.55
1,Total,1,1,,1,346,346,3.55,1.62,1.69,0.25,3.54,75.25,31.17,106.42,157.96,3.55

2022-05-30 23:35:31,069 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_082

(349, 42)

(349, 47)

2022-05-30 23:35:31,532 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
15    610115    5.7
27    612049   21.1
185  1157654   13.0
242  1157923    5.7
254  1157994   25.3

(349, 2)

2022-05-30 23:35:31,568 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.276058
Name: demand, dtype: float64

# units

land_use
Landed    349
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.072708
Name: bin_service_cost, dtype: float64

(349, 61)

2022-05-30 23:35:31,624 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 349'

2022-05-30 23:35:31,697 - root - INFO - Preparing road network.......

2022-05-30 23:35:31,756 - root - INFO - Load required arcs
2022-05-30 23:35:31,757 - root - INFO - Merging with the network
2022-05-30 23:35:31,778 - root - INFO - Set depot
2022-05-30 23:35:31,781 - root - INFO - Set offload facilities
2022-05-30 23:35:31,789 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:31,833 - root - INFO - Checking master list
2022-05-30 23:35:31,838 - root - INFO - Load distance matrix: 548 x 548

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:32,555 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:32,568 - root - INFO - Calculate offloads: 548 x 548 x 2
2022-05-30 23:35:32,623 - root - INFO - Done!

[]

[]

2022-05-30 23:35:32,640 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:32,652 - root - INFO - Setting service cost for network
2022-05-30 23:35:32,664 - root - INFO - Setting demand for network
2022-05-30 23:35:32,672 - root - INFO - Update travel durations.
2022-05-30 23:35:32,673 - root - INFO - Update offload durations.
2022-05-30 23:35:32,676 - root - INFO - Done
2022-05-30 23:35:32,676 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:32,862 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:32,864 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:33,894 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,349,349,3.31,1.62,2.0,0.25,3.83,88.11,31.27,119.38,173.23,3.31
1,Total,1,1,,1,349,349,3.31,1.62,2.0,0.25,3.83,88.11,31.27,119.38,173.23,3.31

2022-05-30 23:35:33,904 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_083

(338, 42)

(338, 47)

2022-05-30 23:35:34,395 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
194  1157633    5.7
212  1157736   13.0
290  1158029   11.9
296  1158062    9.1
533  1158896   14.8

(338, 2)

2022-05-30 23:35:34,434 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.281725
Name: demand, dtype: float64

# units

land_use
Landed    338
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.070417
Name: bin_service_cost, dtype: float64

(338, 61)

2022-05-30 23:35:34,502 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 338'

2022-05-30 23:35:34,577 - root - INFO - Preparing road network.......

2022-05-30 23:35:34,638 - root - INFO - Load required arcs
2022-05-30 23:35:34,639 - root - INFO - Merging with the network
2022-05-30 23:35:34,659 - root - INFO - Set depot
2022-05-30 23:35:34,663 - root - INFO - Set offload facilities
2022-05-30 23:35:34,669 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:34,717 - root - INFO - Checking master list
2022-05-30 23:35:34,722 - root - INFO - Load distance matrix: 547 x 547

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:35,510 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:35,523 - root - INFO - Calculate offloads: 547 x 547 x 2
2022-05-30 23:35:35,577 - root - INFO - Done!

[]

[]

2022-05-30 23:35:35,593 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:35,606 - root - INFO - Setting service cost for network
2022-05-30 23:35:35,615 - root - INFO - Setting demand for network
2022-05-30 23:35:35,622 - root - INFO - Update travel durations.
2022-05-30 23:35:35,624 - root - INFO - Update offload durations.
2022-05-30 23:35:35,625 - root - INFO - Done
2022-05-30 23:35:35,626 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:35,829 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:35,831 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:37,026 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,338,338,3.38,1.67,2.13,0.25,3.98,92.87,33.16,126.03,182.83,3.38
1,Total,1,1,,1,338,338,3.38,1.67,2.13,0.25,3.98,92.87,33.16,126.03,182.83,3.38

2022-05-30 23:35:37,036 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_084

(297, 42)

(297, 47)

2022-05-30 23:35:37,505 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
104  1157276    5.7
107  1157284    5.1
242  1157961    5.7
254  1158028   15.6
278  1158137    9.1

(297, 2)

2022-05-30 23:35:37,543 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.253083
Name: demand, dtype: float64

# units

land_use
Landed    297
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.061875
Name: bin_service_cost, dtype: float64

(297, 61)

2022-05-30 23:35:37,600 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 297'

2022-05-30 23:35:37,674 - root - INFO - Preparing road network.......

2022-05-30 23:35:37,727 - root - INFO - Load required arcs
2022-05-30 23:35:37,728 - root - INFO - Merging with the network
2022-05-30 23:35:37,747 - root - INFO - Set depot
2022-05-30 23:35:37,750 - root - INFO - Set offload facilities
2022-05-30 23:35:37,758 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:37,806 - root - INFO - Checking master list
2022-05-30 23:35:37,810 - root - INFO - Load distance matrix: 476 x 476

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:38,491 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:38,500 - root - INFO - Calculate offloads: 476 x 476 x 2
2022-05-30 23:35:38,551 - root - INFO - Done!

[]

[]

2022-05-30 23:35:38,568 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:38,579 - root - INFO - Setting service cost for network
2022-05-30 23:35:38,588 - root - INFO - Setting demand for network
2022-05-30 23:35:38,594 - root - INFO - Update travel durations.
2022-05-30 23:35:38,596 - root - INFO - Update offload durations.
2022-05-30 23:35:38,598 - root - INFO - Done
2022-05-30 23:35:38,598 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:38,834 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:38,840 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:39,822 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,297,297,3.04,1.35,1.82,0.25,3.4,80.84,25.76,106.6,153.09,3.04
1,Total,1,1,,1,297,297,3.04,1.35,1.82,0.25,3.4,80.84,25.76,106.6,153.09,3.04

2022-05-30 23:35:39,831 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_085

(325, 42)

(325, 47)

2022-05-30 23:35:40,297 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
27   1156873    5.7
182  1157710   14.8
430  1158824   17.3
560  1158960   14.8
618  1159020    9.4

(325, 2)

2022-05-30 23:35:40,334 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.269142
Name: demand, dtype: float64

# units

land_use
Landed    325
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.067708
Name: bin_service_cost, dtype: float64

(325, 61)

2022-05-30 23:35:40,392 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 325'

2022-05-30 23:35:40,470 - root - INFO - Preparing road network.......

2022-05-30 23:35:40,526 - root - INFO - Load required arcs
2022-05-30 23:35:40,527 - root - INFO - Merging with the network
2022-05-30 23:35:40,546 - root - INFO - Set depot
2022-05-30 23:35:40,550 - root - INFO - Set offload facilities
2022-05-30 23:35:40,558 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:40,600 - root - INFO - Checking master list
2022-05-30 23:35:40,605 - root - INFO - Load distance matrix: 511 x 511

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:41,318 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:41,329 - root - INFO - Calculate offloads: 511 x 511 x 2
2022-05-30 23:35:41,381 - root - INFO - Done!

[]

[]

2022-05-30 23:35:41,398 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:41,411 - root - INFO - Setting service cost for network
2022-05-30 23:35:41,420 - root - INFO - Setting demand for network
2022-05-30 23:35:41,427 - root - INFO - Update travel durations.
2022-05-30 23:35:41,430 - root - INFO - Update offload durations.
2022-05-30 23:35:41,432 - root - INFO - Done
2022-05-30 23:35:41,433 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:41,611 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:41,613 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:42,592 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,325,325,3.23,1.63,1.88,0.25,3.72,82.58,32.76,115.34,169.47,3.23
1,Total,1,1,,1,325,325,3.23,1.63,1.88,0.25,3.72,82.58,32.76,115.34,169.47,3.23

2022-05-30 23:35:42,604 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_086

(348, 42)

(348, 47)

2022-05-30 23:35:43,067 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
278  1158091    5.7
437  1158773   14.8
618  1158968    5.7
839  1159194   13.0
954  1159317   30.1

(348, 2)

2022-05-30 23:35:43,107 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.291375
Name: demand, dtype: float64

# units

land_use
Landed    348
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.0725
Name: bin_service_cost, dtype: float64

(348, 61)

2022-05-30 23:35:43,162 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 348'

2022-05-30 23:35:43,232 - root - INFO - Preparing road network.......

2022-05-30 23:35:43,287 - root - INFO - Load required arcs
2022-05-30 23:35:43,288 - root - INFO - Merging with the network
2022-05-30 23:35:43,310 - root - INFO - Set depot
2022-05-30 23:35:43,314 - root - INFO - Set offload facilities
2022-05-30 23:35:43,322 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:43,366 - root - INFO - Checking master list
2022-05-30 23:35:43,370 - root - INFO - Load distance matrix: 542 x 542

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:44,146 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:44,159 - root - INFO - Calculate offloads: 542 x 542 x 2
2022-05-30 23:35:44,211 - root - INFO - Done!

[]

[]

2022-05-30 23:35:44,227 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:44,241 - root - INFO - Setting service cost for network
2022-05-30 23:35:44,247 - root - INFO - Setting demand for network
2022-05-30 23:35:44,256 - root - INFO - Update travel durations.
2022-05-30 23:35:44,257 - root - INFO - Update offload durations.
2022-05-30 23:35:44,260 - root - INFO - Done
2022-05-30 23:35:44,261 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:44,443 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:44,444 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:45,503 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,348,348,3.5,1.63,1.93,0.25,3.8,86.52,31.53,118.05,172.13,3.5
1,Total,1,1,,1,348,348,3.5,1.63,1.93,0.25,3.8,86.52,31.53,118.05,172.13,3.5

2022-05-30 23:35:45,513 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_087

(342, 42)

(342, 47)

2022-05-30 23:35:45,982 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
200  1157737   17.8
290  1158164    8.2
548  1158934   19.7
680  1159075   21.7
861  1159261    5.7

(342, 2)

2022-05-30 23:35:46,018 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.282392
Name: demand, dtype: float64

# units

land_use
Landed    342
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.07125
Name: bin_service_cost, dtype: float64

(342, 61)

2022-05-30 23:35:46,072 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 342'

2022-05-30 23:35:46,145 - root - INFO - Preparing road network.......

2022-05-30 23:35:46,205 - root - INFO - Load required arcs
2022-05-30 23:35:46,206 - root - INFO - Merging with the network
2022-05-30 23:35:46,225 - root - INFO - Set depot
2022-05-30 23:35:46,229 - root - INFO - Set offload facilities
2022-05-30 23:35:46,236 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:46,281 - root - INFO - Checking master list
2022-05-30 23:35:46,286 - root - INFO - Load distance matrix: 527 x 527

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:46,971 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:46,982 - root - INFO - Calculate offloads: 527 x 527 x 2
2022-05-30 23:35:47,033 - root - INFO - Done!

[]

[]

2022-05-30 23:35:47,051 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:47,062 - root - INFO - Setting service cost for network
2022-05-30 23:35:47,069 - root - INFO - Setting demand for network
2022-05-30 23:35:47,076 - root - INFO - Update travel durations.
2022-05-30 23:35:47,077 - root - INFO - Update offload durations.
2022-05-30 23:35:47,079 - root - INFO - Done
2022-05-30 23:35:47,080 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:47,264 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:47,266 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:48,242 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,342,342,3.39,1.59,1.77,0.25,3.58,78.37,30.49,108.86,160.1,3.39
1,Total,1,1,,1,342,342,3.39,1.59,1.77,0.25,3.58,78.37,30.49,108.86,160.1,3.39

2022-05-30 23:35:48,251 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_088

(353, 42)

(353, 47)

2022-05-30 23:35:48,720 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
53   1156996    8.2
176  1157575   11.3
185  1157623   14.8
242  1157841    5.7
254  1157891    9.1

(353, 2)

2022-05-30 23:35:48,756 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.295208
Name: demand, dtype: float64

# units

land_use
Landed    353
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.073542
Name: bin_service_cost, dtype: float64

(353, 61)

2022-05-30 23:35:48,815 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 353'

2022-05-30 23:35:48,887 - root - INFO - Preparing road network.......

2022-05-30 23:35:48,944 - root - INFO - Load required arcs
2022-05-30 23:35:48,946 - root - INFO - Merging with the network
2022-05-30 23:35:48,968 - root - INFO - Set depot
2022-05-30 23:35:48,970 - root - INFO - Set offload facilities
2022-05-30 23:35:48,978 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:49,024 - root - INFO - Checking master list
2022-05-30 23:35:49,028 - root - INFO - Load distance matrix: 558 x 558

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:49,754 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:49,766 - root - INFO - Calculate offloads: 558 x 558 x 2
2022-05-30 23:35:49,822 - root - INFO - Done!

[]

[]

2022-05-30 23:35:49,843 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:49,855 - root - INFO - Setting service cost for network
2022-05-30 23:35:49,863 - root - INFO - Setting demand for network
2022-05-30 23:35:49,870 - root - INFO - Update travel durations.
2022-05-30 23:35:49,873 - root - INFO - Update offload durations.
2022-05-30 23:35:49,875 - root - INFO - Done
2022-05-30 23:35:49,876 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:50,074 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:50,076 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:51,108 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,353,353,3.54,1.67,1.72,0.25,3.61,76.06,32.32,108.38,161.23,3.54
1,Total,1,1,,1,353,353,3.54,1.67,1.72,0.25,3.61,76.06,32.32,108.38,161.23,3.54

2022-05-30 23:35:51,119 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_089

(357, 42)

(357, 47)

2022-05-30 23:35:51,579 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

           id  waste
296   1158165    5.1
753   1159130    5.7
917   1159302   13.6
984   1159370   15.6
1031  1159417   17.8

(357, 2)

2022-05-30 23:35:51,726 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.294992
Name: demand, dtype: float64

# units

land_use
Landed    357
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.074375
Name: bin_service_cost, dtype: float64

(357, 61)

2022-05-30 23:35:51,783 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 357'

2022-05-30 23:35:51,858 - root - INFO - Preparing road network.......

2022-05-30 23:35:51,912 - root - INFO - Load required arcs
2022-05-30 23:35:51,914 - root - INFO - Merging with the network
2022-05-30 23:35:51,935 - root - INFO - Set depot
2022-05-30 23:35:51,938 - root - INFO - Set offload facilities
2022-05-30 23:35:51,945 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:51,991 - root - INFO - Checking master list
2022-05-30 23:35:51,996 - root - INFO - Load distance matrix: 554 x 554

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:52,746 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:52,759 - root - INFO - Calculate offloads: 554 x 554 x 2
2022-05-30 23:35:52,817 - root - INFO - Done!

[]

[]

2022-05-30 23:35:52,833 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:52,847 - root - INFO - Setting service cost for network
2022-05-30 23:35:52,855 - root - INFO - Setting demand for network
2022-05-30 23:35:52,863 - root - INFO - Update travel durations.
2022-05-30 23:35:52,865 - root - INFO - Update offload durations.
2022-05-30 23:35:52,867 - root - INFO - Done
2022-05-30 23:35:52,868 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:53,062 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:53,064 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:54,140 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 2
0,,1,1,Mon,1,357,357,3.54,1.76,1.76,0.25,3.74,77.85,35.06,112.91,168.85,3.54
1,Total,1,1,,1,357,357,3.54,1.76,1.76,0.25,3.74,77.85,35.06,112.91,168.85,3.54

2022-05-30 23:35:54,149 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_090

(350, 42)

(350, 47)

2022-05-30 23:35:54,615 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

           id  waste
303   1158122    9.1
430   1158768    5.7
455   1158814    5.7
560   1158923    5.7
1050  1159430   17.8

(350, 2)

2022-05-30 23:35:54,649 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.2906
Name: demand, dtype: float64

# units

land_use
Landed    350
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.072917
Name: bin_service_cost, dtype: float64

(350, 61)

2022-05-30 23:35:54,711 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 350'

2022-05-30 23:35:54,786 - root - INFO - Preparing road network.......

2022-05-30 23:35:54,845 - root - INFO - Load required arcs
2022-05-30 23:35:54,846 - root - INFO - Merging with the network
2022-05-30 23:35:54,871 - root - INFO - Set depot
2022-05-30 23:35:54,874 - root - INFO - Set offload facilities
2022-05-30 23:35:54,882 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:54,928 - root - INFO - Checking master list
2022-05-30 23:35:54,932 - root - INFO - Load distance matrix: 530 x 530

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:55,681 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:55,693 - root - INFO - Calculate offloads: 530 x 530 x 2
2022-05-30 23:35:55,748 - root - INFO - Done!

[]

[]

2022-05-30 23:35:55,769 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:55,780 - root - INFO - Setting service cost for network
2022-05-30 23:35:55,789 - root - INFO - Setting demand for network
2022-05-30 23:35:55,796 - root - INFO - Update travel durations.
2022-05-30 23:35:55,798 - root - INFO - Update offload durations.
2022-05-30 23:35:55,800 - root - INFO - Done
2022-05-30 23:35:55,801 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:55,985 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:55,987 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:35:57,042 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,350,350,3.49,1.66,2.06,0.25,3.93,90.99,32.22,123.21,178.86,3.49
1,Total,1,1,,1,350,350,3.49,1.66,2.06,0.25,3.93,90.99,32.22,123.21,178.86,3.49

2022-05-30 23:35:57,052 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_091

(356, 42)

(356, 47)

2022-05-30 23:35:57,536 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
53   1156969    5.7
104  1157158    5.7
212  1157621    5.7
290  1158025    5.7
330  1158229    5.7

(356, 2)

2022-05-30 23:35:57,576 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.293442
Name: demand, dtype: float64

# units

land_use
Landed    356
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.074167
Name: bin_service_cost, dtype: float64

(356, 61)

2022-05-30 23:35:57,634 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 356'

2022-05-30 23:35:57,709 - root - INFO - Preparing road network.......

2022-05-30 23:35:57,774 - root - INFO - Load required arcs
2022-05-30 23:35:57,775 - root - INFO - Merging with the network
2022-05-30 23:35:57,797 - root - INFO - Set depot
2022-05-30 23:35:57,801 - root - INFO - Set offload facilities
2022-05-30 23:35:57,808 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:35:57,853 - root - INFO - Checking master list
2022-05-30 23:35:57,857 - root - INFO - Load distance matrix: 566 x 566

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:35:58,659 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:35:58,672 - root - INFO - Calculate offloads: 566 x 566 x 2
2022-05-30 23:35:58,728 - root - INFO - Done!

[]

[]

2022-05-30 23:35:58,745 - root - INFO - Uploading scenario inputs...
2022-05-30 23:35:58,758 - root - INFO - Setting service cost for network
2022-05-30 23:35:58,765 - root - INFO - Setting demand for network
2022-05-30 23:35:58,772 - root - INFO - Update travel durations.
2022-05-30 23:35:58,774 - root - INFO - Update offload durations.
2022-05-30 23:35:58,777 - root - INFO - Done
2022-05-30 23:35:58,778 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:35:59,014 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:35:59,015 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:36:00,119 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,356,356,3.52,1.71,1.7,0.25,3.67,76.56,33.62,110.18,164.39,3.52
1,Total,1,1,,1,356,356,3.52,1.71,1.7,0.25,3.67,76.56,33.62,110.18,164.39,3.52

2022-05-30 23:36:00,128 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_092

(348, 42)

(348, 47)

2022-05-30 23:36:00,592 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609329   17.8
197  1157741    9.1
278  1158151    5.7
533  1158931   19.7
618  1159020   17.8

(348, 2)

2022-05-30 23:36:00,630 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.302342
Name: demand, dtype: float64

# units

land_use
Landed    348
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.0725
Name: bin_service_cost, dtype: float64

(348, 61)

2022-05-30 23:36:00,685 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 348'

2022-05-30 23:36:00,756 - root - INFO - Preparing road network.......

2022-05-30 23:36:00,846 - root - INFO - Load required arcs
2022-05-30 23:36:00,862 - root - INFO - Merging with the network
2022-05-30 23:36:00,941 - root - INFO - Set depot
2022-05-30 23:36:00,948 - root - INFO - Set offload facilities
2022-05-30 23:36:00,961 - root - INFO - Extend required arcs with inverse edge arcs

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:36:01,053 - root - INFO - Checking master list
2022-05-30 23:36:01,065 - root - INFO - Load distance matrix: 543 x 543

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:36:01,851 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:36:01,863 - root - INFO - Calculate offloads: 543 x 543 x 2
2022-05-30 23:36:01,917 - root - INFO - Done!

[]

[]

2022-05-30 23:36:01,933 - root - INFO - Uploading scenario inputs...
2022-05-30 23:36:01,945 - root - INFO - Setting service cost for network
2022-05-30 23:36:01,954 - root - INFO - Setting demand for network
2022-05-30 23:36:01,963 - root - INFO - Update travel durations.
2022-05-30 23:36:01,964 - root - INFO - Update offload durations.
2022-05-30 23:36:01,967 - root - INFO - Done
2022-05-30 23:36:01,968 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:36:02,178 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:36:02,180 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:36:03,292 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,348,348,3.63,1.71,1.87,0.25,3.8,82.92,33.96,116.87,172.86,3.63
1,Total,1,1,,1,348,348,3.63,1.71,1.87,0.25,3.8,82.92,33.96,116.87,172.86,3.63

2022-05-30 23:36:03,302 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_093

(352, 42)

(352, 47)

2022-05-30 23:36:03,760 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
185  1157664    8.2
194  1157731   15.6
197  1157747    5.1
212  1157806    5.7
234  1157918    9.1

(352, 2)

2022-05-30 23:36:03,799 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.298975
Name: demand, dtype: float64

# units

land_use
Landed    352
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.073333
Name: bin_service_cost, dtype: float64

(352, 61)

2022-05-30 23:36:03,858 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 352'

2022-05-30 23:36:03,932 - root - INFO - Preparing road network.......

2022-05-30 23:36:03,989 - root - INFO - Load required arcs
2022-05-30 23:36:03,991 - root - INFO - Merging with the network
2022-05-30 23:36:04,013 - root - INFO - Set depot
2022-05-30 23:36:04,017 - root - INFO - Set offload facilities
2022-05-30 23:36:04,024 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:36:04,068 - root - INFO - Checking master list
2022-05-30 23:36:04,072 - root - INFO - Load distance matrix: 544 x 544

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:36:04,806 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:36:04,818 - root - INFO - Calculate offloads: 544 x 544 x 2
2022-05-30 23:36:04,882 - root - INFO - Done!

[]

[]

2022-05-30 23:36:04,903 - root - INFO - Uploading scenario inputs...
2022-05-30 23:36:04,921 - root - INFO - Setting service cost for network
2022-05-30 23:36:04,930 - root - INFO - Setting demand for network
2022-05-30 23:36:04,940 - root - INFO - Update travel durations.
2022-05-30 23:36:04,942 - root - INFO - Update offload durations.
2022-05-30 23:36:04,948 - root - INFO - Done
2022-05-30 23:36:04,949 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:36:05,155 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:36:05,157 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:36:06,494 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,352,352,3.59,1.7,1.82,0.25,3.74,80.23,33.51,113.74,168.67,3.59
1,Total,1,1,,1,352,352,3.59,1.7,1.82,0.25,3.74,80.23,33.51,113.74,168.67,3.59

2022-05-30 23:36:06,505 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_094

(338, 42)

(338, 47)

2022-05-30 23:36:06,998 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
53   1157000    5.7
164  1157580    9.1
176  1157629   17.8
212  1157816    5.7
629  1159021   32.5

(338, 2)

2022-05-30 23:36:07,047 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.273642
Name: demand, dtype: float64

# units

land_use
Landed    338
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.070417
Name: bin_service_cost, dtype: float64

(338, 61)

2022-05-30 23:36:07,115 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 338'

2022-05-30 23:36:07,204 - root - INFO - Preparing road network.......

2022-05-30 23:36:07,269 - root - INFO - Load required arcs
2022-05-30 23:36:07,271 - root - INFO - Merging with the network
2022-05-30 23:36:07,295 - root - INFO - Set depot
2022-05-30 23:36:07,299 - root - INFO - Set offload facilities
2022-05-30 23:36:07,308 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:36:07,358 - root - INFO - Checking master list
2022-05-30 23:36:07,362 - root - INFO - Load distance matrix: 503 x 503

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:36:08,106 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:36:08,116 - root - INFO - Calculate offloads: 503 x 503 x 2
2022-05-30 23:36:08,173 - root - INFO - Done!

[]

[]

2022-05-30 23:36:08,192 - root - INFO - Uploading scenario inputs...
2022-05-30 23:36:08,212 - root - INFO - Setting service cost for network
2022-05-30 23:36:08,224 - root - INFO - Setting demand for network
2022-05-30 23:36:08,234 - root - INFO - Update travel durations.
2022-05-30 23:36:08,236 - root - INFO - Update offload durations.
2022-05-30 23:36:08,239 - root - INFO - Done
2022-05-30 23:36:08,240 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:36:08,447 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:36:08,448 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:36:09,627 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,338,338,3.28,1.54,1.66,0.25,3.41,73.0,29.29,102.3,151.11,3.28
1,Total,1,1,,1,338,338,3.28,1.54,1.66,0.25,3.41,73.0,29.29,102.3,151.11,3.28

2022-05-30 23:36:09,637 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_095

(373, 42)

(373, 47)

2022-05-30 23:36:10,111 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
185  1157720    5.7
245  1157991    7.1
629  1159010    5.7
692  1159076   10.4
753  1159138    5.7

(373, 2)

2022-05-30 23:36:10,152 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.307533
Name: demand, dtype: float64

# units

land_use
Landed    373
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.077708
Name: bin_service_cost, dtype: float64

(373, 61)

2022-05-30 23:36:10,216 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 373'

2022-05-30 23:36:10,295 - root - INFO - Preparing road network.......

2022-05-30 23:36:10,358 - root - INFO - Load required arcs
2022-05-30 23:36:10,360 - root - INFO - Merging with the network
2022-05-30 23:36:10,380 - root - INFO - Set depot
2022-05-30 23:36:10,384 - root - INFO - Set offload facilities
2022-05-30 23:36:10,391 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:36:10,438 - root - INFO - Checking master list
2022-05-30 23:36:10,443 - root - INFO - Load distance matrix: 588 x 588

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:36:11,239 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:36:11,252 - root - INFO - Calculate offloads: 588 x 588 x 2
2022-05-30 23:36:11,309 - root - INFO - Done!

[]

[]

2022-05-30 23:36:11,325 - root - INFO - Uploading scenario inputs...
2022-05-30 23:36:11,338 - root - INFO - Setting service cost for network
2022-05-30 23:36:11,346 - root - INFO - Setting demand for network
2022-05-30 23:36:11,354 - root - INFO - Update travel durations.
2022-05-30 23:36:11,356 - root - INFO - Update offload durations.
2022-05-30 23:36:11,358 - root - INFO - Done
2022-05-30 23:36:11,359 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:36:11,603 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:36:11,605 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:36:12,976 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,373,373,3.69,1.78,1.86,0.25,3.86,82.49,34.71,117.21,173.95,3.69
1,Total,1,1,,1,373,373,3.69,1.78,1.86,0.25,3.86,82.49,34.71,117.21,173.95,3.69

2022-05-30 23:36:12,987 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_096

(355, 42)

(355, 47)

2022-05-30 23:36:13,581 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

           id  waste
254   1158043   11.3
278   1158190   17.8
290   1158223    5.7
1020  1159435    5.7
1317  1159739   16.3

(355, 2)

2022-05-30 23:36:13,641 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.284283
Name: demand, dtype: float64

# units

land_use
Landed    355
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.073958
Name: bin_service_cost, dtype: float64

(355, 61)

2022-05-30 23:36:13,723 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 355'

2022-05-30 23:36:13,821 - root - INFO - Preparing road network.......

2022-05-30 23:36:13,897 - root - INFO - Load required arcs
2022-05-30 23:36:13,899 - root - INFO - Merging with the network
2022-05-30 23:36:13,925 - root - INFO - Set depot
2022-05-30 23:36:13,929 - root - INFO - Set offload facilities
2022-05-30 23:36:13,937 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:36:13,996 - root - INFO - Checking master list
2022-05-30 23:36:14,001 - root - INFO - Load distance matrix: 537 x 537

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:36:14,765 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:36:14,776 - root - INFO - Calculate offloads: 537 x 537 x 2
2022-05-30 23:36:14,840 - root - INFO - Done!

[]

[]

2022-05-30 23:36:14,858 - root - INFO - Uploading scenario inputs...
2022-05-30 23:36:14,869 - root - INFO - Setting service cost for network
2022-05-30 23:36:14,877 - root - INFO - Setting demand for network
2022-05-30 23:36:14,884 - root - INFO - Update travel durations.
2022-05-30 23:36:14,886 - root - INFO - Update offload durations.
2022-05-30 23:36:14,888 - root - INFO - Done
2022-05-30 23:36:14,889 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:36:15,080 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:36:15,082 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:36:16,171 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,355,355,3.41,1.7,1.92,0.25,3.84,85.19,33.27,118.46,173.88,3.41
1,Total,1,1,,1,355,355,3.41,1.7,1.92,0.25,3.84,85.19,33.27,118.46,173.88,3.41

2022-05-30 23:36:16,180 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_097

(365, 42)

(365, 47)

2022-05-30 23:36:16,663 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
104  1157198    5.7
164  1157496   17.8
194  1157622    5.7
212  1157730   17.8
242  1157859   32.5

(365, 2)

2022-05-30 23:36:16,703 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.296633
Name: demand, dtype: float64

# units

land_use
Landed    365
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.076042
Name: bin_service_cost, dtype: float64

(365, 61)

2022-05-30 23:36:16,761 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 365'

2022-05-30 23:36:16,839 - root - INFO - Preparing road network.......

2022-05-30 23:36:16,902 - root - INFO - Load required arcs
2022-05-30 23:36:16,904 - root - INFO - Merging with the network
2022-05-30 23:36:16,927 - root - INFO - Set depot
2022-05-30 23:36:16,930 - root - INFO - Set offload facilities
2022-05-30 23:36:16,938 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:36:16,982 - root - INFO - Checking master list
2022-05-30 23:36:16,987 - root - INFO - Load distance matrix: 557 x 557

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:36:17,728 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:36:17,740 - root - INFO - Calculate offloads: 557 x 557 x 2
2022-05-30 23:36:17,796 - root - INFO - Done!

[]

[]

2022-05-30 23:36:17,813 - root - INFO - Uploading scenario inputs...
2022-05-30 23:36:17,829 - root - INFO - Setting service cost for network
2022-05-30 23:36:17,840 - root - INFO - Setting demand for network
2022-05-30 23:36:17,847 - root - INFO - Update travel durations.
2022-05-30 23:36:17,849 - root - INFO - Update offload durations.
2022-05-30 23:36:17,852 - root - INFO - Done
2022-05-30 23:36:17,852 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:36:18,058 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:36:18,060 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:36:19,111 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,365,365,3.56,1.65,1.77,0.25,3.62,77.52,31.2,108.72,160.76,3.56
1,Total,1,1,,1,365,365,3.56,1.65,1.77,0.25,3.62,77.52,31.2,108.72,160.76,3.56

2022-05-30 23:36:19,122 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_098

(343, 42)

(343, 47)

2022-05-30 23:36:19,596 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
149  1157504   16.0
164  1157624   11.3
194  1157792   19.7
290  1158238   26.0
430  1158807   11.3

(343, 2)

2022-05-30 23:36:19,637 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.291358
Name: demand, dtype: float64

# units

land_use
Landed    343
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.071458
Name: bin_service_cost, dtype: float64

(343, 61)

2022-05-30 23:36:19,698 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 343'

2022-05-30 23:36:19,772 - root - INFO - Preparing road network.......

2022-05-30 23:36:19,827 - root - INFO - Load required arcs
2022-05-30 23:36:19,829 - root - INFO - Merging with the network
2022-05-30 23:36:19,848 - root - INFO - Set depot
2022-05-30 23:36:19,852 - root - INFO - Set offload facilities
2022-05-30 23:36:19,862 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:36:19,905 - root - INFO - Checking master list
2022-05-30 23:36:19,909 - root - INFO - Load distance matrix: 519 x 519

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:36:20,683 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:36:20,694 - root - INFO - Calculate offloads: 519 x 519 x 2
2022-05-30 23:36:20,748 - root - INFO - Done!

[]

[]

2022-05-30 23:36:20,765 - root - INFO - Uploading scenario inputs...
2022-05-30 23:36:20,777 - root - INFO - Setting service cost for network
2022-05-30 23:36:20,785 - root - INFO - Setting demand for network
2022-05-30 23:36:20,792 - root - INFO - Update travel durations.
2022-05-30 23:36:20,794 - root - INFO - Update offload durations.
2022-05-30 23:36:20,795 - root - INFO - Done
2022-05-30 23:36:20,796 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:36:20,980 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:36:20,981 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:36:22,183 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,343,343,3.5,1.58,1.8,0.25,3.61,80.21,30.16,110.37,161.82,3.5
1,Total,1,1,,1,343,343,3.5,1.58,1.8,0.25,3.61,80.21,30.16,110.37,161.82,3.5

2022-05-30 23:36:22,193 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_099

(373, 42)

(373, 47)

2022-05-30 23:36:22,816 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
149  1157461   15.6
176  1157615   21.7
197  1157694    5.7
245  1157925   13.6
455  1158820    5.7

(373, 2)

2022-05-30 23:36:22,855 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.312942
Name: demand, dtype: float64

# units

land_use
Landed    373
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.077708
Name: bin_service_cost, dtype: float64

(373, 61)

2022-05-30 23:36:22,913 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 373'

2022-05-30 23:36:22,989 - root - INFO - Preparing road network.......

2022-05-30 23:36:23,049 - root - INFO - Load required arcs
2022-05-30 23:36:23,050 - root - INFO - Merging with the network
2022-05-30 23:36:23,074 - root - INFO - Set depot
2022-05-30 23:36:23,078 - root - INFO - Set offload facilities
2022-05-30 23:36:23,086 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:36:23,131 - root - INFO - Checking master list
2022-05-30 23:36:23,137 - root - INFO - Load distance matrix: 568 x 568

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:36:23,960 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:36:23,975 - root - INFO - Calculate offloads: 568 x 568 x 2
2022-05-30 23:36:24,032 - root - INFO - Done!

[]

[]

2022-05-30 23:36:24,050 - root - INFO - Uploading scenario inputs...
2022-05-30 23:36:24,063 - root - INFO - Setting service cost for network
2022-05-30 23:36:24,072 - root - INFO - Setting demand for network
2022-05-30 23:36:24,080 - root - INFO - Update travel durations.
2022-05-30 23:36:24,082 - root - INFO - Update offload durations.
2022-05-30 23:36:24,084 - root - INFO - Done
2022-05-30 23:36:24,085 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:36:24,296 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:36:24,298 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:36:25,472 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,373,373,3.76,1.76,1.94,0.25,3.93,86.36,34.14,120.5,177.54,3.76
1,Total,1,1,,1,373,373,3.76,1.76,1.94,0.25,3.93,86.36,34.14,120.5,177.54,3.76

2022-05-30 23:36:25,482 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...


 RUNNING SCENARIO households_100

(335, 42)

(335, 47)

2022-05-30 23:36:25,966 - kedro.io.data_catalog - INFO - Loading data from `waste_gen_scenarios_local` (PartitionedDataSet)...

          id  waste
2     609313   13.0
53   1157015    5.7
107  1157314    9.1
176  1157662   17.8
296  1158196    5.7

(335, 2)

2022-05-30 23:36:26,007 - kedro.io.data_catalog - INFO - Loading data from `routing_parameters` (ExcelDataSet)...

# offloads (12t)

land_use
Landed    0.281025
Name: demand, dtype: float64

# units

land_use
Landed    335
Name: total units, dtype: int64

# shifts (bin service cost)

land_use
Landed    0.069792
Name: bin_service_cost, dtype: float64

(335, 61)

2022-05-30 23:36:26,076 - kedro.io.data_catalog - INFO - Loading data from `infrastructure_sample_network_match` (CSVDataSet)...

  description             type  arc_index
2   Offload 1  waste_treatment      16002
3   Offload 2  waste_treatment      18170
4   Offload 3  waste_treatment      17421

  description   type  arc_index
0     Depot 1  depot       3259
1     Depot 2  depot      10907

['Depot 1', 'Depot 2']

  description   type
1     Depot 2  depot

  description             type
3   Offload 2  waste_treatment
4   Offload 3  waste_treatment

'Number of producers: 335'

2022-05-30 23:36:26,166 - root - INFO - Preparing road network.......

2022-05-30 23:36:26,231 - root - INFO - Load required arcs
2022-05-30 23:36:26,233 - root - INFO - Merging with the network
2022-05-30 23:36:26,258 - root - INFO - Set depot
2022-05-30 23:36:26,261 - root - INFO - Set offload facilities
2022-05-30 23:36:26,267 - root - INFO - Extend required arcs with inverse edge arcs
2022-05-30 23:36:26,315 - root - INFO - Checking master list
2022-05-30 23:36:26,320 - root - INFO - Load distance matrix: 512 x 512

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/leaf.py:544: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

2022-05-30 23:36:27,110 - root - INFO - Creating nearest neighbour lists
2022-05-30 23:36:27,121 - root - INFO - Calculate offloads: 512 x 512 x 2
2022-05-30 23:36:27,182 - root - INFO - Done!

[]

[]

2022-05-30 23:36:27,200 - root - INFO - Uploading scenario inputs...
2022-05-30 23:36:27,212 - root - INFO - Setting service cost for network
2022-05-30 23:36:27,220 - root - INFO - Setting demand for network
2022-05-30 23:36:27,227 - root - INFO - Update travel durations.
2022-05-30 23:36:27,229 - root - INFO - Update offload durations.
2022-05-30 23:36:27,230 - root - INFO - Done
2022-05-30 23:36:27,231 - root - INFO - Problem info supplied. Directly proceeding to solve problem.
Test route 0
Test trip 0
2022-05-30 23:36:27,404 - root - INFO - Done generating routes
Number of routes: 1
2022-05-30 23:36:27,406 - root - INFO - Preparing scenario outputs...

/Users/ejwillemse/opt/anaconda3/envs/python_RD/lib/python3.8/site-packages/tables/array.py:241: DeprecationWarning:

`np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

2022-05-30 23:36:28,520 - root - INFO - Done preparing output

/Users/ejwillemse/dev/waste_labs_dev/project_rdi_cpt/src/mcarptif/visualise/route_tables.py:146: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,,Vehicle,Route,Collection day,Offloads,Bins collected,Units served,Demand collected (ton),Time collecting (h),Time travelling (h),Time at treatment facility (h),Route duration (h),Traveling distance (km),Collecting distance (km),Total route distance (km),Electrical consumption (kWh),Tons disposed at @ Offload 3
0,,1,1,Mon,1,335,335,3.37,1.6,1.84,0.25,3.65,81.08,31.2,112.28,164.76,3.37
1,Total,1,1,,1,335,335,3.37,1.6,1.84,0.25,3.65,81.08,31.2,112.28,164.76,3.37

2022-05-30 23:36:28,531 - kedro.io.data_catalog - INFO - Saving data to `resource_summary_table` (PartitionedDataSet)...